<script type="text/javascript" type="text/javascript" src="/static/js/jquery.min-1.5.js"></script>
<script type="text/javascript" type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<link href="/static/css/jquery-ui.css"rel="stylesheet" type="text/css"/>
<script src="/static/js/lockScreen.js"></script>
<script type="text/javascript">
	fn_lockScreen();
</script>
<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
<script src="/static/js/jquery.dataTables.min.js"></script>
<link href="/static/css/dataTables_jui.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/dataTables_highlight.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="/static/js/resetPwd.js"></script>
<script type="text/javascript" src="/static/js/jquery_cookie.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
{% block body %}
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="button legend ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
			<span class="ui-button-text legend-text">用户密码管理</span>
		</legend>
		<div class="ui-log-panel">
			<table class="searchTable0">
				<tr>
					<td align="right">
						用户类型：
					</td>
					<td align="right" id="resetPwd_radioPanel">
						<input id="resetPwd_group" type="radio" value="enterprise" name="resetPwd_radioType" checked />
						<label id="tpsLable1" for="resetPwd_group">集团用户</label>
						
						<input id="resetPwd_operator" type="radio" value="operator" name="resetPwd_radioType" />
						<label id="tpsLable2" for="resetPwd_operator">操作员用户</label>
						
						<input id="resetPwd_personal" type="radio" value="individual" name="resetPwd_radioType" />
						<label id="tpsLable3" for="resetPwd_personal">个人用户</label>
					</td>
				</tr>
				<tr>
					<td align="right">
						用户手机号：
					</td>
					<td align="left">
						<input id="resetPwd_mobile" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td align="right" colspan="2">
						<input id="userPwd_saveBtn" type="button" value="提交" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false" />
					</td>
				</tr>
			</table>
		</div>	
	</fieldset>
{% end %}
