
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>移动车卫士各模块日志监控系统</title>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">     
	
	<link type="text/css" href="/static/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
	<link href="/static/css/dataTables_jui.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/dataTables_highlight.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" media="all" type="text/css" href="/static/css/jquery-ui-timepicker-addon.css" />
	
	<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.14.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-timepicker-zh-CN.js"></script>
	<script type="text/javascript" src="/static/js/jquery_cookie.js"></script>
	<script type="text/javascript" src="/static/js/json2.js"></script>
	<script type="text/javascript" src="/static/js/searchRecord.js"></script>
	<script type="text/javascript" src="/static/js/initialize.js"></script>

  </head>
  
  <body>
	<div class="logHeader">
		<ul id="logNavItemPanel" class="logNavPanel">
			{% if role == 0 %}
				<li class="logNavItem">
					<a href="/systemlog">日志查询</a>
				</li>
			{% end %}
			<li class="logNavItem logCurrentItem">
				<a href="#">报文查询</a>
			</li>
			<li class="logNavItem">
				<a href="/battery">电量查询</a>
			</li>
			<li class="logNavItem">
				<a href="/smssend">短信发送</a>
			</li>
			<li class="logNavItem">
				<a href="/feedback">意见反馈</a>
			</li>
			<li class="logNavItem">
				<a href="/password">修改密码</a>
			</li>
		</ul>
		<div class="right_title">
			欢迎您，<label id="username" class="username">{{username}}</label>|<a id="logout" href="#">退出</a>
		</div>
	</div>
	
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="button legend ui-widget ui-state-default ui-corner-all ui-button-text-only legend-button" role="button">
			<span class="ui-button-text legend-text">报文查询</span>
		</legend>
		<div class="ui-log-panel">
			<div>
				开始时间：
				<input type="text" id="beginDate" class="tdStyle" readonly="true" />
				
				结束时间：
				<input type="text" id="endDate" class="tdStyle" readonly="true" />
				<input id="search_button" type="button" value="查询" class="ui-button ui-widget ui-state-default ui-corner-all"	role="button" aria-disabled="false" />
				<input type="checkbox" id="packet_report_type" class="x_checkbox" title="是否查询应答报文" />
				<label class="x_label" title="是否查询应答报文">应答报文</label>
			</div>
			<div id="snTypePanel">
				<label>号码类型：</label>
			
				<input id="terminal_mobile" type="radio" value="0" name="sn_type" checked/>
				<label id="tpsLable1" for="terminal_mobile">mobile</label>
				
				<input id="terminal_sn" type="radio" value="1" name="sn_type" />
				<label id="tpsLable5" for="terminal_sn">SN</label>
			</div>
			<div>
				终端号码：
				<input type="text" id="terminal_num" class="tdStyle" />
			</div>
			<div id="packetTypes">
				<div class="allPacketPanel">
					<label class="packetTypeTitle">报文类型：</label>
					<input type="checkbox" id="packet_all_type" name="packet_all_type" class="x_checkbox" value="0" title="全选" />
					<label class="x_label" title="全选">全选</label>
				<div>
				<div>
					<label class="packetTypeConTitle">终端位置报文：</label>
					<ul class="packetTypePanel">
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T3" title="终端实时上传位置报文" />
							<label class="x_label" title="终端实时上传位置报文">T3</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T4" title="平台主动定位终端上传报文" />
							<label class="x_label" title="平台主动定位终端上传报文">T4</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T10" title="逆地理编码请求" />
							<label class="x_label" title="逆地理编码请求">T10</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T11" title="批量PVT信息上报请求" />
							<label class="x_label" title="批量PVT信息上报请求">T11</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T13" title="非法移动告警请求" />
							<label class="x_label" title="非法移动告警请求">T13</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T14" title="电量告警请求" />
							<label class="x_label" title="电量告警请求">T14</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T15" title="非法震动告警请求" />
							<label class="x_label" title="非法震动告警请求">T15</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T16" title="SOS告警请求" />
							<label class="x_label" title="SOS告警请求">T16</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T26" title="蓄电池断电告警请求" />
							<label class="x_label" title="蓄电池断电告警请求">T26</label>
						</li>
					</ul>
				</div>
				<div>
					<label class="packetTypeConTitle packetTypeForOther">其他报文：</label>
					<ul class="packetTypePanel">
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T1" title="登录报文" />
							<label class="x_label" title="登录报文">T1</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T2" title="心跳" />
							<label class="x_label" title="心跳">T2</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T5" title="终端应答参数请求报文" />
							<label class="x_label" title="终端应答参数请求报文">T5</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T6" title="终端应答参数设置报文" />
							<label class="x_label" title="终端应答参数设置报文">T6</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T7" title="远程重启应答报文" />
							<label class="x_label" title="远程重启应答报文">T7</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T8" title="远程设防应答报文" />
							<label class="x_label" title="远程设防应答报文">T8</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T9" title="远程撤防应答报文" />
							<label class="x_label" title="远程撤防应答报文">T9</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T12" title="话费余额上报请求" />
							<label class="x_label" title="话费余额上报请求">T12</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T17" title="终端配置参数请求" />
							<label class="x_label" title="终端配置参数请求">T17</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T18" title="终端设防、撤防状态上报请求" />
							<label class="x_label" title="终端设防、撤防状态上报请求">T18</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T19" title="终端挂件信息上报报文" />
							<label class="x_label" title="终端挂件信息上报报文">T19</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T20" title="添加/删除挂件应答报文" />
							<label class="x_label" title="添加/删除挂件应答报文">T20</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T21" title="休眠状态上报请求" />
							<label class="x_label" title="休眠状态上报请求">T21</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T22" title="挂件状态上报请求" />
							<label class="x_label" title="挂件状态上报请求">T22</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T23" title="终端运行状态上报" />
							<label class="x_label" title="终端运行状态上报">T23</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T24" title="终端解绑应答" />
							<label class="x_label" title="终端解绑应答">T24</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T25" title="终端解绑状态上报" />
							<label class="x_label" title="终端解绑状态上报">T25</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T27" title="异常激活请求上报" />
							<label class="x_label" title="异常激活请求上报">T27</label>
						</li>
						<li>
							<input type="checkbox" name="packet_type" class="x_checkbox" value="T28" title="终端调试信息上报" />
							<label class="x_label" title="终端调试信息上报">T28</label>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</fieldset>
	
	<div class="resultQuery">
	   <div class="resultTitle">
			<h3>查询结果</h3>		
			<span class="titleSortTips"> * 点击表格标题列可按照对应列进行排序。</span>
		</div>
	</div>
	<table id="search_table" class="display" whois="packet">
		<thead>
			<tr>
				<th class="timeTh">时间</th>
				<th class="typeTh">报文类别</th>
				<th>报文内容</th>
			</tr>
		</thead>
	<tbody id="search_tbody">
	
	</tbody>
	</table>
	
	<div id="msg" class="msg hide">
		<strong class="msgContent">
			<span id="layerMsgContent">页面数据正在加载中...</span>
			<img src="/static/images/blue-wait.gif"></img>
		</strong>
	</div>
	<div id="maskLayer" class="iLayer">
		<iframe scrolling="no" frameborder="0" style="width:100%; height:100%; top:0px; left:0px; position:absolute; z-index:-1; filter: alpha(opacity=20);"> 
		</iframe>
	</div>
  </body>
</html>
