* {
	outline: none;
    padding: 0; 
}
body {
    padding: 10px;
    font-family: 'Microsoft YaHei', Arial, Helvetica, Verdana, sans-serif; 
    font-size: 11pt;
    margin: 0px;
	background-color: #FFF;
}
h3 {
    margin: 5px 0;
    border-left: 5px solid #cd0a0a;
    color: #416F29;
    background: url('/static/image/bg_all.gif') repeat;
    line-height: 2.3;
    text-indent: 0.5em;
    font-size: 18px;
}
.text_blur {
	background-color: #FFF;
	border: 1px solid #cdcdcd;
	height: 22px;
	line-height: 22px;
	width: 170px;
}
.text_focus  {
	background-color: #FFF;
	border: 0px;
	border: 2px groove #7EC0EE;	
	height: 22px;
	line-height: 22px;
	width: 170px;
}
.resultQuery h3 {
    float: left;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}
.resultQuery {
    border-left: 5px solid #cd0a0a;
    color: #416F29;
    background: url('/static/image/bg_all.gif') repeat;  
    height: 40px;
    margin: 8px 0;
}
.resultTitle {
	float: left;
}
.resultTitle .titleSortTips {
	color: red;
    display: inline-block;
    height: 40px;
    line-height: 42px;
    margin-left: 30px;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.legend {
    text-align: left;
}
fieldset {
    padding: 10px;
}
#logo {
    padding: 10px 5px 10px 10px;
    font-size: 2em;
    font-weight: bold;
    height: 40px;
	min-width: 1185px;
}
.cThemeSwitcher {
    float: right;
    margin: 0px!important;
    margin-top: -40px;
    padding: 0;
}
#footer {
    margin-top: 10px;
    border-top: 1px dashed #ccc;
    padding-top: 10px;
    text-align: center;
}
b {
	color: #aaa;
	cursor: pointer;
	width: 10px;
}
table, .ui-widget-header {
    font-size: 13px;
}
.txt {
    width: 90px;
    border: 1px solid yellow;
}
.cLogin {
    height: 250px;
    width: 500px;
    text-align: center;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #bed3ee;
	padding: 20px 0 0 0;
	color: #0d449f;
}
.cbtns {
    width: 70px;
    height: 32px;
    border: none;
    margin-left: 3px;
}

#login form table {
    height: 150px;
}
.error {
    text-align: center;
	padding: 10px 0 10px 0;
    color: #cd0a0a;
	font-weight: bold;
}
.errorbox {
	padding: 10px 0 10px 0;
	width: 400px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
.resultQuery .download {
    display: block;
    width: 90px;
    font-size: 12px;
    float: right;
    margin-top: 6px;
}
#content {
	float: left;
	min-width: 1200px;
	height: 820px;
}
#left {
	margin: 20px 5px 0px 0px;
	float: left;
	width: 160px;
}
#right {
	margin-top: 20px;
	float: left;
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	min-width: 1000px;
}
.searchTable {
	width: 270px;
}
.searchTable td {
	height: 28px;
	line-height: 28px;
}
.searchTable0 {
	float:left;
}
.searchTable0 td {
	height: 28px;
	line-height: 28px;
}
#searchButton {
	float: left;
	padding:27px 0px 0px 50px;
}
#groupNumbers {
	padding-left: 40px;
	line-height: 44px;
	float: left;
}
#groupNumbers span {
	display: inline-block;
	padding-left: 20px;
}
.hideLeft {
	position: absolute;
	top: 300px;
	left: -10px;
}
.showLeft {
	position: absolute;
	top: 300px;
	left: 0;
}
.mobile {
    margin: 5px 0 100px 0;
}
.mobile h3 {
    margin: 3px 0 2px 0;
    line-height: 10px;
}
#accordion div ul li {
	padding-bottom: 5px;
}
#accordion div ul li a {
	text-decoration: none;
}
#accordion div ul li a:hover {
	font-weight: bold;
}
#accordion div ul li span:hover {
	font-weight: bold;
}
.ui-widget {
	font-size: 0.9em; 
}
/*-------------*/
.hideul {
    display: none;
    width: 100px;
    margin: 8px 0 0 10px;
    padding: 0;
}
.hideul li {
	width: 100px;
}
.hideSearchTable, .hide {
    display: none;
}
#showOrHideSearch {
    cursor: pointer;
    font-size: 18px;
}
.ultoggle {
    cursor: pointer;
}
.ulCheckbox {
    list-style: none;
    border-top: 1px solid #AED0EA;
    margin: 0;
    width: 480px;
}
.ulCheckbox li {
    width: 155px;
    float: left;
}
.clear {
    clear: both;
}
.noBorderTxt {
    border: none;
    background-color: #c1d2d1;
}
.highlight {
    background-color: #6f9cd6;
    border-top: 1px dashed #3b7ed4;
    border-bottom: 1px dashed #3b7ed4;
    color: white;
}
.cpro_city {
    display: none;
    width: 602px;
    border: 1px solid #62bbe8;
    margin: 2px 0 0 0;
    position: absolute;
    z-index: 99999;
}
.cpro_city li {
    list-style: none;
    float: left;
    zoom: 1;
    border: 1px solid #ddd;
    margin-bottom: 3px;
    width: 148px;
	height: 18px;
}
.cpro_city li span {
    display: none;
}
.cpro_cityLink {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #62bbe8;
    text-align: center;
}
.city_hover {
    background-color: #ffef8f;
}
#proCities a {
    color: white;
}
#proCities a:hover {
    color: black;
}
#show_hideCities {
    width: 133px;
    height: 26px;
    font-size: 12px;
}
.cUlItem {
    margin: 0;
    padding: 0;
	width: 135px;
    list-style-position: inside;
}
.privilegesMsg {
	border-bottom: 1px solid red;
    width: 480px;
    margin: 2px 0 0;
    text-indent: 1em;
}
.privilegesMsg em {
    color: blue;
    font-style: normal;
    font-weight: bold;
}
.cDeleg {
    height: 150px;
}
.cDelegUL {
    border: none;
    padding: 0;
    text-align: center;
	margin-top: 7%;
}
.cDelegUL li {
    list-style: none;
    margin-top: 3px;
}
.cDelegUL li span strong {
    font-size: 11px;
}
.cDelegUL li button {
    left: 115px;
}
.cPrivisItem {
    color: blue;
    font-size: 12px;
    margin-left: 1em;
}
.cTxt {
    font-size: 12px;
    color: blue;
}

/*------------tooltip----------*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	width: auto;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
.tableStyle {
    border-collapse: collapse;
    text-align: left;
	float: left;
	width: 420px;
}
.tableStyle td {
    background-color: #EFEFEF;
    border: 1px dashed #AAAAAA;
    padding: 5px 15px 5px 5px;
    height: 26px;
}
.tLeft {
    width: 108px;
	text-align: right;
}
#loginhistory {
    text-align: center;
}
#loginhistory td {
	border: 1px solid #cdcdcd;
}
#privList li , .admin_privs li, .privList{
	float: left;
	width: 125px;
	list-style: none;
}
.priviBtn {
    margin-bottom: 5px;
}
.passwordForms {
    margin: 0;
}
#msgBox {
    height: 165px;
    width: 480px;
    position: absolute;
    display: none;
    text-align: left;
}
#formID .ui-button {
    position: static;
}
#d_provinces, #x_city {
    display: none;
    overflow: visible;
}
.planType {
	display: none;
}
#rDataTables, #staticsTables {
    text-align: center;
	font-size: 12px;
}
#rDataTables th, #staticsTables th {
	padding:3px 0px 3px 5px;
}
#rDataTables td, #staticsTables td {
	border: 1px solid #cdcdcd;
}
#reportDataTables {
    text-align: center;
	font-size: 12px;
}
#colspanTH th {
	background: url("../image/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
    border: 1px solid #AED0EA;
    color: #2779AA;
    font-weight: bold;
	font-size: 15px;
}
#reportDataTables th {
	padding:3px 0px 3px 5px;
}
#reportDataTables td {
	border: 1px solid #cdcdcd;
}
.reportFields>li {
	height: 22px;
	line-height: 22px;
	list-style: inside;
	color: #C32945;
	padding-left: 10px;
}
.menus {
	width: 150px;
}
.width60 {
	width: 60px;
}
.width100 {
	width: 100px;
}
/*color for status*/
.success {
	color: green;
}
.failed {
	color: red;
}
.lblOnline {
	color: #14DE32;
}
.iLayer {
	display: none;
    background-color: #999999;
	filter: alpha(opacity=20);
	left: 0px;
	opacity: 0.2;
    position: absolute;
	top: 0px;
    width: 100%;
    z-index: 99999;
}
.layerFrame {
	display: block;
}
.msg {
	background-color: #D3D6FF;
	display: none;
	height: 54px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 284px;
}
.msgContent {
	left: 60px;
    position: relative;
    top: 19px;
}
.ckList {
	width:220px;
	padding-top: 20px;
}
.required {
	color: red;
}
.fontStyle {
	font-weight: bold;
	padding: 0px;
	font-size: 14pt;
}
.searchbtn {
	padding-left: 20px;
}
tfoot {
	font-size: 14px;
	font-weight: bold;
}
.signColor {
	color: red;
	display: inline-block;
	margin-right: 10px;
}
.button {
	display: inline-block;
}
.sms_status0 {
	color: red;
}
.sms_status1 {
	color: #2311F1;
}
.sms_status2 {
	color: #1E90FF;
}
.sms_status3 {
	color: green;
}
.tips {
	color: red;
	display: none;
	width: 148px;
}
/*business create */
.redColor {
	color: red;
}
.businessPanel {
	background-color: #EFF6FC;
	height: 270px;
    margin-left: 8%;
    width: 670px;
}
.businessPanel .tLeft {
	text-align: center;
	width: 120px;
}
.businessPanel td {
	background-color: #F3F7F8;
}
.businessPanel .tdText {
	width: 150px;
	text-align: left;
}
.businessPanel .text_blur, .businessPanel select {
	height: 25px;
	line-height: 25px;
}
.businessPanel .stContent {
	margin-bottom: 10px;
}
.businessPanel .tableStyle {
	width: 460px;
}
#panelNav {
	height: 50px;
	*margin-left: -38px;
}
#panelNav ul li {
	float: left;
    height: 45px;
    list-style: none outside none;
    width: 172px;
}
#panelContent {
	height: 165px;
    padding-left: 57px;
}
#panelContent tr {
	margin-bottom: 5px;
}
#panelContent .stContent {
	display: none;
}
#panelContent .carCurrent {
	display: block;
}
#panelBtn {
	float: right;
	height: 30px;
	padding-right: 23px;
}
#panelBtn span {
	background-color: cadetblue;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    text-align: center;
    width: 63px;
}
#stepContent4 td {
	background-color: #F3F7F8;
    border: 1px dashed #AAAAAA;
	height: 28px;
	padding: 3px 0 3px 10px;
}
.step1 {
	background: url('/static/image/busImage/p11.png') no-repeat;
}
.step2 {
	background: url('/static/image/busImage/p22.png') no-repeat;
}
.step3 {
	background: url('/static/image/busImage/p32.png') no-repeat;
}
#panelNav ul .step4 {
	background: url('/static/image/busImage/p42.png') no-repeat;
	width: 154px;
}
#prevBtn {
	background: url('/static/image/busImage/prevbtn.png') no-repeat;
}
#nextBtn {
	background: url('/static/image/busImage/nextbtn.png') no-repeat;
}
#submitBtn {
	background: url('/static/image/busImage/submitbtn.png') no-repeat;
}
/*ecbusiness*/
.ecbPanel {
	height: 300px;
	width: 520px;
}

#businessPanel .ecPcontent {
	height: 190px;
	padding-left: 22px;
}
.businessPanel .carCurrent {
	padding-left: 55px;
}
.businessTerminalPanel {
	height: 300px;
}
.businessTerminalPanel .carCurrent {
	padding-left: 75px;
}
.ecbPanel .carCurrent {
	padding-left: 10px;
}
.ecStep1 {
	background: url('/static/image/busImage/g11.png') no-repeat;
}
.ecStep2 {
	background: url('/static/image/busImage/g22.png') no-repeat;
}
.ecStep3 {
	background: url('/static/image/busImage/g32.png') no-repeat;
}
#panelNav ul .ecStep4 {
	background: url('/static/image/busImage/g42.png') no-repeat;
	width: 154px;
}
#panelNav ul .ecStep5 {
	background: url('/static/image/busImage/g52.png') no-repeat;
	width: 154px;
}
.cropStep1 {
	background: url('/static/image/busImage/crop11.png') no-repeat;
}
.cropStep2 {
	background: url('/static/image/busImage/crop22.png') no-repeat;
}
.cropStep3 {
	background: url('/static/image/busImage/crop32.png') no-repeat;
}
/*business end*/
.resetSms {
	color: red;
}
#ecMobilePanel label {
	border: 1px solid #CDCDCD;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 2px;
    width: 120px;
}

/*text content css*/
.hide {
	display: none;
}
.wrapper {
    height: 627px;
    width: 618px;
    z-index: 1001;
}
.wrapperTitle {
	background: url("/static/image/dialogTitle.png") no-repeat scroll 0 0 transparent;
    color: #3A80AF;
    font-size: 16px;
    font-weight: bold;
    height: 26px;
    padding: 3px 0 0 31px;
    width: 586px;
}
.wrapperContent {
	left: -6px;
	width: 613px;
    position: relative;
    top: 15px;
}
#chartContainerWrapper {
	background-color: #F3FAFA;
    border: 1px solid gray;
    height: 465px;
    left: 20%;
    position: absolute;
    top: 23px;
    z-index: 1001;
}
#chartContainerContent {
	left: 4px;
}
#chartContainerClose {
	display: block;
    left: 564px;
    top: -15px;
}
.close {
    background: url("/static/image/close_default.png") no-repeat;
    height: 20px;
    left: 378px;
    position: relative;
    top: -6px;
    _top: -4px;
    width: 20px;
	cursor: pointer;
}
.remarkBlurCss {
	border: 0px;
	background: none;
	color: #000;
}
.remarkFocusCss {
	border: 1px solid #cdcdcd;
	background: #FFF;
	color: #000;
}
.remarkTd {
	
}
.color1435F0 {
	color: #1435F0;
}
.colorF50F1E {
	color: #F50F1E;
}
.warnCss {
	color: #D5971B;
}
.color37ABF8 {
	color: #37ABF8;
}
.color000 {
	color: #000;
}

/* whitelist css */
#addWhitelistDialog table, #modifyWhitelistDialog table {
	height: 145px;
}
#addWhitelistDialog tr, #modifyWhitelistDialog tr {
	height: 40px;
}
#txt_whitelistMobile {
	height: 30px;
	padding: 5px;
}
#search_table td {
    border: 1px solid #CDCDCD;
	text-align: center;
}
.sorting_1 {
	background-color: #E2E4FF;
}

#corps {
	height: 24px;
}
#corps_sign, #changeUserType_sign {
	cursor: pointer;
	background: url('/static/image/sersj.png') no-repeat 0px center;
	display: inline-block;
	width: 18px;
	height: 20px;
	left: -25px;
	top: 5px;
    position: relative;
}
#corps_sign:hover, #changeUserType_sign:hover {
	background: url('/static/image/sersjhover.png') no-repeat 0px center;
}

.filePanel {
	height: 25px;
    left: 0px;
    overflow: hidden;
    position: relative;
    top: -13px;
    width: 49px;
}
.filePanel .files {
    cursor: pointer;
    font-size: 24px;
    height: 23px;
    left: 0;
    opacity: 0;
    position: relative;
    top: 0px;
    width: 49px;
}
#fileBrowser {
	width: 49px;
	position: relative;
	top: 12px;
}
#filenamePanel {
	background-color: #f2f2f2;
	width: 260px;
	position: relative;
	top: 12px;
}
#addActivityDialog input[type="text"], #addApkDialog input[type="text"], #changeUserNameDialog input[type="text"] {
	padding: 6px;
	width: 220px;
}
#changUserTypeSave {
	position: relative;
	top: 20px;
}
#activity_tbody td, #apk_tbody td {
	text-align: center;
}
#txt_apkInfo {
	height: 81px;
    width: 400;
	resize: none;
	font-size: 12px;    
	background-color: #F3F9FA;
    border: 1px solid #CDCDCD;
	padding: 5px;
} 
#changeUsernameSave {
	margin-top: 10px;
}