@charset "utf-8";
/**
*acb css v1.0
*2012-07-09 
*/
* {
	outline: none;
}
html, a, input, ul, ol, li, p {
	font-size: 12px;
	font-family: "宋体","Arial Narrow";
	margin: 0;
	padding: 0;
}
ul, ol, li {
	list-style: none;
}
body {
	margin: 0;
	padding: 0;
	float: left;
}
/*navigation css start*/
#top {
	height: 123px;
	min-width: 1040px;
	float: left;
}
#logo{
	background-color: white;
	float: left;
	width: 247px;
	height: 123px;
}
#banner {
	background: url('/static/images/banner.png') repeat-x;
	height: 123px;
	float: left;
	min-width: 791px;
}
#bnnWord {
	height: 69px;
	width: 147px;
	background: url("/static/images/bannerWord.png") no-repeat;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/bannerWord.png',sizingMethod='scale');
	margin-top: 27px;
	margin-left: 70px;
	float: left;
}
#bnnIcon {
	height: 109px;
	width: 139px;
	background: url('/static/images/bannerIcon.png') no-repeat;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/bannerIcon.png',sizingMethod='scale');
	float: left;
}
.welcome {
	background: url('/static/images/userIcon.png') no-repeat 0px center;
	padding-left: 40px;
	float: right;
	color: #FFF;
	font-size: 16px;
	margin-right: 50px;
	margin-top: 90px;
	height: 30px;
	line-height: 30px;
}
/*main content start*/
#main {
	min-width: 1040px;
	min-height: 540px;
	background: #1661c2 url('/static/images/bgColor.png') repeat-x;
	float: left;
}
#left, #right {
	float: left;
	margin-top: 5px;
	min-height: 536px;
	background-color: #f7f7f7;
}
#left {
	width: 247px;
	border-right: 1px solid #afafaf;
}
#right {
	margin-left: 5px;
	min-width: 785px;
}
#left .title {
	font-size: 14px;
	color: #1661c2;
	float: left;
	display: inline-block;
	padding-left: 20px;
	width: 227px;
	font-weight: bold;
}
/*left start*/
#cars, #carInfo, #terminalInfo, .updateTime {
	float: left;
	color: #435871;
}
#carInfo, #terminalInfo {
	background-color: #fbfbfb;
}
#carList {
	float: left;
	padding: 15px 10px 10px 0px;
}
#cInfo, #tInfo {
	float: left;
	padding: 10px 10px 10px 20px;
}
.d_img, .g_img {
	display: inline-block; 
	position: relative;
    top: 3px;
	left: -25px;
	_left: -20px;
}
#tInfo span {
	display: inline-block;
}
#defend_word, #g_word {
	display: inline-block; 
	width: 140px;
}
#cars .clTitle {
	background: url('/static/images/title1.png') repeat-x;
	height: 31px;
	line-height: 28px;
}
#carInfo .ciTitle, #terminalInfo .tiTitle{
	background: url('/static/images/title2.png') repeat-x;
	height: 25px;
	line-height: 25px;
}
#carList li {
	padding-left: 10px;
	text-align: center;
	float: left;
	width: 108px;
	height: 82px;
}
#carList li a {
	width: 98px;
	height: 60px;
	display: inline-block;
	text-decoration: none;
	float: left;
}
#carList li a:hover {
	border: 2px solid #266bc2;
	color: #435871;
}
.currentCar {
	border: 2px solid #266bc2;
	color: #435871;
	background: url('/static/images/car11.png') no-repeat 2px 1px;
}
.carlogin {
	color: green;
}
.carlogout {
	color: gray;
}
.car1 {
	background: url('/static/images/car1.png') no-repeat 10px 1px;
}
.car1:hover {
	background: url('/static/images/car11.png') no-repeat 2px 1px;
}
#carList span {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
	color: #435871;
}
#cInfo li, #tInfo li {
	line-height: 27px;
	width: 210px;
}
#power {
	background: url('/static/images/power0.png') no-repeat 120px center;
}
.defend_status1 {
	display: inline-block;
	height: 17px;
	width: 15px;
	background: url('/static/images/defend_status1.png') no-repeat 120px center;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/defend_status1.png',sizingMethod='scale');
	float: left;
}
.defend_status0 {
	display: inline-block;
	height: 17px;
	width: 15px;
	background: url('/static/images/defend_status1.png') no-repeat 120px center;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/defend_status1.png',sizingMethod='scale');
	float: left;
}
#GSM {
	background: url('/static/images/gsm1.png') no-repeat 120px center;
}
.updateTime {
	width: 225px;
	height: 32px;
	line-height: 32px;
	background-color: #fcfcfc;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	float: left;
	padding-left: 20px;
}
/*left end*/
/* right start */
#navi {
	background: url('/static/images/menuBg.png') repeat-x;
	height: 36px;
	min-width: 785px;
}
.menu, .menu li {
	float: left;
}
#mapObj {
	min-width: 785px;
	min-height: 500px;
}
.menu a {
	display: inline-block;
	height: 36px;
	width: 104px;
	line-height: 36px;
	text-align: center;
	float: left;
}
.realtime {
	background: url('/static/images/realtime0.png') no-repeat;
}
.realtime:hover {
	background: url('/static/images/realtime1.png') no-repeat;
}
.track {
	background: url('/static/images/track0.png') no-repeat;
}
.track:hover {
	background: url('/static/images/track1.png') no-repeat;
}
.event {
	background: url('/static/images/event0.png') no-repeat;
}
.event:hover {
	background: url('/static/images/event1.png') no-repeat;
}
.defend {
	background: url('/static/images/defend0.png') no-repeat;
}
.defend:hover {
	background: url('/static/images/defend1.png') no-repeat;
}
.terminal {
	background: url('/static/images/terminal0.png') no-repeat;
}
.terminal:hover {
	background: url('/static/images/terminal1.png') no-repeat;
}
.selfList {
	float:right;
	margin-right: 20px;
}
.selfList li {
	float: left;
	margin-left: 20px;
	height: 36px;
	line-height: 36px;
}
.selfList a {
	text-decoration: none;
	color: #276dc3;
	font-size: 12px;
}
#logout {
	color: #4c4c4c;
}
/* right end */
.userMsg {
	color: #464646;
    font-size: 12px;
	display: block;
	padding-right: 30px;
}
.fontMic {
	color: #ffffff;
}
/*main content end*/

/*dialogs wrapper start*/
.timeout {
	text-align: center;
}
.layer {
	background-color: #ccc;
	left: 0;
    opacity: 0.5;
	filter: alpha(opacity=50); /*ie*/
	position: absolute;
	top: 0;	
	width: 100%;
	z-index: 1000;
}
.wrapper {
	height: 335px;
	left: 38%;
	width: 290px;
	position: absolute;
	top: 20%;
	z-index: 1001;
}
.p_wtc {
	background-image: url('/static/images/popboxC.png');
	width: 284px;
}
.wrapperTitle {
	height: 36px;
}
.wrapperTitle .popbox {
	height: 36px;
	cursor: move;
	margin: 0;
	display: inline-block;
	float: left;
}
.wrapperTitleL {
	background-image: url('/static/images/popboxL.png');
	width: 3px;
}
.wrapperTitleC {
	background-image: url('/static/images/popboxC.png');
	width: 444px;
}
.wrapperTitleR {
	width: 3px;
	background-image: url('/static/images/popboxR.png');
}
.wrapperContent {
	height: 300px;
	background-color: #ffffff;
}
.close {
    background: url("/static/images/close_default.png") no-repeat;
    cursor: pointer;
	display: inline-block;
    height: 17px;
    left: 133px;
	*left: 124px; /*ie6,7*/
    position: relative;
	top: 3px;
	+top: 1px; /*ie7*/
	_top: 3px; /*ie6*/
    width: 16px;
}
.titleName {
	color: #155493;
	display: inline-block;
	font-size: 16px;
	height: 36px;
    line-height: 36px;
    text-indent: 20px;
	*text-indent: 10px; /*ie6,7*/
    width: 120px
}
#currentWrapper, #defendWrapper {
	height: 120px;
	width: 450px;
}
.currentContent, .defendContent {
	background-color: #ffffff;
	height: 84px;
}
.currentText {
    height: 84px;
    text-align: center;
    width: 240px;
}
#currentMsg {
	font-size: 14px;
	font-style: normal;
    left: 25px;
    position: relative;
    top: 31px;
}
#currentBtn {
	background: url('/static/images/gb.png') no-repeat scroll 0 0 transparent;
}
#currentBtn:hover {
	background: url('/static/images/gb2.png') no-repeat scroll 0 0 transparent;
}
.confirmBtn {
	cursor: pointer;
	display: inline-block;
    height: 25px;
    left: 353px;
    position: absolute;
    top: 62px;
    width: 63px;
}
#currentWrapper .close, #defendWrapper .close, #rebootWrapper .close  {
	left: 293px;
	*left: 283px; /*ie6,7*/
	*top: 0px;
	_top: 5px; /*ie6*/
}
.defendText {
    height: 84px;
	width: 320px;
	text-align: center;
}
#defendMsg {
    left: -25px;
    line-height:2;
    position: relative;
    top: 21px;
	font-style: normal;
	font-size: 14px;
	color: #317bae;
}
.msgLine {
	background: url('/static/images/msgLine.png') no-repeat;
	width: 1px;
	height: 59px;
	position: absolute;
	top: 45px;
	left: 300px;
}
#rebootWrapper {
	height: 120px;
	width: 450px;
}
.rebootContent {
	background-color: #ffffff;
	height: 85px;
}
.rebootText {
    height: 85px;
	width: 353px;
	text-align: center;
}
#rebootMsg {
    line-height:2;
    position: relative;
    top: 21px;
	width: 300px;
	display: inline-block;
	font-style: normal;
	font-size: 14px;
}
 #lockMsg p {
	font-size: 14px;
}
#rebootBtn {
	background: url("/static/images/qd.png") no-repeat scroll 0 0 transparent;
}
.personalList li, .pwdList  {
	line-height: 37px;
    list-style: none outside none;
    margin-left: 26px;
}
.personalList li  input, .pwdList li  input {
	float: right;
    margin-right: 26px;
	height: 20px;
	line-height: 20px;
	margin-top: 8px;
    *margin-top: -29px; /*ie6,7*/
}
.personalList li input {
	width: 165px;
}
.personalButton, .pwdButton{
	height: 31px;
    left: 200px;
    position: relative;
    top: 13px;
    width: 40px;
}
#pwdWrapper{
	height: 191px;
}
.pwdContent {
	height: 166px;
}
#terminalWrapper {
	width: 390px;
}
#terminalWrapper .terminalContent {
	height: 390px;
}
#terminalWrapper .titleName {
	width: 154px;
}
#terminalWrapper .close {
	left: 200px;
	*left: 190px; /*ie6,7*/
	*top: 1px;
	_top: 5px; /*ie6*/
}
#terminalWrapper  .t_wtc {
	background-image: url('/static/images/popboxC.png');
	width: 384px;
}
/*terminal tab*/
#terminalWrapper .tabs {
	border-bottom: 1px solid #CCCCCC; 
	height:31px;
}
.tabs  li {
	list-style: none;
	float: left;
}
.tabs .tabItems {
	cursor: pointer;
	height: 30px;
	line-height:30px;
	width: 49.5%;
	text-align: center;
	top: 1px;
	left: -1px;
	position: relative;
}
.tabs .currentTab {
	height: 30px;
	border-bottom: 1px solid white;
	border-left: 1px solid #CCCCCC; 
	border-right: 1px solid #CCCCCC; 
	color: #3C7EA6;
	font-weight: bold;
}
#rTab {
	left: -1px;
}
#wTab {
	left: 3px;
}
.baseContent {
	margin-left: 10px;
}
.radioContent, .tInput {
	margin-top: 12px;
}
#terminalUnit {
	color: #00BB00;
    font-size: 16px;
    font-weight: bold;
}
.bList {
	background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    left: 20px;
    position: absolute;
	top: 100px;
	*top: 101x;
	width: 166px;
	padding-left: 4px;
	padding-top: 8px;
	height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.bList li {
	height: 17px;
	list-style: none;
}
#terminalList1 {
	padding: 10px 0px 0px 10px;
	display: inline-block;
}
.terminalButton {
	height: 31px;
	width: 40px;
}
.listHover {
	background-color: #3399ff;
	color: white;
}
.dropDownbox {
	background: url("/static/images/sersj.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: inline-block;
    height: 20px;
    left: 172px;
    position: absolute;
	text-decoration: none;
    top: 80px;
	*top: 81px;
    width: 20px;
}
.dropDownbox:hover {
	background: url('/static/images/sersjhover.png') no-repeat;
}
#terminalList0 {
	padding: 10px 10px 0px 10px;
	display: inline-block;
}
#bListR {
	width: 365px;
	border: 1px;
}
#bListR tr{
	height: 30px;
	line-height: 30px;
}
#bListR, #bListR td{
	border: 1px dashed #ccc;
	text-align: left;
	height: 24px;
	line-height: 24px;
	border-collapse: collapse;
}
#bListR .terminalTdL {
	width: 127px;
	text-align: right;
}
#bListR span {
	display: inline-block;
	width: 250px;
}
#bListR input {
	margin-left: 10px;
}
.bListR_text_mouseOut  {
	background-color: #FFF;
	border: 1px solid #cdcdcd;
	height: 22px;
	line-height: 22px;
	width: 170px;
}
.bListR_text_mouseOver {
	background-color: #FFF;
	border: 2px groove #8E8E8E;
	height: 22px;
	line-height: 22px;
	width: 170px;
}
.bListR_text_mouseFocus  {
	border: 2px groove #7EC0EE;	
	height: 22px;
	line-height: 22px;
	width: 170px;
}
.blistRValue {
	padding-left: 5px;
	font-weight: bold;
}
#terminalListTip {
	margin-top: 10px;
	padding: 0px 10px 10px 0px;
	color: #3C7EA6;
	font-weight: bold;
}
#radioTip {
	margin-top: 10px;
	color: gray;
}
#personalSave, #pwdSave, #terminalSave {
	border: 0px;
	background: url('/static/images/bc.png') no-repeat;
	width: 63px;
	height: 25px;	
}
#refresh {
	border: 0px;
	background: url('/static/images/sx.png') no-repeat;
	width: 63px;
	height: 25px;	
}
#tmnTable {
	width: 320px;
	padding-top: 20px;
}
/*terminal end*/
/*dialogs wrapper start*/

/*---- POISearch start ----*/
.POISearchWrapper {
	border: 1px solid #cccccc;
	background-color: #FFF;
	height: 285px;
	right: 10px;
	width: 300px;
	position: absolute;
	top: 210px;
	z-index: 0;
}
.PWrapperTitle {
	background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #DADADA;
    color: #4C4C4C;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding-left: 7px;
	margin: 0px;
}
.POISearchContent {
	height: 242px;
    overflow-y: auto;
    padding-left: 10px;
}
.siv_list {
	margin-top: 10px;
    overflow: hidden;
	width: 253px;
	list-style: none outside none;
}
.siv_list li {
    clear: both;
    float: left;
    line-height: 18px;
    overflow: hidden;
    padding: 2px 0 8px 25px;
    width: 100%;
}
.siv_list .hotel span {
    background-position: -75px -45px;
    left: 2px;
    width: 15px;
	background: url('/static/images/g1.png');
}
.siv_list .food span {
    background-position: 0 -45px;
	background: url('/static/images/g2.png');
}
.siv_list .jiayou span {
    background-position: -50px -45px;
	background: url('/static/images/g3.png');
}
.siv_list .entertain span {
    background-position: -25px -45px;
	background: url('/static/images/g4.png');
}
.siv_list li span {
    float: left;
    height: 14px;
    margin: 0px 0 0 -25px;
    width: 14px;
}
.siv_list li a {
    cursor: pointer;
    float: left;
    margin-right: 12px;
    color: #3D6DCC;
    text-decoration: none;
}
.POISearchWrapper .pClose {
  
    left: 209px;
	*left: 210px; /*ie6,7*/
    position: relative;
	top: 3px;
	+top: -1px; /*ie7*/
	_top: 3px; /*ie6*/
}
.searchCondition span {
	display: inline-block;
	width: 253px;
	margin-top: 5px;
}
.textbox {
	color: #808080;
}
.searchCondition font {
	color: red;
}
.btnSearch {
	margin-left: 100px;
    width: 60px;
}
/*----- POISearch  end --------*/
/*track ,event css start*/
.hide, .trackBtn .hide {
	display: none;
}
.eventHeader {
	background: url('/static/images/trackBj.png');
	height: 77px;
	line-height: 77px;
	text-align: center;
	font-size: 14px;
	color: #154781;
}
.trackHeader {
	background: url('/static/images/menuBg.png') repeat-x;
    height: 36px;
	line-height: 32px;
	float: left;
	min-width: 780px;
}
.trackPos {
	display: inline-block;
    height: 36px;
    position: relative;
	*top: -2px;
    width: 400px;
	float: left;
}
#trackSlide {
    display: inline-block;
    margin-left: 12px;
    width: 82px;
	top: 4px;
}
#trackBeginTime, #trackEndTime {
	width: 155px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	position: relative;
	top: 2px;
	_top: 5px;
}
.time {
	background: url("/static/images/datePicker.png") no-repeat scroll right center #FFFFFF;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	width: 195px;
	font-size: 14px;
	*position: relative;	/*ie6,7*/
	*top: 1px;
}
.trackBtn {
	display: inline-block;
    position: relative;
    text-align: left;
    top: 5px;
    width: 166px;
	float: left;
	padding-left: 10px;
}
.trackSpeed {
    position: relative;
    text-align: left;
    width: 186px;
}
.trackBtn span {
	cursor: pointer;
	display: inline-block;
	height: 25px;
	padding-left: 10px;
}
.tSearch {
	background: url('/static/images/cx.png') no-repeat;
	width: 63px;
}
.tPlay, .tStop, .tPause{
	width: 63px;
}
.tPlay {
	background: url('/static/images/bf1.png') no-repeat;
}
.tPause {
	background: url('/static/images/tz1.png') no-repeat;
}
/*track css end*/
/*event css start*/
.eventbody {
	min-height: 470px;
}
.eventHeader {
	min-width: 0px;
}
.eventMapClose {
    background-image: url("/static/images/close_default.png");
    height: 20px;
    left: 330px;
    position: relative;
    top: -6px;
    width: 20px;
	cursor: pointer;
}
.eventMapContent {
	background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    height: 323px;
    padding: 11px;
    width: 350px;
}
.eventMapContent h2 {
	margin: 0;
	cursor: move;
}
.eventMapContent  #mapObj {
	min-width: 0px;
}
.eventBtn {
	background: url('/static/images/search.png') no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	margin-left: 30px;
	position: relative;
	top: 15px;
	width: 92px;
}
.dataTable {
	border: 1px solid #5784b9;
	margin-top: 8px;
	width: 850px;
}
.dataTable td {
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #5784b9;
}
#eventTableHeader th, #eventTableHeader td {
	background-color: #5784b9;
	border: 1px solid #ececec;
	height: 30px;
	color: #FFFFFF;
	text-align: center;
}
.dataTable a,.dataTable a:link{
	color: 	black;
	text-decoration: none;
}
.dataTable a:hover {
	color: #4876FF;
	font-weight: bold;
	text-decoration: underline;
}
#eventTableHeader th {
    font-size: 16px;
    height: 40px;
}
.eventTime {
	width: 200px;
}
.eventType {
	width: 150px;
}
.eventLocation {
	width: 500px;
}
.eventPos {
	display: inline-block;
	position: relative;
	+top: 5px; /*ie6, 7*/
	_top: 2px; /*ie6*/
}
#pagerContainer {
	width: 850px;
	height: 30px;
	line-height: 30px;
	margin:0 auto;
	margin:0 auto;
}
#pageNums {
	font-size: 12px;
	margin-left: 30px;
}
.prevBtn {
	background: url('/static/images/prevPage0.png') no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 26px;
	margin-left: 300px;
	position: relative;
	top: 8px;
	width: 63px;
}
.nextBtn {
	background: url('/static/images/nextPage0.png') no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 26px;
	margin-left: 30px;
	position: relative;
	top: 8px;
	width: 63px;
}
/*event css end*/
/*terminallist */
#terminalListWrapper {
	height: 200px;
	width: 300px;
}
.terminalListContent {
	height: 165px;
	*height: 195px;
	overflow: auto;
}
#terminalListWrapper .close {
	left: 145px;
	*left: 135px;
}
.olTable {
	margin-top: 10px;
}
.olTable  li {
	list-style: none;
	margin-bottom: 10px;
}
.iInput {
	border: 1px solid #CCCCCC;
    height: 24px;
    line-height: 24px;
}
.tlButton {
	margin-right: 65px;
}
#tlSave {
	float: right;
	width: 60px;
	margin-right: 10px;
}
/*jnotify message*/
#jNotifyMessage {
	filter: alpha(opacity=90);
	float: right;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.9;
	position: absolute;
	text-align: center;
	top: 103px;
    width: 400px;
	z-index: 100001;
}
.jnotify-item {
	display: block;
    height: auto;
    margin: 0 0 5px 0;
    padding: 10px 0;
}
.jnotify-item-close {
	float: right;
	margin-right: 0.5em;
	margin-top: 2px;
}
/*disbaled style*/
.textDisabled {
	background-color: #FFF;
	border: 0px;
	color: black;
}
/*readonly style*/
.readonly_overlay {
	background-color: #aaa;
	opacity: 0.2;
	filter: alpha(opacity=20);
	padding: 0!important;
	margin: 0!important;
	position: absolute;
	z-index: 1100;
}
.mouseItem {
	background-color: #F0F0F0;
	border: 1px solid #718BB7;
    height: 20px;
	line-height: 20px;
	position: absolute;
    text-align: center;
    width: 60px;
}
.mouseSpan {
	cursor: pointer;
	display: block;
    height: 20px;
    width: 60px;
}
/*marker css start*/
#markerWindowtitle {
	width: 250px;
	font-size: 12px;
}
#markerWindowtitle h4 {
	margin: 0px 0 5px 8px;
	font-size: 12px;
}
#markerWindowtitle ul {
	margin-left: 8px;
}
#markerWindowtitle ul li {
	height: 16px;
	list-style: none;
}
#markerWindowtitle label {
	display: inline-block;
	float: left;
}
#markerWindowtitle .labelRight {
	float: right;
	width: 100px;
	display: inline-block;
	text-align: left;
}
#markerWindowtitle a {
	margin-right: 10px;
}
#markerWindowtitle a:visited {
	color: #0000ff;
}
/*marker css end*/
.top10 {
	padding-top: 10px;
}