body {
	font-family: "宋体","Times New Roman","Arial";
	font-size: 12px;
	margin: 0 auto;
	background-color: #fff;
}
.hide {
	display: none;
}
.content {
	background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    height: 1050px;
    margin-bottom: 40px;
    margin-top: 30px;
    overflow: hidden;
    width: 750px;
}
/*download infomessage*/
.softInfo {
	border-bottom: 1px solid #EBEBEB;
    height: 250px;
    margin: 0 20px 0 15px;
    padding-top: 30px;
}
.infoSign {
	position: relative;
    top: 26px;
}
.infoL {
	float: left;
}
.infoText {
	color: #666666;
    margin-left: 30px;
    position: relative;
    top: -22px;
    width: 426px;
	height: 137px;
}
.infoText ul {
	margin: 0;
	padding: 0;
}
.infoText ul li {
	list-style: none;
	margin-bottom: 10px;
	text-align: left;
}
.infoText ul li span {
	display: inline-block;
    overflow: hidden;
    width: 170px;
}
.infoTextTitle {
	display: inline-block;
    float: left;
    font-size: 14px;
    margin: 0;
    padding-right: 10px;
}
.infoGrCode {
	width: 160px;
}
.infoGrCode img { 
	border: 1px solid #ccc;
	display: block;
	height: 150px;
	width: 150px;
}
.barCode {
	
}
.infoBtn {
	background: url("/static/images/btncommon.png") repeat scroll 98px 0 transparent;
	color: #00b6ff;
	font-weight: bold;
    display: block;
    font-size: 16px;
    height: 31px;
    line-height: 28px;
    margin-right: 10px;
    text-align: center;
	text-decoration: none;
    width: 98px;
}
.infoBtn:hover {
	background-position: 98px 32px;
	text-decoration: underline;
	color: #FFFFFF;
}
.softInfo .btn_weixin {
	font-size: 27px;
    height: 60px;
    line-height: 60px;
    width: 200px;
	background: url("/static/images/btncommon_200_180.png") repeat scroll 200px 0 transparent;
}
.softInfo .btn_weixin:hover {
	background-position: 200px 60px;
}
.smsBtn {
	left: 100px;
    position: relative;
    top: -31px;
}
/*product detail css*/
.softDesc {
	height: 675px;
	margin: 0 14px 0 15px;
	text-align: left;
}
.softDesc h1 {
	color: #00b6ff;
    font-size: 14px;
	margin-top: 10px;
}
.descProfess {
	text-indent: 25px;
	line-height: 20px;
}
.descText {
	margin: 10px 0 0 25px;
    padding: 0;
	line-height: 20px;
}
.descText li {
	list-style: decimal;
	margin-bottom: 8px;
}

/*desc img*/
.descImg {
	height: 380px;
    margin: 0;
    overflow-x: auto;
    width: 700px;
}
.descImg ul {
	margin: 0;
	overflow-y: hidden;
}
.descImg ul li {
	display: inline;
	float: left;
	list-style: none;
    width: 210px
}
.descImg ul li img {
	float: left;
	width: 200px;
	margin: 10px 0px 0px 20px;
}
.iosContent .infoSign {
	top: 3px;
}
.iosContent .infoText {
	top: -22px;
	width: 412px;
}
.iosContent .descImg ul li img {
	margin-left: 5px;
}
.iosContent .iosDownLoadUrl ul {
	margin: 0;
	overflow-y: hidden;
	float: left;
	padding: 0;
}
.iosContent .iosDownLoadUrl {
	position: relative;
    top: -18px;
	left: 125px;
}
.iosContent .iosDownLoadUrl ul li {
	display: inline;
	list-style: none;
}
.iosContent .iosDownLoadUrl ul li  a {
	color: blue;
}
.iosDownloadLabel {
	float: left;
}
.iosDownloadul li {
	float: left;
    padding-right: 11px;
}
/*sms download css*/
#downloadLayer {
	display: none;
}
#smsUploadWrapper {
    height: 230px;
    left: 39%;
    top: 35%;
    width: 400px;
	text-align: left;
}
#smsCenter {
	width: 390px;
}
#smsClose {
	left: 372px;
	*left: 372px;
}
#SMSWrapper h2 {
	cursor: default;
	margin: 0;
}
.smsUploadContent div, .smsUploadContent .capPanel .capText {
    margin: 0 0 10px 26px;
	display: inline-block;
	float: left;
}
.smsUploadContent .mobiles {
	padding-top: 26px;
}
.smsUploadContent {
	height: 190px;
}
.smsUploadContent input {
	border: 1px solid #CCCCCC;
	height: 20px;
	line-height: 20px;
	width: 100px;
}
.downMobileTip {
	color: #666666;
    margin: 6px 0 0 51px;
    width: 229px;
}
#smsCaptcha {
	width: 84px;
}
.smsUploadContent .btnSend {
	background: none repeat scroll 0 0 #3dc7ff;
    border: 1px solid #10A6A6;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
	height: 35px;
    line-height: 20px;
	margin-left: 50px;
    padding: 5px 9px;
	width: 76px;
	float: left;
	font-weight: bold;
}
.smsUploadContent .msgPanel {
	font-size: 14px;
    height: 25px;
	padding-left: 20px;
	float: left;
	color: red;
}
#smsMsg {
	font-style: normal;
}
.smsUploadContent .capPanel {
	height: 50px;
	margin: 0;
	padding-top: 0;
}
.smsUploadContent .capPanel div {
	display: inline-block;
	float: left;
    margin: 0;
}
.capText input {
	width: 100px;
}
.smsUploadContent .btnDisabled {
	background-color: gray;
	cursor: default;
}
.iLayer {
	position: absolute;
    background: none repeat scroll 0 0 #fff;
    left: 0;
    opacity: 0.8;
	filter: alpha(opacity=80);
    top: 0;
    width: 100%;
    z-index: 100;
}

/*instructions start*/
.downloadTip {
	text-align: left;
	width: 850px;
	display: inline-block;
}
.fontRed {
	color: red;
}
.downloadTable {
	border: 0 none;
    border-collapse: collapse;
    margin-top: 15px;
    width: 850px;
}
.mt100 {
	margin-top: 100px;
}
.downloadTable th {
	height: 80px;
	font-size: 16px;
}
.downloadTable tr {
    border: 1px solid #C1D2E5;
}
.downloadTable td {
    border: 1px solid #C1D2E5;
    height: 30px;
    line-height: 20px;
    text-align: center;
}
.downloadTable a, .downloadTable a:link {
	color: #4876FF;
    text-decoration: none;
}
.btn_bluetooth {
	float: right;
    position: relative;
    top: -60px;
}
.android_ajtDownload {
	top: -32px;
}
.download_left {
	text-align: left;
}
/*instructions end*/

#weixin_downloadDemo {
	width: 300px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	top: 40%;
	z-index: 101;
}
.weixin_downloadBrowserText {
	margin: 20px 0;
}
#weixin_downloadKnow {
	/*width: 150px;
	border-radius: 10px;
	color: #fff;
	background-color: #00b6ff;
	padding: 5px 0;
	display: inline-block;
	cursor: pointer;*/
	border-radius: 10px;
	color: #fff;
	background-color: #00b6ff;
	padding: 5px 0;
	display: inline-block;
	cursor: pointer;
	height: 50px;
	width: 200px;
	font-size: 24px;
	line-height: 47px;
}