body {
	font-family: "微软雅黑","宋体","Arial Narrow";
	padding: 0;
	font-size: 12px;
	margin: 0 auto;
    zoom: 1;
}
.header, .headerTxt {
	height: 34px;
}
.header {
	background: url('/static/images/helpImg/helpCenterBg.png') no-repeat scroll 0 0px transparent;
	width: 100%;
	position: fixed;
	z-index: 1;
	text-align: center;
}
.headerTxt {
	background: url('/static/images/helpImg/helpCenterBg.png') repeat-x scroll 0 -38px transparent;
	display: block;
}
.headerTxt, h2 {
	font-size: 18px;
}
.headerTxt, .navItem, h2, #mainContent .ctitle {
	color: #16a1d3;
}
.headerTxt, .navItem {
	line-height: 2;
}
.hide {
	display: none;
}
.helpLogo {
	position: fixed;
	top: 25px;
	left: 50px;
	z-index: 1;
}

.helpTitleLink {
	float: right;
	font-size: 16px;
	margin-right: 20px;
}
.helpTitleLink a {
	color: #888;
	text-decoration: none;	
}
.helpTitleLink a:hover {
	color: #16a1d3;
}
.fontRed {
	color: red;
}
#menu { position: absolute; right: 60px; top: 204px; width: 20px; margin-top: -170px; padding: 0; list-style-type: none; z-index: 1}
#menu li { float: left;}
#menu a { display: block; width: 10px; height: 10px; margin: 20px 6px; border-radius: 14px; text-indent: -9999px; overflow: hidden; background-color: #a0afb9; background-position: 50%; background-repeat: no-repeat;}
#menu a:hover, #menu .active a { margin: 14px 0; border: 4px solid #fff; box-shadow: 1px 1px 3px 1px #b4d7ed; border-radius: 50%; background-color: #239ae6;}

.section .imgbox { margin-left: 300px;}