/**
* login css for ydcws 
* hs @2014-9-26
*/
* {
	font-family: '微软雅黑';
}
.font-size14 {
	font-size: 14px;
}
.font-size20 {
	font-size: 20px;
}
.hide {
	display: none;
}
.errorMsg {
	color: red;
}
.login_con {
	margin: 0 auto;
	width: 1066px;
}
.login_linkLine {
	margin: 0 10px;login_footer
}
#login_header {
	margin-top: 60px;
	position: relative;
	left: 80px;
	width: 800px;
}
#login_header, #loginHeader_logo, #loginHeader_linkText, #loginForm, #login_footerLink, .login_copyright {
	display: inline-block;
}
#loginBtn, #getPwd, #login_errorMsg, #corpGetPwd {
	margin-left: 30px;
}
#loginHeader_logo {
	background: url('/static/images/login/logo.png') no-repeat;
	width: 114px;
	height: 22px;
}
#login_section {
	background: url('/static/images/login/login_bg.gif') no-repeat right;
	width: 1066px;
	height: 844px;
	margin-top: -20px;
}
.loginIconPanel {
	width: 24px;
	height: 26px;
	position: relative;
	display: inline-block;
	left: 43px;
	top: 8px;
}
.usernameIcon {
	background: url('/static/images/login/uName.png') no-repeat;
}
.passwordIcon {
	background: url('/static/images/login/uPwd.png') no-repeat;
}
.captchaIcon {
	background: url('/static/images/login/uCatpcha.png') no-repeat;
}
.loginText {
	width: 284px;
	height: 38px;
	padding: 5px 14px 5px 48px;
}
#captchaimg {
	position: relative;
	right: 150px;
	cursor: pointer;
}
#loginBtn {
	width: 348px;
	height: 50px;
	border: 0 none;
	background: url('/static/images/login/login_btn.png') no-repeat;
	text-align: center;
	display: inline-block;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
}
#loginBtn:hover {
	background: url('/static/images/login/login_btnHover.png') no-repeat;
}
#loginForm {
	position: relative;
	top: 70px;
	left: 248px;
}
#loginHeader_linkText {
	float: right;
	height: 27px;
}
#loginHeader_logint {
	color: #2d6195;
}
#login_footerLink, .login_copyright {
	width: 830px;
	margin-left: 70px;
}
.login_copyright {
	text-align: center;
}
.loginForm-submit {
	margin-bottom: 30px;
}
#loginSection_roleSwitch {
	margin: 60px 0 60px 64px;
}
#loginSection_roleSwitch .login_linkLine {
	margin: 0 50px;
}
#loginSection_roleSwitch .current {
	color: #2d6195;
}
#login_ty {
	margin-left: 102px;
}
#login_footer a {
	color: #000;
}
#login_footer a:hover {
	color: #2d6195;
}
#corpGetPwd, #getPwd {
	float: left;
}
#login_footerHr {
	position: relative;
	float: left;
	width: 100%;
	top: -83px;
	margin: 0;
	min-width: 1066px;
}

