body, html {
	font-family: "宋体","Arial Narrow";
	font-size: 12px;
	background-color: #FFF;
	padding: 0px;
	margin: 0px;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.loginBody {
	width: 950px;
	margin: 0px auto 0;
}
.top {
	width: 950px;
	height: 398px;
	background: url('../images/loginBg.png') no-repeat scroll 0 0;
}
.loginFormContent {
	background: url('../images/loginBox.png');
    float: right;
	margin: 40px 38px 0px;
    height: 261px;
    width: 280px;
}
.tab {
	list-style: none;
}
.tab span {
	display: inline-block;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 14px;
}
.current {
	background-color: #FFF;
	color: #105ebe;
	width: 84px;
	margin:8px 0px 0px 30px;
}
.other {
	color: #FFF;
	padding-left: 30px;
}
.loginFormContent label {
	color: #2B71C6;
}
.loginFormContent input {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	border: 1px solid #105ebe;
	width: 170px;
	background-color: #FFF;
}
#captcha {
	width: 107px;
}
.loginFormContent ul{
	font-size: 13px;
	list-style: none;
	margin: 5px 0px 0px 26px;
}
.loginFormContent li {
	height: 40px;
	line-height: 40px;
}
.pwd {
	margin-left: 13px;
}
.captchaImg {
	height: 27px;
    margin-left: 3px;
    padding-top: 0;
    top: 10px;
	*top: 4px;
    width: 73px;
	position: relative;
}
.loginFormContent  .commit {
	border: none;
	background: url('../images/login.png') no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 41px;
	left: 85px;
	*left: 80px;
    position: relative;
    width: 122px;
	top: 10px;
	*top: 5px;
}
.txtColor {
	color: #583C32;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	height: 22px;
	text-align: center;
	color: red;
	padding-top: 10px;
	font-size: 12px;
}
.center {
	width: 950px;
	margin-top: 10px;
	float: left;
}
.center .left{
	width: 488px;
	height: 148px;
	border: 1px solid #215892;
	float: left;
	margin-right: 10px;
}
.center .right{
	width: 448px;
	height: 148px;
	border: 1px solid #215892;
	float: left;
}
h2 {
	display: inline-block;
	padding-left: 20px;
	font-size: 18px;
	color: #525252;
}
.entrances {
	padding-left: 20px;
	list-style: none;
}
.entrances li {
	height: 90px;
	width: 90px;
	margin: 0px auto 0px;
	float: left;
	cursor: pointer;
}
.entrances  a {
	float: left;
	text-decoration: none;
	color: #696969;
	font-weight: bold;
	height: 90px;
	width: 90px;
}
.entrances  a:hover {
	background-color: #F4F4F4;
	border: 1px solid #cdcdcd;
}
.entrances li p {
	width: 90px;
	display: inline-block;
	height: 8px;
	margin-top: 68px;
	text-align: center;
}
.web {
	background: url('../images/web.png') no-repeat 16px 0px;
}
.android {
	background: url('../images/android.png') no-repeat 16px 0px;
}
.IOS {
	background: url('../images/IOS.png') no-repeat 16px 0px;
}
.phone {
	background: url('../images/phone.png') no-repeat 16px 0px;
}
.bottom {
	width: 950px;
	height: 65px;
	background-color: #215992;
	float: left;
	margin-top: 10px;
}
#ads, #contents {
	width: 488px;
	height: 148px;
}
#adNums  {
	width: 110px;
	height: 20px;
	position: relative;
	top: -20px;
	background-color: #bacadb;
	padding-left: 378px;
}
#adNums li {
	float: left;
	width: 20px;
	text-align: center;
	cursor: pointer;
	height: 20px;
	position: relative;
	top: -6px;
	*top: 0px;
	border-right: 2px solid #FFF;
	
}
.seleted {
	background-color: #FFF;
	color: #306499;
}
.default {
	background-color: #306499;
	color: white;	
}
.adImg {
	width: 128px;
	height: 128px;
	float: left;
}
#contents p {
	display: inline-block;
	width: 350px;
	font-size: 13px;
	text-indent:2em;
	padding-left: 10px;
	height: 128px;
	line-height: 22px;
	float: left;
}
.hide {
	display: none;
}