body {
    background-color: #F0F6FA;
    color: #000000;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
}
table, td, input {
    font-size: 12px;
	height: 20px;
	line-height: 20px;
}
#content {
	background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    margin: 0 auto;
    padding: 0;
	width: 600px;
}
.fontText {
	color: #444444;
}

.tdCenter {
	text-align: center;
}
.conTable tr {
	text-align: right;
}
.conTable td {
	height: 60px;
	width: 150px;
}
.registerButton {
	height: 35px;
    width: 65px;
}
.blank {
	clear: both;
    display: block;
    height: 16px;
    overflow: hidden;
}
.signColor {
	color: #ff0000;
}
.conTable .tdItem {
	width: 115px;
	text-align: right;
}
.conTable .tdText {
	width: 141px;
	text-align: left;
}
.conTable .tdTip {
	text-align: left;
	width: 194px;
}
.tdTip span {
	display: inline-block;
	font-size: 12px;
	line-height: 22px; 
	margin-left: 10px; 
	padding-left: 25px;
	vertical-align: middle;
}
.inputOnShow {
	color: #999999
}