<script type="text/javascript" type="text/javascript" src="/static/js/jquery.min-1.5.js"></script>
<script type="text/javascript" type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<link href="/static/css/jquery-ui.css"rel="stylesheet" type="text/css"/>
<script src="/static/js/lockScreen.js"></script>
<script type="text/javascript">
	fn_lockScreen();
</script>
<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/static/css/validationEngine.jquery.css" type="text/css" charset="utf-8" />
<script src="/static/js/jquery.dataTables.min.js"></script>
<link href="/static/css/dataTables_jui.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/dataTables_highlight.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="/static/js/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="/static/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/static/js/initStyle.js"></script>
<script type="text/javascript" src="/static/js/submitForm.js"></script>
<script type="text/javascript" src="/static/js/dataTable.js"></script>
<script type="text/javascript" src="/static/js/formValue.js"></script>
<script type="text/javascript" src="/static/js/provAndCity.js"></script>
<script type="text/javascript" src="/static/js/cacheQueryValues.js"></script>
<script type="text/javascript" src="/static/js/groupChoose.js"></script>
<script type="text/javascript" src="/static/js/dateChoose.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
{% block body %}
<fieldset class="ui-widget ui-widget-content ui-corner-all">
<legend class="button legend ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
    <span class="ui-button-text">集团订购查询</span>
</legend>
<form method="post" action="" id="formID" onsubmit="return formSubmit('search');">
    <table id="searchTable0" class="searchTable0">
         <tr>
			<td align="right">所在城市：</td>
			<td align="left">
			{% if  type == '0' or type == '2' %}	
				<select id="cities" name="cities" onchange="fn_changeSchool();">
				{% for city in cities %}
					<option value="{{city.city_id}}">{{city.city_name}}</option>
				{% end %}
				</select>
				<input type="hidden" id="citiesId" name="citiesId" value="" />
			{% else %}
				<label id="city" >{{cities[0].city_name}}</label>
				<input type="hidden" id="citiesId" name="citiesId" value="{{cities[0].city_id}}"/>
			{% end %}
			<input type="hidden" id="type" name="type" value="{{type}}" />
			</td>
		</tr>
        <tr id="d_groups" >
            <td align="right">集团名称：</td>
            <td align="left">
			{% if  type == '0' or type == '2' %}
				<select name="group" id="group" class="userSelect j_userSelect" >
					<option value="0">--请选择集团--</option>
				</select>
			{% else %}
				<select name="group" id="group" class="userSelect j_userSelect" onmouseover="clickGroup();" >
					<option value="0">--请选择集团--</option>
				</select>
			{% end %}
            </td>
        </tr>
	</table>
	<table class="searchTable0">
		<tr>
			<td align="right">开始时间：</td>
			<td align="left"><input type="text" name="start_time1" id="start_time1" readonly="true" /></td>
		</tr>
		<tr>
			<td align="right">结束时间：</td>
			<td><input type="text" name="end_time1" id="end_time1" readonly="true" /></td>
		</tr>
	</table>
	<table id="searchButton">
		<tr>
			<td colspan="2" align="right">
				<input type="hidden" id="start_time" name="start_time" value="" />
				<input type="hidden" id="end_time" name="end_time" value="" />
				<input type="submit" value="查询" 
					onclick="fn_PushData('citiesId,group,type,cities','usersear');" 
					class="ui-button ui-widget ui-state-default ui-corner-all" 
					role="button" aria-disabled="false" />
			</td>
		</tr>
	</table>
	
    </form>
</fieldset>
<div class="resultQuery">
    <div class="resultTitle"><h3>查询结果</h3></div>
	<div id="groupNumbers">
	{% if counts %}
	<span class="fontStyle">儿童：</span>
	<span>订购总数：{{counts['create']}}人</span>
	<span>退订总数：{{counts['cancel']}}人</span>
	<span>暂停总数：{{counts['suspend']}}人</span>
	{% end %}
	</div>
    <a id="exportData" href="/download/user/{{hash_}}"
       class="button download ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
        <span class="ui-button-text">导出Excel</span>
    </a>
</div>

<table id="rDataTables" class="display">
    <thead>
        <tr>
            <th>序号</th><th>家长姓名</th><th>儿童姓名</th><th>家长手机</th><th>儿童手机</th><th>集团</th><th >家长套餐</th><th class="menus">儿童套餐</th>
			<th class="width60">家校圈</th><th class="width60">LBMP</th><th class="width100">家长状态</th><th  class="width100">儿童状态</th><th  class="width100">家长操作时间</th><th  class="width100">儿童操作时间</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
		<tr>
			<td>{{ user['id'] }}</td>
			<td>{{ user['pname'] }}</td>
			<td>{{ user['tname'] }}</td>
			<td>{{ user['pmobile'] }} </td>
			<td>{{ user['tmobile'] }} </td>
			<td>{{ user['group_name'] }}</td>
			<td class="menus">{{ user['pplan'] }} </td>
			<td class="menus">{{ user['tplan'] }} </td>
			{% if user['jxq_status'] %}
				{% if int(user['jxq_status']) == 0 %}
					<td class="error width60">未同步</td>
				{% else %}
					<td class="success width60">已同步</td>
				{% end %}
			{% else %}
				<td></td>
			{% end %}

			{% if user['lbmp_status'] %}
				{% if int(user['lbmp_status'])  == 0 %}
					<td class="error width60">未同步</td>
				{% elif int(user['lbmp_status']) == 1 %}
					<td class="success width60">已同步</td>
				{% else  %}
					<td class="failed width60">同步失败</td>
				{% end %}	
			{% else %}
				<td></td>
			{% end %}
			{% if user['poptype'] %}
				{% if int(user['poptype']) == 1 %}
					<td class="success width100">订购</td>
				{% elif int(user['poptype']) == 2 %}
					<td class="error  width100">暂停</td>
				{% else %}
					<td class="failed width100">退订</td>
				{% end %}
			{% else %}
				<td class="error">未订购</td>
			{% end %}
			
			{% if user['toptype'] %}	
				{% if int(user['toptype']) == 1 %}
					<td class="success width100">订购</td>
				{% elif int(user['toptype']) == 2 %}
					<td class="error width100">暂停</td>
				{% else %}
					<td class="failed width100">退订</td>
				{% end %}
			{% else %}
				<td class="error">未订购</td>
			{% end %}
			
			{% if user['ptimestamp'] %}
				<td class="width100"><script>document.write(toDateIntToString({{user['ptimestamp']}}));</script></td>
			{% else %}
				<td class="width100"></td>
			{% end %}
			
			{% if user['ttimestamp'] %}
				<td class="width100"><script>document.write(toDateIntToString({{user['ttimestamp']}}));</script></td>
			{% else %}
				<td  class="width100"></td>
			{% end %}
		</tr>
		{% end %}
    </tbody>
</table>
<div style="display:none">
	<input type="text" id="start_temp" value="{{interval[0] if len(interval) != 0 else 'user_start'}}"/>
	<input type="text" id="end_temp" value="{{interval[1] if len(interval) != 0 else 'end'}}"/>
</div>
<script type="text/javascript">
	fn_PopData('usersear');	
	var type = $('#type').val();
	if ( type == 0 || type == 2){
		fn_changeSchool(); // 加载第一个城市下的集团
	}
</script>
{% end %}
