<script type="text/javascript" type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<link href="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/static/css/validationEngine.jquery.css" type="text/css" charset="utf-8" />
<script type="text/javascript" src="/static/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="/static/js/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="/static/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/static/js/initStyle.js"></script>
<script type="text/javascript" src="/static/js/dateChoose.js"></script>
<script type="text/javascript" src="/static/js/formValue.js"></script>
<script type="text/javascript" src="/static/js/submitForm.js"></script>
<script type="text/javascript" src="/static/js/business-group.js"></script>
{% block body %}

{% if status == 0 %}
	<h3>新增集团</h3>
	<!--分步创建用户信息-->
	<div id="businessPanel" class="businessPanel ecbPanel">
		<!--step nav-->
		<div id="panelNav">
			<ul>
				<li class="cropStep1"></li>
				<li class="cropStep2"></li>
				<li class="cropStep3"></li>
			</ul>
		</div>
		<!--step content-->
		<div id="panelContent" class="ecPcontent">
			<div id="stepContent1" class="carCurrent stContent">
				<form method="post" id="businessFormID1" action="">
					<table cellspacing="0" cellpadding="0" border="0" class="tableStyle">
						<tr>
							<td	class="tLeft">集团名称：</td>
							<td class="tdText">
								<input type="text" id="ecName" class="validate[required,ajax[ajaxEcName]]" />
								<span class="redColor">*</span>
							</td>	
						</tr>
					</table>
				</form>
			</div>
			<div id="stepContent2" class="stContent">
				<form method="post" id="businessFormID2" action="">
					<table cellspacing="0" cellpadding="0" border="0" class="tableStyle">
						<tr>
							<td	class="tLeft">集团业务类型：</td>
							<td class="tdText" id="ecBizList">
								<select id="ecBizcode" name="ecBizcode" class="userSelect j_userSelect validate[required]">
									<option value="">请选择业务类型</option>
									{% for biz in bizlist %}
									<option value="{{biz.bizcode}}">{{biz.bizname}}</option>
									{% end %}
								</select>
								<span class="redColor">*</span>
							</td>
						</tr>
						<tr id="ecBizeTypeTr" class="hide">
							<td	class="tLeft">集团种类：</td>
							<td class="tdText" id="ecBizTypeList">
								<select id="ecBizType" name="ecBizType">
									<option value="0">公共集团</option>
									<option value="1">私有集团</option>
								</select>
								<span class="redColor">*</span>
							</td>
						</tr>
						<tr>
							<td	class="tLeft">集团联系人：</td>
							<td class="tdText" id="ecLinkPanel">
								<input type="text" id="ecLink" class="validate[required]" />
								<span class="redColor">*</span>
							</td>
						</tr>
						<tr>
							<td	class="tLeft">联系人手机号：</td>
							<td class="tdText" id="ecMobilePanel">
								<input type="text" id="ecMobile" class="validate[required,custom[mobile],ajax[ajaxEcTMobile]]" maxlength="11" />
								<span class="redColor">*</span>
							</td>	
						</tr>
						<tr>
							<td	class="tLeft">联系人地址：</td>
							<td class="tdText">
								<input type="text" id="userAddress" class="validate[optional,custom[sp_char]]" />
							</td>
						</tr>
						<tr>
							<td	class="tLeft">联系人邮箱：</td>
							<td class="tdText">
								<input type="text" id="userEmail" class="validate[optional,custom[email]]" />
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div id="stepContent3" class="stContent">
				<table cellspacing="0" cellpadding="0" border="0" class="tableStyle">
					<tr>
						<td	class="tLeft">集团名称：</td>
						<td class="tdText" id="tdEcname"></td>	
					</tr>
					<tr>
						<td	class="tLeft">集团业务类型：</td>
						<td class="tdText" id="tdEcBizCode"></td>	
					</tr>
					<tr id="ecBizTypeCallBack" class="hide">
						<td	class="tLeft">集团种类：</td>
						<td class="tdText" id="tdEcBizType"></td>	
					</tr>
					<tr>
						<td	class="tLeft">集团联系人：</td>
						<td class="tdText" id="tdEcLink"></td>	
					</tr>
					<tr>
						<td	class="tLeft">联系人手机号：</td>
						<td class="tdText" id="tdEcMobile"></td>	
					</tr>
					<tr>
						<td	class="tLeft">联系人地址：</td>
						<td class="tdText" id="tdEcUserAddress"></td>	
					</tr>
					<tr>
						<td	class="tLeft">联系人邮箱：</td>
						<td class="tdText" id="tdEcUserEmail"></td>	
					</tr>
				</table>
			</div>
		</div>
		<!--step btn-->
		<div id="panelBtn">
			<span id="prevBtn"></span>
			<span id="nextBtn"></span>
			<span id="submitBtn"></span>
		</div>
		<form method="post" id="ecFormID" action="/ecbusiness/createec" class="businessFrom">
			<input type="hidden" id="ecname" name="ecname" value="" />
			<input type="hidden" id="bizcode" name="bizcode" value="" />
			<input type="hidden" id="ecmobile" name="ecmobile" value="" />
			<input type="hidden" id="biztype" name="type" value="" />
			<input type="hidden" id="linkman" name="linkman" value="" />
			<input type="hidden" id="address" name="address" value="" />
			<input type="hidden" id="email" name="email" value="" />
			<input type="hidden" id="password" name="password" value="111111" />
		</form>
	</div>
{% else %}
	<div class="ui-widget" align="center">
		<div class="errorbox ui-state-error ui-corner-all">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-left: 1em; margin-right: .5em;"></span>
			<strong style="float: left;">操作错误：</strong>
			<br />
			<br />
			{{ message }}
		</div>
		<br />
		<a class="button" href="javascript:history.back(document.referrer);">返回</a>
	</div>
{% end %}
{% end %}
