<script type="text/javascript" type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<link href="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/static/css/validationEngine.jquery.css" type="text/css" charset="utf-8" />
<script type="text/javascript" src="/static/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="/static/js/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="/static/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/static/js/initStyle.js"></script>
<script type="text/javascript" src="/static/js/dateChoose.js"></script>
<script type="text/javascript" src="/static/js/formValue.js"></script>
<script type="text/javascript" src="/static/js/submitForm.js"></script>
<script type="text/javascript" src="/static/js/business-terminal.js"></script>
{% block body %}

{% if status == 0 %}
	<h3>新增追踪器</h3>
	<!--分步创建用户信息-->
	<div id="businessPanel" class="businessPanel ecbPanel">
		<!--step nav-->
		<div id="panelNav">
			<ul>
				<li class="ecStep1"></li>
				<li class="ecStep2"></li>
				<li class="ecStep3"></li>
				<li class="ecStep4"></li>
				<li class="ecStep5"></li>
			</ul>
		</div>
		<!--step content-->
		<div id="panelContent" class="ecPcontent">
			<div id="stepContent1" class="carCurrent stContent">
				<form method="post" id="businessFormID1" action="">
					<table cellspacing="0" cellpadding="0" border="0" class="tableStyle">
						<tr>
							<td	class="tLeft">集团名称：</td>
							<td class="tdText">
								<input type="text" id="ecName" class="validate[required]" />
								<span class="redColor">*</span>
							</td>	
							<td>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div id="stepContent2" class="stContent">
				<form method="post" id="businessFormID2" action="">
					<table cellspacing="0" cellpadding="0" border="0" class="tableStyle">
						<tr>
							<td	class="tLeft">车牌号码：</td>
							<td class="tdText">
								<input type="text" id="carId" name="carId" class="validate[required,custom[cnum]]" />
								<span class="redColor">*</span>
							</td>	
							<td>
							</td>
						</tr>
						<tr>
							<td	class="tLeft">车辆类型：</td>
							<td class="tdText">
								<select id="carType">
									<option value="1">小汽车</option>
									<option value="2">小货车</option>
									<option value="3">大巴车</option>
									<option value="4">摩托车</option>
								</select>
								<span class="redColor">*</span>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td	class="tLeft">车辆颜色：</td>
							<td class="tdText">
								<input type="text" id="carColor" class="validate[optional,custom[sp_char]]" maxlength="6" />
							</td>	
							<td>
							</td>
						</tr>
						<tr>
							<td	class="tLeft">车辆品牌：</td>
							<td class="tdText">
								<input type="text" id="carBrand" class="validate[optional,custom[sp_char]]" maxlength="12" />
							</td>	
							<td>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div id="stepContent3" class="stContent">
				<form method="post" id="businessFormID3" action="">
					<table cellspacing="0" cellpadding="0" border="0" class="tableStyle">
						<tr>
							<td	class="tLeft">追踪器手机号：</td>
							<td class="tdText">
								<input type="text" id="terminalMobile" class="validate[required,custom[mobile],ajax[ajaxEcTMobile]]" maxlength="11" />
								<span class="redColor">*</span>
							</td>	
							<td>
							</td>
						</tr>
						<tr>
							<td	class="tLeft">开通日期：</td>
							<td class="tdText">
								<input type="text" id="start_time1"  class=""readonly="true" />
								<span class="redColor">*</span>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td	class="tLeft">截止日期：</td>
							<td class="tdText">
								<input type="text" id="end_time1"  class="" readonly="true" />
								<span class="redColor">*</span>
							</td>
							<td>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div id="stepContent4" class="stContent">
				<table cellspacing="0" cellpadding="0" border="0" class="tableStyle">
					<tr>
						<td	class="tLeft">集团名称：</td>
						<td class="tdText" id="tdEcname"></td>	
					</tr>
					<tr>
						<td	class="tLeft">车牌号码：</td>
						<td class="tdText" id="tdCnum"></td>	
					</tr>
					<tr>
						<td	class="tLeft">车辆类型：</td>
						<td class="tdText" id="tdType"></td>	
					</tr>
					<tr>
						<td	class="tLeft">车辆颜色：</td>
						<td class="tdText" id="tdColor"></td>	
					</tr>
					<tr>
						<td	class="tLeft">车辆品牌：</td>
						<td class="tdText" id="tdBrand"></td>	
					</tr>
					<tr>
						<td	class="tLeft">追踪器手机号：</td>
						<td class="tdText" id="tdTmobile"></td>	
					</tr>
					<tr>
						<td	class="tLeft">开通日期：</td>
						<td class="tdText" id="tdBeginTime"></td>	
					</tr>
					<tr>
						<td	class="tLeft">截止日期：</td>
						<td class="tdText" id="tdEndtime"></td>	
					</tr>
				</table>
			</div>
		</div>
		<!--step btn-->
		<div id="panelBtn">
			<span id="prevBtn"></span>
			<span id="nextBtn"></span>
			<span id="submitBtn"></span>
		</div>
		<form method="post" id="ecFormID" action="/ecbusiness/createec" class="businessFrom">
			<input type="hidden" id="ecname" name="ecname" value="" />
			<input type="hidden" id="cnum" name="cnum" value="" />
			<input type="hidden" id="type" name="type" value="" />
			<input type="hidden" id="color" name="color" value="" />
			<input type="hidden" id="brand" name="brand" value="" />
			<input type="hidden" id="tmobile" name="tmobile" value="" />
			<input type="hidden" id="begintime1" name="begintime" value="" />
			<input type="hidden" id="endtime1" name="endtime" value="" />
		</form>
	</div>
{% else %}
	<div class="ui-widget" align="center">
		<div class="errorbox ui-state-error ui-corner-all">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-left: 1em; margin-right: .5em;"></span>
			<strong style="float: left;">操作错误：</strong>
			<br />
			<br />
			{{ message }}
		</div>
		<br />
		<a class="button" href="javascript:history.back(document.referrer);">返回</a>
	</div>
{% end %}
{% end %}
