<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<link href="/static/css/jquery-ui.css"rel="stylesheet"type="text/css"/>
<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/static/css/validationEngine.jquery.css" type="text/css" charset="utf-8" />
<script type="text/javascript" src="/static/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="/static/js/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="/static/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/static/js/initStyle.js"></script>
<script type="text/javascript" src="/static/js/formValue.js"></script>
<script type="text/javascript" src="/static/js/submitForm.js"></script>
<script type="text/javascript" src="/static/js/dateChoose.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
{% block body %}
<h3>集团用户编辑</h3>

{% if status == 0 %}
<form id="formID" method="post" action="" onsubmit="return formSubmit('businessEdit');">
		<table cellspacing="0" cellpadding="0"  class="tableStyle">
			<tr>
				<td colspan="2">
					<p>
						<span class="signColor">* 带红色*为必填项</span>
					</p>
					<p><span class="signColor">* 如果终端手机号修改，即为车主重新添加一个新的终端。</span></p>
				</td>
			</tr>
			<tr>
			<tr>
				<td	class="tLeft"><span class="signColor">*</span>集团姓名：</td>
				<td	  align="left">
					{{business.ecname}}
				</td>
			</tr>
			<tr>
				<td	class="tLeft"><span class="signColor">*</span>集团手机号：</td>
				<td align="left">
					{{business.ecmobile}}
				</td>
			</tr>
			<tr>
				<td	class="tLeft"><span class="signColor">*</span>车主姓名：</td>
				<td	  align="left">
					<input type="text" name="name" id="name" class="validate[required,custom[t_name],minSize[2],maxSize[16]]"  value="{{business.name}}" />
				</td>
			</tr>
			<tr>
				<td	class="tLeft"><span class="signColor">*</span>车主手机号：</td>
				<td align="left">
					<!--
					<input type="text" name="new_mobile" id="mobile"
						class="validate[required,custom[mobile]]" onchange="fn_checkMobile('mobile')"  mobile="{{business.mobile}}" value="{{business.mobile}}" />
					-->
					{{business.mobile}}
					<input type="hidden" id="mobile" name="mobile" value="{{business.mobile}}" />
				</td>
			</tr>
			<tr>
				<td	class="tLeft"><span class="signColor">*</span>终端手机号：</td>
				<td  align="left">
					<!--
					<input type="text" name="new_tmobile" id="tmobile"
						class="validate[required,custom[mobile]]" onblur="fn_checkMobile('tmobile')" mobile="{{business.tmobile}}"  maxlength="11" value="{{business.tmobile}}" />
					<span class="tips j_tips"></span>-->
					{{business.tmobile}}
					<input type="hidden" id="tmobile" name="tmobile" value="{{business.tmobile}}" />
				</td>
			</tr>
			<tr>
				<td	class="tLeft">车牌号：</td>
				<td	  align="left">
					<input type="text" name="cnum" id="cnum" class="validate[optional,custom[cnum]]"
					   maxlength="8"  value="{{business.cnum}}" /> 
				</td>
			</tr>
			<tr>
				<td	class="tLeft">联系地址：</td>
				<td	  align="left">
					<input type="text" name="address" id="address" class="validate[optional,custom[sp_char]]" value="{{business.address}}" />
				</td>
			</tr>
			<tr>
				<td	class="tLeft">电子邮件：</td>
				<td	  align="left">
					<input type="text" name="email" id="email" class="validate[optional,custom[email]]" value="{{business.email}}" />
				</td> 
			</tr>
			<tr>
			<tr>
				<td	class="tLeft">车辆类型：</td>
				<td class="tdText">
					<select id="type" name="type" cartype={{business.type}}>
						<option value="1">小汽车</option>
						<option value="2">小货车</option>
						<option value="3">大巴车</option>
						<option value="4">摩托车</option>
					</select>
				</td>
			</tr>
			<tr>
				<td	class="tLeft">车辆颜色：</td>
				<td class="tdText">
					<input type="text" id="color" name="color" value="{{business.color}}" class="validate[optional,custom[sp_char]]" maxlength="6" />
				</td>
			</tr>
			<tr>
				<td	class="tLeft">车辆品牌：</td>
				<td class="tdText">
					<input type="text" id="brand" name="brand" value="{{business.brand}}"class="validate[optional,custom[sp_char]]" maxlength="12" />
				</td>	
			</tr>
			<tr>
				<td align="right">终端状态：</td>
				<td align="left">
					{% if  business.service_status == 1 %}
						<input type="radio" name="service_status" checked="true" value="1" />启用
						<input type="radio" name="service_status" value="0" />停用
					{% else %}
						<input type="radio" name="service_status" value="1" />启用
						<input type="radio" name="service_status" checked="true" value="0" />停用
					{% end %}
				</td>
        </tr>
			<tr>
				<td	class="tLeft">开通日期：</td>
				<td	  align="left">
					<input type="text" name="begintime2" id="begintime2" readonly="true"
					   maxlength="40"  value="" /> 
				</td>
			</tr>
			<tr>
				<td	class="tLeft">截止日期：</td>
				<td	  align="left">
					<input type="text" name="endtime2" id="endtime2"  readonly="true"
					   maxlength="40" value="" />
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
				<input type="hidden" id="begintime" name="begintime" value="" />
				<input type="hidden" id="endtime" name="endtime" value="" />
				<input class="ui-widget ui-button ui-corner-all ui-state-default" type="submit" value="确定"  /> 
				<a class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" 
						href="/ecbusiness/list/{{business.tmobile}}">
						<span class="ui-button-text">取消</span>
				</a>
				</td>
			</tr>
    </table>
<div style="display:none">
	<input type="text" id="start_temp" value="{{business.begintime}}"/>
	<input type="text" id="end_temp" value="{{business.endtime}}"/>
</div>
</form>
{% else %}
	<div class="ui-widget" align="center">
		<div class="errorbox ui-state-error ui-corner-all">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-left: 1em; margin-right: .5em;"></span>
			<strong style="float: left;">操作错误：</strong>
			<br />
			<br />
			{{ message }}
		</div>
		<br />
		<a class="button" href="javascript:history.back(document.referrer);">返回</a>
	</div>
{% end %}
{% end %}
