<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动车卫士-关于我们</title>
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
	</head>
	<body id="webBody">
		<div class="aboutBox">
			<p class="title">
				关于我们
			</p>
			<p class="content">
			移动车卫士是一项保障车主的车辆安全的服务业务，主要包括的功能有实时定位、轨迹查询、告警查询、设防/撤防、定位器设置、短信设置等。车主可以登录客户端随时查看车辆所在位置以及轨迹路线，同时车主还可以远程对定位器进行设防/撤防操作以保证车辆安全；另外车主可通过手机发送短信指令到平台来查询车辆的当前位置以及对车辆设防撤防，并且还可以查询车主定位器的电量。
			<br/>
				<span>
					平台网址：<a href="http://www.ydcws.com" target="_blank">http://www.ydcws.com</a>
				</span>
				<span class="paddingleft20">
					版本号：2.5.{{version}}
				</span>
			<p class="copyright">
			© <script>document.write(new Date().getFullYear());</script> 中国移动通信集团广东有限公司中山分公司
			</p>
		</div>
	</body>
</html>