<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<title>移动卫士--关于我们</title>
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link type="text/css" href="{{static_url('css/css.css')}}" rel="stylesheet" />
	</head>
	<body id="webBody">
		<div class="aboutBox">
			<p class="title">
				关于我们
			</p>
			<p class="content">
			移动卫士是一项保障用户的人身或财产安全的服务业务，主要包括的功能有实时定位、轨迹查询、告警查询、设防/撤防、定位器设置、短信设置等。用户可以登录客户端随时查看定位器所在位置以及轨迹路线，同时用户还可以远程对定位器进行设防/撤防操作以保证安全；另外用户可通过手机发送短信指令到平台来查询定位器的当前位置以及对定位器设防撤防，并且还可以查询定位器的电量。
			<br/>
				<span>
					平台网址：<a href="https://www.ydcws.com" target="_blank">https://www.ydcws.com</a>
				</span>
				<span class="paddingleft20">
					版本号：3.3.{{version}}
				</span>
			<p class="copyright">
			© <script>document.write(new Date().getFullYear());</script> 中国移动通信集团
			</p>
		</div>
	</body>
</html>
