<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动车卫士-android下载</title>
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/download.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery_cookie.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/definitions.js"></script>
		<script type="text/javascript" src="/static/js/download.js"></script>
	</head>
	<body>
		<center>
			<div class="content">
				<!--android下载说明-->
				<div class="softInfo">
					<div class="infoSign infoL">
						<img src="/static/images/androidLogo.png"  width="96" alt="移动车卫士" />
					</div>
					<div class="infoText infoL">
						<ul>
							<li>
								<h1 class="infoTextTitle">移动车卫士</h1>
								版本：{{versionname}}
							</li>
							<li>
								<span>
									类别：移动车卫士Android版
								</span>
								<span>
									更新时间：{{updatetime}}
								</span>
							</li>
							<li>
								<span>
									下载：{{count}}
								</span>
								<span>
									大小：{{filesize}}
								</span>
							</li>
							<li>
								<a class="infoBtn" title="安卓版下载" href="/download?category=2&versionname={{versionname}}">立即下载</a>
								<a class="infoBtn smsBtn" title="通过短信获取下载地址" href="#" id="smsDown">短信下载</a>
							</li>
						</ul>
					</div>
					<div class="infoGrCode infoL">
						<img src="/static/images/android/gcode.png" alt="移动车卫士二维码" /><br />
						<span class="barCode">
							二维码扫描软件下载：
							<a href="http://www.lingdong.mobi/" target="_blank">快拍</a>
						</span>
					</div>
				</div>
				<!--android描述-->
				<div class="softDesc">
					<h1>详细描述:</h1>
					<!--文字说明-->
					<div>
						<p class="descProfess">
							移动车卫士是一项保障车主的车辆安全的服务业务。可以防止车辆丢失，同时可以帮助车主找到车辆的位置和曾经走过的路线轨迹。
							车主将移动车卫士定位器放入车内，同时携带移动车卫士挂件，还可以利用挂件进行危急求助，车主可通过短信、Web等方式查询车辆位置及远程设防/撤防定位器。
						</p>
						<br/>
						<p class="">主要内容：</p>
						<ul class="descText">
							<li>1、实时定位：通过短信和网络都可以实时定位到车辆的位置。</li>
							<li>2、轨迹查询：车主查询指定时间段内车辆的路线行踪信息， 在平台页面上通过点线的形式显示出来的行踪轨迹图， 该功能便于查看车辆的活动范围和路线轨迹。</li>
							<li>3、设防/撤防：定位器设防时将开启非法移动功能，当定位器撤防时，自动关闭功能。</li>
							<li>4、定位器参数：设定定位器的各类参数，例如：车主手机号、振动报警频率，上报频率等。</li>
							<li>5、短信告警设置：车主选择是否接受告警和提醒信息。</li>
							<li>6、告警查询：车主在平台上查询车辆指定时间段内的非法移动、低电、SOS告警等信息。得到查询结果之后，车主点击位置可以查看具体的位置信息。</li>
							<li>7、个人信息设置：车主可以对个人的信息如:手机号、邮箱及密码等进行修改设置。</li>
						</ul>
					</div>
					<!--图片展示-->
					<div class="descImg">
						<ul>
							<li><img src="/static/images/android/acb_login.png" /></li>
							<li><img src="/static/images/android/acb_realtime.png" /></li>
							<li><img src="/static/images/android/acb_track.png" /></li>
						</ul>
					</div>
				</div>
			</div>
			
			
			<!--密码修改框-->
			<div id="smsUploadWrapper" class="wrapper hide j_drag">
				<div class="wrapperTitle smsUploadTitle">
					<span class="close j_close" id="smsClose" title="关闭窗口"></span>
				</div>
				<div class="wrapperContent smsUploadContent">
					<div class="mobiles">
						<label for="mobile">手机号：</label>
						<input type="text" id="txtmobile" placeholder="请输入手机号" onKeyUp="this.value=this.value.replace(/\D/g,'')" maxlength="11" />
						<label id="mobileTip" ></label>
					</div>
					<div class="capPanel">
						<div class="capText">
							<label for="smsCaptcha">验证码：</label>
							<input type="text" id="captcha_sms" maxlength="4" placeholder="请输入验证码" />
							<input type="hidden" id="captchahash_sms" value="" />
						</div>
						<div class="capImg">
							<img alt="验证码图片" id="smsCaptchaimg" src="" class="smsCaptchaImg" />
							<a href="#" onclick="$('#smsCaptchaimg').click();" class="txtColor">换一张？</a>
						</div>
					</div>
					<div>
						<input type="button" class="form-button btnSend" value="发送短信" id="sendSms" />
					</div>
					<div class="msgPanel j_smsMsg"></div>
				</div>
			</div><!--密码修改框end-->
			<!--下载页面遮罩层-->
			<div id="downloadLayer"></div>
		</center>
	</body>
</html>