<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jnotify.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/definitions.js"></script>
		<script type="text/javascript" src="/static/js/initialize_common.js"></script>
	{% if map_type == '1' %}
		<script type="text/javascript" src="/static/js/initialize_baidu.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
		<link type="text/css" href="http://api.map.baidu.com/library/TrafficControl/1.2/src/TrafficControl_min.css"  rel="stylesheet" />
		<script type="text/javascript" src="http://api.map.baidu.com/library/TrafficControl/1.2/src/TrafficControl.js"></script> 
		<!--加载鼠标绘制工具-->
		<script type="text/javascript" src="/static/js/drawingManager.js"></script>
		<script type="text/javascript" src="/static/js/map_baidu.js"></script>
		<script type="text/javascript" src="/static/js/track.js"></script>
	{% else %}
		<script type="text/javascript" src="/static/js/initialize_gaode.js"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.2&key=69cb5d8ade23a204ce385bcf862833ff"></script>
		<script type="text/javascript" src="/static/js/map_gaode.js"></script>
		<script type="text/javascript" src="/static/js/track_gaode.js"></script>
	{% end %}	
	{% block include %}{% end %}
		<title>{% block title %}移动车卫士{% end %}</title>
	</head>
	{% block body %}
	{% end %}
</html>
