<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动卫士--常见问题及咨询</title>
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>	
		<script type="text/javascript">
			$(function() {
				$('.j_clickImg').unbind('click').bind('click', function() {
					var obj_this = $(this),
						str_src = obj_this.attr('src'),
						str_name = str_src.substr(str_src.lastIndexOf('/') + 1),
						str_tempName = '',
						obj_secondeMenu = obj_this.parent().next();
					
					if ( str_name == 'add.jpg' ) {
						str_tempName = 'plus.jpg';
						obj_secondeMenu.show();
					} else {
						str_tempName = 'add.jpg';
						obj_secondeMenu.hide();
					}
					obj_this.attr('src', 'static/images/' + str_tempName);
				});
			});
		</script>
	</head>
	<body id="">
		<div class="aboutBox chargerBox">
			<h1>常见问题及咨询</h1>
			<div class="mcatalog">
                <ol>
                    <li><img src="static/images/add.jpg" class="list-img j_clickImg"><a href="#qa001">1 业务办理</a></li>
                        <ol class="mcsub-menu hide">
                            <li><a href="#qa0012">1.1 业务办理方式</a></li>
                        </ol>
                    <li><img src="static/images/add.jpg" class="list-img j_clickImg"><a href="#qa002">2 常见问题及咨询</a></li>
                        <ol class="mcsub-menu hide">
                            <li><a href="#qa0021">2.1 移动卫士共有几大功能？</a></li>
                            <li><a href="#qa0022">2.2 非法报警短信的下发是否收费呢？</a></li>
                           <!-- <li><a href="#qa0023">2.3 这个业务的推出时间是什么时候？</a></li>-->
                            <li><a href="#qa0024">2.3 这个业务如何办理？在哪购买那些装备？</a></li>
                            <li><a href="#qa0025">2.4 集团用户采购流程是怎样的？</a></li>
                            <li><a href="#qa0026">2.5 咨费里提到那些GPRS流量和短信套餐，是在移动的号码上使用吗？</a></li>
                            <!--<li><a href="#qa0027">2.7 业务收费是按自然月收还是动态月收？首月如何计算？</a></li>
                            <li><a href="#qa0028">2.8 定位的准确度怎样？</a></li>-->
                            <li><a href="#qa0029">2.6 第一次使用定位时间比较慢或地图下载不下来？</a></li>
                            <li><a href="#qa00210">2.7 定位器的正常状态 </a></li>
                            <li><a href="#qa00211">2.8 若客户手机没法安装移动卫士手机客户端？</a></li>
                            <li><a href="#qa00212">2.9 若用户在使用移动卫士业务时被监控物品被盗了，责任如何界定？</a></li>
                            <li><a href="#qa00213">2.10 指示灯状态</a></li>
                        </ol>
					<li><img src="static/images/add.jpg" class="list-img j_clickImg"><a href="#qa003">3 常见业务故障及解决办法</a></li>
						 <ol class="mcsub-menu hide">
                            <li><a href="#qa0031">3.1 常见业务故障及解决办法</a></li>
                        </ol>					
                 </ol>
            </div>
			<p></p>
			<h2 id="qa001">1 业务办理</h2>
			<h4 id="qa0012">1.1 业务办理方式</h4>
			<p>（一）办理渠道：</p>
			<p>中国移动指定的中国移动通100服营厅办理。</p>
			<p>（二）业务使用方式：</p>
			<p>【第一步】：下载手机客户端</p>
			<p>登录<a href="http://ydcws.com" target="_blank" style="font-size: 14px"> www.ydcws.com </a>下载Android客户端；苹果手机请登陆App Store搜索“移动卫士”</p>
			<p>【第二步】：激活定位器</p>
			<p>将SIM卡放入到定位器后打开定位器（开关拨至“ON”），待定位器指示灯红色慢闪后——打开“移动卫士”手机客户端点击 “创建新帐号”，根据提示操作激活，大约30秒后红灯熄灭表示激活成功。</p>
			<p class="note">注：若用户手机无法安装移动卫士手机客户端，也可以手机发送短信“JH+空格+定位器号码”到定位器号码进行激活。短信操作指令请翻阅用户手册。</p>
			
			
			<h2 id="qa002">2 常见问题及咨询</h2>
			<h4 id="qa0021">2.1 移动卫士共有几大功能？</h4>
			<p>移动卫士最大优点是无需安装，随意放置，智能告警。具有功能包括：<span class="highlight">实时定位、轨迹查询、震动或移动告警、低电量告警等多项告警功能。</span></p>
			<h4 id="qa0022">2.2 非法报警短信的下发是否收费呢？</h4>
			<p>答：现用无线城市统一短信端口，不会收取客户费用。</p>
			<!--<h4 id="qa0023">2.3 这个业务的推出时间是什么时候？</h4>
			<p>答：汽车版已经正式上线；电动车版则要等到5月。</p>-->
			<h4 id="qa0024">2.3 这个业务如何办理？在哪购买那些装备？</h4>
			<p>答：现可在中国移动沟通100服营厅可办理和购买终端；集团企业用户请联系中国移动客户经理。</p>
			
			<h4 id="qa0025">2.4 集团用户采购流程是怎样的？</h4>
			<p>答：集团用户采购首先联系中国移动客户经理，由客户经理负责联系设备采购和开卡事宜；业务后台将为集团用户分配一个管理账号。集团用户可自行进行移动卫士业务的激活和管理。</p>
			<h4 id="qa0026">2.5 咨费里提到那些GPRS流量和短信套餐，是在移动的号码上使用吗？</h4>
			<p>答：是装在移动卫士业务终端内的通信卡，是规定指定中国移动的号码才能使用。</p>
			<!--<h4 id="qa0027">2.7 业务收费是按自然月收还是动态月收？首月如何计算？</h4>
			<p>答：首月开通，次月收费。客户本月取消业务，次月不再收功能费。</p>
			<h4 id="qa0028">2.8 定位的准确度怎样？</h4>
			<p>答：目前移动卫士有两种定位方式，室外是用GPS卫星定位，室内则依赖于基站定位。GPS卫星定位精确度在10米以内，而基站定位是在150米左右（要看基站具体位置）。但大多数情况车辆都是在外面的。</p>-->	
			<h4 id="qa0029">2.6 第一次使用定位时间比较慢或地图下载不下来？</h4>
			<p>答：<span class="highlight">第一次使用时，尽量将定位器靠近窗户或门口，这样定位时间会缩短很多。而定位同时的地图下载也依赖于当时的GPRS网络情况。</p>
			<h4 id="qa00210">2.7 定位器的正常状态</h4>
			<p>答：<span class="highlight">定位器指示灯红色慢闪是表示正在与后台通信，是正常状态！当指示灯从闪烁变为熄灭，表示与后台通信成功。这在首次激活等操作时请特别注意，并注意相应的操作界面或者短信的提示。
				</span>
			</p>
			<h4 id="qa00211">2.8 若客户手机没法安装移动卫士手机客户端？</h4>
			<p>（1）可通过手机发送以下短信指令到定位器号码，进行相关操作。（不区分大小写）。</p>
			<p>（2）可电脑上网登录移动卫士网站<a href="http://www.ydcws.com" style="font-size: 14px"> www.ydcws.com </a>输入个人账号密码查询使用。</p>
			<table class="questionTable dataTable">
				<tr>
					<th>功能描述</th>
					<th>短信格式</th>
					<th>示例说明</th>
				</tr>
				<tr>
					<td>激活定位器</td>
					<td>JH+空格+定位器号码</td>
					<td>若定位器号码为139XXXXXXXX，则用户手机发送“JH 139XXXXXXXX”到定位器号码</td>
				</tr>
				<tr>
					<td>删除定位器</td>
					<td>JB</td>
					<td>用户手机发送“JB”到定位器号码</td>
				</tr>
				<tr>
					<td>实时定位</td>
					<td>DW</td>
					<td>用户手机发送“DW”到定位器号码</td>
				</tr>
				<tr>
					<td>电量查询</td>
					<td>DL</td>
					<td>用户手机发送“DL”到定位器号码</td>
				</tr>
				<tr>
					<td>指令查询</td>
					<td>H</td>
					<td>用户手机发送“H”到定位器号码</td>
				</tr>
				<tr>
					<td>进入设防</td>
					<td>SF</td>
					<td>用户手机发送“SF”到定位器号码</td>
				</tr>
				<tr>
					<td>进入撤防</td>
					<td>CF</td>
					<td>用户手机发送“CF”到定位器号码</td>
				</tr>
			</table>
			
			<h4 id="qa00212">2.9 若用户在使用移动卫士业务时被监控物品被盗了，责任如何界定？</h4>
			<p>移动卫士业务与社会上大多数安防产品如门锁等一样，只为用户的安防行为提供辅助功能，并不承担各类事件出现的失窃责任。这一点，我们在业务协议中已向客户明确界定。</p>
			
			<h4 id="qa00213">2.10 指示灯状态 </h4>
			<table class="questionTable dataTable">
				<tr>
					<th>状态判断</th>
					<th>指示灯闪烁方式</th>
					<th width="300px">排查方法</th>
				</tr>
				<tr>
					<td>无SIM卡或SIM卡接触不好</td>
					<td>红色双闪</td>
					<td>请查看否定位器内SIM卡欠费停机了？若没停机则是SIM卡松了，请打开后盖重新查询SIM卡使用状态</td>
				</tr>
				<tr>
					<td>连接平台</td>
					<td>红色慢闪</td>
					<td>定位器正在登录，或者请查看sim卡是否装好</td>
				</tr>
				<tr>
					<td>登录失败</td>
					<td>红色长亮</td>
					<td>请客户重启下定位器（ZJ100：将背面开关从ON拨到OFF再拨到ON；ZJ200：用尖锐物戳一下Reset键，再长按电源键开机）。若客户表示已经重启过了，那么登记客户，我们将从后台帮助客户激活</td>
				</tr>
				<tr>
					<td>充电</td>
					<td>电量 < 20% 红色长亮；<br/>20% < 电量 < 90% 黄色长亮；<br/>电量 > 90% 绿色长亮</td>
					<td>若发现定位器无法充电，请拔下充电接口重新充电。</td>
				</tr>
			</table>	
			<p class="note">注：如果遇到除了本描述以外的特殊问题或者异常，可以通过手动拨动定位器的开关重启定位器尝试解决！</p>
						
			<h2 id="qa003">3 常见业务故障及解决办法</h2>
			<h4 id="qa0031">3.1 常见业务故障及解决办法</h4>
			<table class="questionTable dataTable">
				<tr>
					<td>无法开机</td>
					<td>
						<ul>
							<li>可能是电池电量不足，请及时充电，如果电池长时间不用需要充电10分钟以上才能正常开机。</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>无法充电</td>
					<td>
						<ul>
							<li>请确认开关拨到On的位置（终端在Off状态的关机情况下不能充电）。</li>
							<li>请检查UBS接口是否接触牢固。</li>
							<li>请检查充电适配器与USB充电线是否正常。</li>
							<li>若已接触牢固，可能是USB接口存在故障，请联系经销商或维修点。</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>发送短信指令不成功</td>
					<td>
						<ul>
							<li>可能由于GPRS信号弱，短信发送不出去或不能被收到，请尝试重发。</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>定位器离线</td>
					<td>
						<ul>
							<li>请确认定位器是否开机并正常运行，闪灯状态请参考“指示灯状态说明”。</li>
							<li>请确认定位器是否欠费。</li>
							<li>可能由于GPRS信号弱，定位器无法与服务器交互，请尝试将定位器移至GPRS信号较强位置。</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>定位器电池续航时间过短</td>
					<td>
						<ul>
							<li>请检查定位器是否充满电。</li>
							<li><span class="highlight">定位器充满电一般可以使用7天（与被监控物品运行时间长短有关），若满电仍然续航时间过短请联系维修售后维修。</span></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>首次使用无法进行GPS定位</td>
					<td>
						<ul>
							<li><span class="highlight">首次使用时，请将定位器置于较空旷的区域开机，并等待3分钟再进行定位。之后就能够较顺畅地获得GPS定位结果。</li>
						</ul>	
					</td>
				</tr>
				<tr>
					<td>无法进行GPS定位</td>
					<td>
						<ul>
							<li>如果定位器位于室内（如车库、地下停车场）、有楼宇遮挡，或位于屏蔽GPS信号的区域（如军区附近），均可能无法定位。</li>
						</ul>	
					</td>
				</tr>
				<tr>
					<td>定位精度</td>
					<td>
						<ul>
							<li>基站定位精度约为500米。在郊区或农村，基站定位误差会大一些。</li>
							<li>GPS定位精度约为10米。</li>
							<li>基站和GPS定位会存在一定的距离偏差，仅作参考</li>
						<ul>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>