<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动车卫士-业务资费与办理方式</title>
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
	</head>
	<body id="">
		<div class="aboutBox chargerBox">
			<div class="title">
				业务资费与办理方式
			</div>
			<div class="chargetPara">
				一、<b>业务资费</b>
			</div>
			<p class="chargetPara">
				（一）汽车版业务功能费20元/月，追踪器费用398元；
				
			</p>
			<p class="chargetPara">
				（二）简易版（摩托车、电动车和单车）业务功能费10元/月，追踪器费用198元。
			</p>
			
			<div class="chargetPara">
				二、<b>业务办理方式</b>
			</div>
			<p class="chargetPara">
				（一）办理渠道：
			</p>
			<p class="serviceDetail">中山市内指定的中山移动沟通100服营厅办理</p>
			<p class="chargetPara">	（二）业务使用方式：</p>
			<p class="serviceDetail">【第一步】：下载手机客户端</br></p>
			<p class="details">手机登陆无线城市或登录<a href="www.ydcws.com">www.ydcws.com</a>下载Android客户端；苹果手机请登陆App Store搜索“移动车卫士”</p>
			<p class="serviceDetail">【第二步】：激活定位器</p>
			<p class="details">将SIM卡放入到定位器后打开定位器（开关拨至“ON”），待定位器指示灯红色慢闪后——打开“移动车卫士”手机客户端点击 “创建新帐号”，根据提示操作激活，大约30秒后红灯熄灭表示激活成功。</p>
			<p class="note">注：若用户手机无法安装移动车卫士手机客户端，也可以手机发送短信“JH+空格+定位器号码”到定位器号码进行激活。短信操作指令请翻阅用户手册。</p>			
			<p class="copyright">
			© <script>document.write(new Date().getFullYear());</script> 中国移动通信集团广东有限公司中山分公司
			</p>
		</div>
	</body>
</html>