<div id="dialogsWrapper">
	<div id="jNotifyMessage" class="hide"></div> <!--消息提示框-->
	<div id="jContentLock" class="readonly_overlay hide"></div> <!--消息提示框-->
	<!--实时查询-->
	<div id="currentWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle">
			<span class="wrapperTitleL popbox"></span>
			<span class="wrapperTitleC popbox">
			<span class="titleName fontMic">实时定位</span>
			<span class="close j_close" title="关闭窗口"></span>
			</span>
			<span class="wrapperTitleR popbox"></span>
		</div>
		<div class="currentContent">
			<div class="currentText">
				<em id="currentMsg">定位进行中...<img src="/static/images/blue-wait.gif" /></em>
			</div>
			<span id="currentBtn" class="confirmBtn"></span>
		</div>
	</div>
	
	<!--撤防/设防-->
	<div id="defendWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle">
			<span class="wrapperTitleL popbox"></span>
			<span class="wrapperTitleC popbox">
				<span class="titleName fontMic">设防/撤防</span>
				<span class="close j_close" title="关闭窗口"></span>
			</span>
			<span class="wrapperTitleR popbox"></span>	
		</div>
		<div class="defendContent">
			<div class="defendText">
				<em id="defendMsg"></em>
			</div>
			<span id="defendBtn" class="confirmBtn"></span>
		</div>
	</div>
	
	<!--个人资料框-->
	<div id="personalWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle">
			<span class="wrapperTitleL popbox"></span>
			<span class="p_wtc popbox">
				<span class="titleName fontMic">我的资料</span>
				<span class="close j_close" title="关闭窗口"></span>
			</span>
			<span class="wrapperTitleR popbox"></span>
		</div>
		<div class="wrapperContent personalContent">
			<form id="personalForm" >
				<ul class="personalList">
					<li>车主姓名:<input type="text" name="name" id="name" maxlength="11" /></li>
					<li>车主电话:<input type="text" name="phone" id="phone" disabled class="textDisabled" maxlength="11" /></li>
					<!--<li>车牌号:<input type="text" name="licenseNum" id="licenseNum" /></li>-->
					<li>地址:<input type="text" name="address" id="address" /></li>
					<li>EMAIL:<input type="text" name="email" id="email" /></li>
					<li>单位:<input type="text" name="corporation" id="corporation" /></li>
					<li>备注:<input type="text" name="remark" id="remark" /></li>
				</ul>
				<input type="submit" value="保存" id="personalSave" class="personalButton" />
			</form>
		</div>
	</div><!--个人资料框end-->
	<!--密码修改框-->
	<div id="pwdWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle">
			<span class="wrapperTitleL popbox"></span>
			<span class="p_wtc popbox">
				<span class="titleName fontMic">修改密码</span>
				<span class="close j_close" title="关闭窗口"></span>
			</span>
			<span class="wrapperTitleR popbox"></span>
		</div>
		<div class="pwdContent wrapperContent">
			<form id="pwdForm" >
				<ul class="pwdList">
					<li>原密码:<input type="password" id="oldPwd" class="j_validate" maxlength="16" /></li>
					<li>新密码:<input type="password" id="newPwd" class="j_validate" maxlength="16" /></li>
					<li>确认密码:<input type="password" id="newPwd2" class="j_validate" maxlength="16" /></li>
				</ul>
				<input type="submit" value="保存" id="pwdSave" class="pwdButton" />
			</form>
		</div>
	</div><!--密码修改框end-->
	<!--终端参数设置-->
	<!-- demo -->
	<div id="terminalWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle">
			<span class="wrapperTitleL popbox"></span>
			<span class="t_wtc popbox">
				<span class="titleName fontMic">终端设置</span>
				<span class="close j_close" title="关闭窗口"></span>
			</span>
			<span class="wrapperTitleR popbox"></span>
		</div>
		<div class="terminalContent wrapperContent">
			<div class="j_terminalList">
				<!-- 可查询参数列表 -->
				<form id="terminalForm" >
					<div id="terminalList0" class="j_terminalcontent">
						<table id="bListR">
							<tbody>
								<tr>
									<td class="terminalTdL">GSM信号强度:</td>
									<td id="gsm"  t_val=""><input id="t_gsm" class="textDisabled bListR_text_mouseOut" type="text"  disabled /></td>
								</tr>
								<tr>
									<td class="terminalTdL">卫星信号强度:</td>
									<td id="gps"  t_val=""><input id="t_gps" class="textDisabled bListR_text_mouseOut" type="text"  disabled /></td>
								</tr>
								<tr>
									<td class="terminalTdL">电池剩余电量:</td>
									<td id="pbat"   t_val=""><input id="t_pbat" class="textDisabled bListR_text_mouseOut" type="text"  disabled /></td>
								</tr>
								<!-- allow edit params -->
								<tr>
									<td class="terminalTdL">上报频率:</td>
									<td id="freq" class="j_ListVal"  t_val="0">
										<input id="t_freq"  terminalkey="freq"  class="bListR_text_mouseOut" type="text" />秒
								</td>
								</tr>
								<tr>
									<td class="terminalTdL">心跳时间:</td>
									<td id="pulse" class="j_ListVal"   t_val="">
										<input id="t_pulse"  terminalkey="pulse" class="bListR_text_mouseOut"  type="text" />秒
									</td>
								</tr>
								<tr>
									<td class="terminalTdL">定位白名单:</td>
									<td id="whitelist_1" class="j_ListVal"   t_val="">
										<input id="t_whitelist_1" terminalkey="owner_mobile"  class="textDisabled bListR_text_mouseOut" type="text"  disabled />
										
									</td>
								</tr>
								<tr>
									<td class="terminalTdL"></td>
									<td id="whitelist_2"  class="j_ListVal"  t_val="">
										<input id="t_whitelist_2"  terminalkey="owner_mobile"class="bListR_text_mouseOut"  type="text" />
									</td>
								</tr>
								<tr>
									<td class="terminalTdL">车牌号:</td>
									<td id="cnum" class="j_ListVal"  t_val="">
										<input type="text" id="t_cnum" terminalkey="cnum" id="licenseNum" class="bListR_text_mouseOut" />
									</td>
								</tr>
								<tr>
									<td class="terminalTdL">终端别名:</td>
									<td id="alias" class="j_ListVal"  t_val="">
										<input id="t_alias" type="text" terminalkey="t_alias" class="bListR_text_mouseOut"  />
									</td>
								</tr>
								<tr>
									<td class="terminalTdL">振动告警设置:</td>
									<td id="vibchk" class="j_ListVal"  t_val="">
										<input id="t_vibchk" type="text" terminalkey="vibchk"  class="bListR_text_mouseOut" />
									</td>
								</tr>
								<tr>
									<td class="terminalTdL">追踪器开关:</td>
									<td id="trace"  class="j_ListVal" t_val="">
										<input id="tr_trace1" type="radio" value="1" name="trStatus"  />
										<label id="tRadioLable1">开启追踪</label>
										<input id="tr_trace0" type="radio" value="0" name="trStatus"  />
										<label id="tRadioLable0">关闭追踪</label>
									</td>
								</tr>
								<tr>
									<td class="terminalTdL">服务状态:</td>
									<td id="service_status"  class="j_ListVal" t_val="">
										<input id="tr_service_status1" type="radio" value="1" name="tssStatus"  />
										<label id="trssLabel1">开启服务</label>
										<input id="tr_service_status0" type="radio" value="0" name="tssStatus" />
										<label id="trssLabel1">停止服务</label>
									</td>
								</tr>
								<tr>
									<td class="terminalTdL">基站定位:</td>
									<td id="cellid_status" class="j_ListVal"  t_val="">
										<input id="tr_cellid_status1" type="radio" value="1" name="tcStatus" />
										<label id="tcsLable1">开启</label>
										<input id="tr_cellid_status0" type="radio" value="0" name="tcStatus" />
										<label id="tcsLable0">关闭</label>
									</td>
								</tr>
								</tr>
							</tbody>
						</table>
						<table width="320" >
							<tr>
								<td align="center">
									<input type="button" id="refresh" value="刷新" class="terminalButton"/>
									<input type="submit" value="保存" id="terminalSave" class="terminalButton" />
								</td>
							</tr>
						</table>
					</div>
				</form>
				<!-- 可编辑参数
				<div id="terminalList1" class="hide j_terminalcontent">
					<div class="baseContent">
						<input type="text" id="bListSet" readonly="true" />
						<a class="dropDownbox" id="bDropDownbox" href="#"></a>
						<ul id="baseList" class="bList hide">
						</ul>
						<div class="j_tInput tInput">
							<input type="text" id="bListVal" />
							<label id="terminalUnit">km/h</label>
						</div>
						<div class="j_radio radioContent hide">
							<input type="radio" name="tStatus" id="tRadioVal1" value="1" /><label id="tRadioLable1"></label>
							<input type="radio" name="tStatus" id="tRadioVal2" value="0" /><label id="tRadioLable2"></label>
						</div>
						<div class="hide" id="radioTip"></div>
						<div  id="terminalListTip">提示信息</div>
					</div>
					<input type="button" value="保存" id="terminalSave" class="terminalButton j_click" />
				</div>-->
			</div>
		</div>
	</div>
	<!-- 重启终端框
	<div id="rebootWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle">
			<span class="wrapperTitleL popbox"></span>
			<span class="wrapperTitleC popbox">
				<span class="titleName fontMic">远程重启</span>
				<span class="close j_close" title="关闭窗口"></span>
			</span>
			<span class="wrapperTitleR popbox"></span>
		</div>
		<div class="rebootContent">
			<div class="rebootText">
				<em id="rebootMsg"></em>
			</div>
			<span id="rebootBtn" class="confirmBtn"></span>
		</div>
	</div>
	-->
	<div id="terminalListWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle">
			<span class="titleName fontMic">终端列表</span>
			<span class="close j_close" title="关闭窗口"></span>
		</div>
		<div id="terminalListContent" class="terminalListContent wrapperContent">
			<ol class="olTable">
				<li>
					<label>终端手机号</label>
					<input id="tlmobile" class="iInput j_mobile" type="text" maxlength="11" />
				</li>
				<li>
					<label>终端序列号</label>
					<input id="tlTid" class="iInput j_tid" type="text" maxlength="18" />
				</li>
			</ol>
			<div class="tlButton">
				<input type="button" id="tlSave" class="tlBtn" value="保存" />
			</div>
		</div>
	</div>
	<!-- 周边查询 -->
	<div id="POISearchWrapper" class="POISearchWrapper hide j_drag">
		<h2 class="PWrapperTitle">
			<span>周边查询</span>
			<span class="pClose close j_close" id="POISClose" title="关闭窗口"></span>
		</h2>
		<div id="POISearchContent" class="POISearchContent">
			<ol class="siv_list">
				<li class="hotel">
					<span></span>
					<a href="#">快捷酒店</a>
					<a href="#">星级酒店</a>
					<a href="#">旅馆</a>
					<a href="#">如家</a>
					<a href="#">7天</a>
				</li>
				<li class="food">
					<span></span>
					<a href="#">餐馆</a>
					<a href="#">快餐</a>
					<a href="#">肯德基</a>
					<a href="#">麦当劳</a>
					<a href="#">咖啡厅</a>
				</li>
				<li class="jiayou">
					<span></span>
					<a href="#">楼盘小区</a>
					<a href="#">公交车站</a>
					<a href="#">银行</a>
					<a href="#">医院</a>
					<a href="#">超市</a>
					<a href="#">ATM</a>
					<a href="#">停车场</a>
					<a href="#">加油站</a>
				</li>
				<li class="entertain">
					<span></span>
					<a href="#">KTV</a>
					<a href="#">电影院</a>
					<a href="#">网吧</a>
					<a href="#">酒吧</a>
					<a href="#">健身中心</a>
				</li>
			</ol>
			<div class="searchCondition">
				<span>关键词：<input type="text" value="查找其他关键词" class="textbox j_blur" id="txtKeywords"><font id="keywordsTip"></font></span>
				<span>范围：&nbsp;&nbsp;<input type="text" value="1000"  class="textbox j_blur" id="txtBounds">米<font id="boundsTip"></font></span>
				<span><input type="button" id="btnSearch" class="btnSearch" value="搜索" /></span>
			</div>
		</div>
	</div>
</div>