<div id="dialogsWrapper">
	<div id="jNotifyMessage" class="hide"></div> <!--消息提示框-->
	<div id="jContentLock" class="readonly_overlay hide"></div> <!--消息提示框-->
	<!--实时查询-->
	<div id="realtimeWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle currentTitle">
			<span class="close j_close" title="关闭窗口" who="realtime"></span>
		</div>
		<div class="currentContent">
			<div class="currentText">
				<em id="currentMsg">定位进行中...<img src="/static/images/blue-wait.gif" /></em>
			</div>
			<div class="msgLine"></div>
			<a id="currentBtn" class="confirmBtn"></a>
		</div>
	</div>
	
	<!--撤防/设防-->
	<div id="defendWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle defendTitle">
			<span class="close j_close" title="关闭窗口" who="defend"></span>
		</div>
		<div class="defendContent">
			<div class="defendText">
				<em id="defendMsg"></em>
			</div>
			<div class="msgLine j_defend"></div>
			<a id="defendBtn" class="confirmBtn j_defend"></a>
		</div>
	</div>
	
	<!--个人资料框-->
	<div id="personalWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle personalTitle">
			<span class="close j_close" title="关闭窗口"></span>
		</div>
		<div class="wrapperContent personalContent">
			<form id="personalForm" >
				<table class="personalList">
					<tr>
						<td>
							<label>车主电话：</label><font  id="phone"></font>
						</td>
					</tr>
					<tr>
						<td>
							<label>车主姓名：</label>
							<input type="text" name="name" id="name"  class="text_mouseOut j_personal j_onInputBlur" max="20" who="name" msg="车主姓名只能是由数字、英文、下划线或中文组成！"  parent="personalWrapper" />
						</td>
					</tr>
					<tr>
						<td>
							<label>车牌号码：</label>
							<input type="text" id="cnum" class="text_mouseOut j_personal j_onInputBlur"  msg="车牌号最大长度是20个汉字或字符！" max="20"  who="validateLength" parent="personalWrapper"   />
						</td>
					</tr>
					
					<!-- 2012-10-23 18:14 暂时隐藏个人资料的地址、email、备注信息 并添加车牌号
					<tr><td><label>地址：</label><input type="text" name="txtAddress" id="txtAddress"  class="text_mouseOut j_personal j_onInputBlur"  parent="personalWrapper" max="100" who="validateLength" msg="地址最大长度是100个汉字或字符！"   /></td></tr>
					<tr><td><label>E-MAIL：</label><input type="text" name="email" id="email" class="text_mouseOut j_personal j_onInputBlur"  parent="personalWrapper" msg="您输入的邮箱格式不正确！" max = "100"  who="email"  /></td></tr>
					<tr><td><label>备注：</label><textarea name="remark" id="remark" class="remark j_personal j_onInputBlur" max="100"  parent="personalWrapper" who="validateLength" msg="备注最大长度是100个汉字或字符！"  ></textarea></td></tr>
					-->
				</table>
				<input type="submit" value="" id="personalSave" class="personalButton j_save j_onInputBlur" />
			</form>
		</div>
	</div><!--个人资料框end-->
	
	<!--密码修改框-->
	<div id="pwdWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle PWDTitle">
			<span class="close j_close" title="关闭窗口"></span>
		</div>
		<div class="pwdContent wrapperContent">
			<form id="pwdForm" >
				<table class="pwdList">
					<tr><td><label><font class="txtColor">* </font>当前密码：</label><input type="password" id="oldPwd" class="text_mouseOut j_validate" maxlength="16" /></td></tr>
					<tr><td><label><font class="txtColor">* </font>新密码：</label><input type="password" id="newPwd" class="text_mouseOut j_validate" maxlength="16" /></td></tr>
					<tr><td><label><font class="txtColor">* </font>确认新密码：</label><input type="password" id="newPwd2" class="text_mouseOut j_validate" maxlength="16" /></td></tr>
				</table>
				<input type="submit" value="" id="pwdSave" class="pwdButton j_save" />
			</form>
		</div>
	</div><!--密码修改框end-->
	
	<!--定位器参数设置-->
	<div id="terminalWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle terminalTitle">
			<span class="close j_close" title="关闭窗口" who="terminal"></span>
		</div>
		<div class="terminalContent wrapperContent">
			<div class="j_terminalList">
				<div id="terminalList0" class="j_terminalcontent">
					<!-- 可查询参数列表 -->
					<form id="terminalForm" >
						<table class="bListR">
							<tbody>
								<tr>
									<td class="terminalTdL">定位器号码:</td>
									<td id="mobile"  t_val="">
										<label id="t_mobile"></label>
									</td>
								</tr>
								<tr class="j_corp_terminal">
									<td class="terminalTdL">车主号码:</td>
									<td id="t_c_umobile"  t_val="">
										<label id="t_umobile"></label>
									</td>
								</tr>
								<tr class="hide">
									<td class="terminalTdL" ></td>
									<td id="white_list_1" class="j_white_list" t_val="">
										<input id="t_white_list_1" terminalkey="owner_mobile"  class="textDisabled text_mouseOut" type="text" />
									</td>
								</tr>
								<tr>
									<td class="terminalTdL">客户端通知:</td>
									<td id="push_status" class="j_ListVal j_radio"  t_val="">
										<input id="tr_push_status1" type="radio" value="1" name="tpStatus" />
										<label id="tpsLable1" for="tr_push_status1">开启</label>
										<input id="tr_push_status0" type="radio" value="0" name="tpStatus" />
										<label id="tpsLable0" for="tr_push_status0">关闭</label>
									</td>
								</tr>
								<tr class="j_corp_terminal">
									<td class="terminalTdL" >上报频率:</td>
									<td id="freq"  class="j_ListVal j_input"  t_val="">
										<select id="t_freq" terminalkey="freq">
											<option value="0">智能上报</option>
											<option value="60">1分钟</option>
											<option value="300">5分钟</option>
											<option value="600">10分钟</option>
											<option value="1800">30分钟</option>
										</select>
									</td>
								</tr>
								<tr class="j_corp_terminal">
									<td class="terminalTdL" >车牌号码:</td>
									<td id="corp_cnum"  class="j_ListVal j_input"  t_val="">
										<input type="text" id="t_corp_cnum" terminalkey="corp_cnum"  class="text_mouseOut j_onInputBlur"  msg="车牌号最大长度是20个汉字或字符！" max = "20"  who="validateLength" parent="terminalWrapper"   />
									</td>
								</tr>
							</tbody>
						</table>
						<table id="tmnTable" >
							<tr>
								<td align="right">
									<input type="submit" value="" id="terminalSave" class="terminalButton j_save" />
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 白名单设置提醒 -->
	<div id="whitelistPopWrapper" class="hide wrapper">
		<p class="noticeClose" title="关闭"></p>
		<p class="noticeMsg">请您设置SOS联系人。</p>
		<p class="noticeRemeber" title="我知道了">我知道了</p>
	</div>
	<!-- 短信参数设置 -->
	<div id="smsOptionWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle smsTitle">
			<span class="close j_close" title="关闭窗口" who="smsOption"></span>
		</div>
		<div id="smsContent" class="smsContent j_terminalcontent wrapperContent">
			<span class="smsTip">请选择想要的短信通知项：</span>
				<ul class="smsList">
					<li>
						<input type="checkbox" id="powerlow" class="j_checkbox" title="低电" /><label for="powerlow">电量告警</label> 
					</li>
					<!--<li>
						<input type="checkbox" id="poweroff" class="j_checkbox" title="断电" /><label for="poweroff">断电告警</label> 
					</li>
					<li>
						<input type="checkbox" id="sos" class="j_checkbox" title="SOS" /><label for="sos">SOS告警</label> 
					</li>-->
					<li>
						<input type="checkbox" id="illegalmove" class="j_checkbox" title="移动" /><label for="illegalmove">移动告警</label> 
					</li>
					<li>
						<input type="checkbox" id="illegalshake" class="j_checkbox" title="震动" /><label for="illegalshake">震动告警</label> 
					</li>
					<li>
						<input type="checkbox" id="login" class="j_checkbox" title="车主登录" /><label for="login">平台登录提醒</label> 
					</li>
					<li>
						<input type="checkbox" id="heartbeat_lost" class="j_checkbox" title="通讯异常" /><label for="heartbeat_lost">通讯异常提醒</label>
					</li>
					<li>
						<input type="checkbox" id="charge" class="j_checkbox" title="剩余流量" /><label for="charge">剩余流量提醒</label> 
					</li>
				</ul>
				<input type="button" value="" id="smsNoticeSave" class="smsButton j_save" />
		</div>
	</div>

	<!-- 集团用户的参数设置 -->
	<div id="corpTerminalWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle corpTerminalTitle">
			<span class="close j_close" title="关闭窗口" who="corpTerminal"></span>
		</div>
		<div id="corpTerminalContent" class="corpTerminalContent wrapperContent">
			<form id="corp_terminalForm" >
			<fieldset>
				<legend class="legendTerminal">定位器设置：</legend>
				<table class="bListR">
					<tbody>
						<tr>
							<td class="terminalTdL">定位器号码:</td>
							<td id="corp_mobile"  t_val="">
								<label id="t_corp_mobile"></label>
							</td>
						</tr>
						<tr class="j_corp_terminal">
							<td class="terminalTdL">短信接收号码:</td>
							<td id="t_corp_c_umobile" class="j_corp_ListVal j_input j_white_list"  t_val="">
								<!--<label id="t_corp_umobile"></label>-->
								<input id="t_corp_owner_mobile" terminalkey="owner_mobile"  class="text_mouseOut" type="text" />
							</td>
						</tr>
						<tr>
							<td class="terminalTdL">客户端通知:</td>
							<td id="corp_push_status" class="j_corp_ListVal j_radio"  t_val="">
								<input id="tr_corp_push_status1" type="radio" value="1" name="corp_tpStatus" />
								<label id="corp_tpsLable1" for="tr_corp_push_status1">开启</label>
								<input id="tr_corp_push_status0" type="radio" value="0" name="corp_tpStatus" />
								<label id="corp_tpsLable0" for="tr_corp_push_status0">关闭</label>
							</td>
						</tr>
						<tr class="j_corp_terminal">
							<td class="terminalTdL" >上报频率:</td>
							<td id="corp_freq"  class="j_corp_ListVal j_input"  t_val="">
								<select id="t_corp_freq" terminalkey="freq">
									<option value="0">智能上报</option>
									<option value="60">1分钟</option>
									<option value="300">5分钟</option>
									<option value="600">10分钟</option>
									<option value="1800">30分钟</option>
								</select>
							</td>
						</tr>
						<tr class="j_corp_terminal">
							<td class="terminalTdL" >车牌号码:</td>
							<td id="corp_corp_cnum"  class="j_corp_ListVal j_input"  t_val="">
								<input type="text" id="t_corp_corp_cnum" terminalkey="corp_cnum"  class="text_mouseOut j_onInputBlur"  msg="车牌号最大长度是20个汉字或字符！" max = "20"  who="validateLength" parent="terminalWrapper"   />
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
			<fieldset class="corpFieldSet">
				<legend>短信通知项：</legend>
					<ul class="corp_smsList">
						<li>
							<input type="checkbox" id="corp_powerlow" class="j_corp_checkbox" title="低电" /><label for="corp_powerlow">电量告警</label> 
						</li>
						<li>
							<input type="checkbox" id="corp_illegalmove" class="j_corp_checkbox" title="移动" /><label for="corp_illegalmove">移动告警</label> 
						</li>
						<li>
							<input type="checkbox" id="corp_illegalshake" class="j_corp_checkbox" title="震动" /><label for="corp_illegalshake">震动告警</label> 
						</li>
						<li>
							<input type="checkbox" id="corp_login" class="j_corp_checkbox" title="车主登录" /><label for="corp_login">平台登录提醒</label> 
						</li>
						<li>
							<input type="checkbox" id="corp_heartbeat_lost" class="j_corp_checkbox" title="通讯异常" /><label for="corp_heartbeat_lost">通讯异常提醒</label>
						</li>
						<li>
							<input type="checkbox" id="corp_charge" class="j_corp_checkbox" title="剩余流量" /><label for="corp_charge">剩余流量提醒</label> 
						</li>
					</ul>
					<input type="submit" value="" id="corp_terminalSave" class="corp_terminalButton j_save" />
			</fieldset>
			</form>				
		</div>
	</div>

	<!-- 操作员管理 -->
	<div id="operatorWrapper" class="hide wrapper j_drag">
		<div class="wrapperTitle operatorTitle">
			<span class="close j_close" title="关闭窗口" id="j_record" who="operator"></span>
		</div>
		<div id="operatorContent" class="j_dialogContent">
			<div class="dateChoose">
				<table class="conditions">
					<tr>
						<td>
							姓名：<input type="text" id="txt_oprName" maxlength="20" />
						
							手机号：<input type="text" id="txt_oprMobile" maxlength="11" />
						</td>
						<td>
							<!--按钮-->
							<span id="operator_searchBtn" class="recordBtn" title="搜索"></span>
							<a href="#" id="addOperator">新增操作员</a>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<table class="dataTable" id="operatorTable" cellspacing="0" border="1" align="center">
					<tbody>
						<tr id="operatorTableHeader">
							<th>组名</th>
							<th>姓名</th>
							<th>手机号</th>
							<th>地址</th>
							<th>email</th>
							<th class="j_opertion">编辑</th>
							<th class="j_opertion">删除</th>
						</tr>
					</tbody>
				</table>
				<!-- 分页 -->
				<div id="operatorPage" class="hide">
					<span id="operatorPrevBtn" class="prevBtn j_pBtnHover"></span>
					<span id="operatorPageNums" class="pageNums"><label id="operatorCurrentPage"></label>/<label id="operatorPageCount"></label></span>
					<span id="operatorNextBtn" class="nextBtn j_pBtnHover"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- 新增操作员 -->
	<div id="addOperatorDialog" title="新增操作员" class="hide">
		<form id="addOperatorForm">
			<fieldset class="operatorfieldset">
				<input type="hidden" id="hidOperatorId" />
				<table>
					<tr>
						<td><label for="oprName">姓名：</label></td>
						<td>
							<input type="text" name="oprName" id="txt_operatorName" class="text ui-widget-content ui-corner-all j_oprName" max="20" />
						</td>
					</tr>
					<tr>
						<td><label for="txt_operatorMobile">手机号：</label></td>
						<td>
							<input type="text" name="txt_operatorMobile" id="txt_operatorMobile" class="text ui-widget-content ui-corner-all j_onInputBlur" max="11" maxlength="11" who="operatorMobile" msg="操作员号码格式不正确！" parent="addOperatorDialog" />
						</td>
					</tr>
					<tr>
						<td><label for="txt_operatorMobile">地址：</label></td>
						<td>
							<input type="text" name="txt_operatorAddress" id="txt_operatorAddress" class="text ui-widget-content ui-corner-all j_onInputBlur" parent="addOperatorDialog" />
						</td>
					</tr>
					<tr>
						<td><label for="txt_operatorMobile">email：</label></td>
						<td>
							<input type="text" name="txt_operatorEmail" id="txt_operatorEmail" class="text ui-widget-content ui-corner-all j_onInputBlur" max="100" who="email" msg="您输入的邮箱格式不正确！" parent="addOperatorDialog" />
						</td>
					</tr>
					<tr>
						<td><label for="txt_operatorGroup">组名：</label></td>
						<td>
							<select id="txt_operatorGroup" name="txt_operatorGroup"  class="c_select">
							</select>
						</td>
						<input type="hidden" id="hidOperatorMobile"  value="" />
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="submit" width="100" value="" id="operatorSave" />
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>	
	<!-- 周边查询 -->
	<div id="POISearchWrapper" class="POISearchWrapper hide j_drag">
		<h2 class="PWrapperTitle">
			<span>周边查询</span>
			<span class="pClose close j_close" id="POISClose" title="关闭窗口"></span>
		</h2>
		<div id="POISearchContent" class="POISearchContent">
			<ol class="siv_list">
				<li class="hotel">
					<span></span>
					<a href="#">快捷酒店</a>
					<a href="#">星级酒店</a>
					<a href="#">旅馆</a>
					<a href="#">如家</a>
					<a href="#">7天</a>
				</li>
				<li class="food">
					<span></span>
					<a href="#">餐馆</a>
					<a href="#">快餐</a>
					<a href="#">肯德基</a>
					<a href="#">麦当劳</a>
					<a href="#">咖啡厅</a>
				</li>
				<li class="jiayou">
					<span></span>
					<a href="#">楼盘小区</a>
					<a href="#">公交车站</a>
					<a href="#">银行</a>
					<a href="#">医院</a>
					<a href="#">超市</a>
					<a href="#">ATM</a>
					<a href="#">停车场</a>
					<a href="#">加油站</a>
				</li>
				<li class="entertain">
					<span></span>
					<a href="#">KTV</a>
					<a href="#">电影院</a>
					<a href="#">网吧</a>
					<a href="#">酒吧</a>
					<a href="#">健身中心</a>
				</li>
			</ol>
			<div class="searchCondition">
				<span>关键词：<input type="text" value="查找其他关键词" class="textbox j_blur" id="txtKeywords" /><font id="keywordsTip"></font></span>
				<span>范围：&nbsp;&nbsp;<input type="text" value="1000"  class="textbox j_blur" id="txtBounds" />米<font id="boundsTip"></font></span>
				<span><input type="button" id="btnSearch" class="btnSearch" value="搜索" /></span>
			</div>
		</div>
	</div>
	<!-- 业务变更 -->
	<div id="businessWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle businessTitle">
		</div>
		<div class="businessContent">
			<div class="businessText">
				您的移动车卫士业务发生变更，请重新登录平台。
			</div>
			<div class="msgLine businessLine"></div>
			<a id="businessBtn" class="businessBtn"></a>
		</div>
	</div>
	<!-- 退出提示 -->
	<div id="exitWrapper" class="hide wrapper">
		<span title="关闭窗口" id="exitClose" class="hide close j_close"></span>
		<div id="exitMsg"></div>
		<div class="exitButtons">
			<input type="button" id="btnSure" value="确定" />
			<input type="button" id="btnCancel" value="取消" />
		</div>
	</div>
	<!-- 唤醒提示信息 -->
	<div id="trackWrapper" class="hide">
		<span id="trackMsg"></span>
		<span class="hide" id="trackTimer">0</span>
	</div>
	<!--集团资料框-->
	<div id="corpWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle corpPersonalTitle">
			<span class="close j_close" title="关闭窗口"></span>
		</div>
		<div class="wrapperContent corpContent">
			<form id="corpForm" >
				<table class="personalList">
					<tr>
						<td>
							<label><font class="txtColor">* </font>集团名称：</label>
							<input type="text" name="c_name" id="c_name"  class="text_mouseOut j_corpData1 j_onInputBlur" max="20" who="name" msg="集团名称只能是由数字、英文、下划线或中文组成！"  parent="corpWrapper" />
						</td>
					</tr>
					<tr>
						<td>
							<label><font class="txtColor">* </font>联系人：</label>
							<input type="text" name="c_linkman" id="c_linkman"  class="text_mouseOut j_corpData1 j_onInputBlur" max="20" who="name" msg="联系人只能是由数字、英文、下划线或中文组成！"  parent="corpWrapper" />
						</td>
					</tr>
					<tr>
						<td>
							<label><font class="txtColor">* </font>联系电话：</label>
							<input type="text" name="c_mobile" id="c_mobile"  class="text_mouseOut j_corpData1 j_onInputBlur" max="20" who="mobile" msg="请输入正确的手机号！"  parent="corpWrapper" />
						</td>
					</tr>
					<tr>
						<td>
							<label>地址：</label>
							<input type="text" id="c_address" name="c_address" class="text_mouseOut j_corpData1 j_onInputBlur"  msg="地址最大长度是100个汉字或字符！" max="100"  who="validateLength" parent="corpWrapper"   />
						</td>
					</tr>
					<tr>
						<td>
							<label>E-MAIL：</label>
							<input type="text" name="c_email" id="c_email" class="text_mouseOut j_corpData1 j_onInputBlur"  parent="corpWrapper" msg="您输入的邮箱格式不正确！" max = "100"  who="email"  />
						</td>
					</tr>
				</table>
				<input type="hidden" id="hidCName"  value="" />
				<input type="submit" value="" id="corpSave" class="personalButton j_save" />
			</form>
		</div>
	</div><!--集团资料框end-->
	
	<!--操作员资料框-->
	<div id="operatorDataWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle corpPersonalTitle">
			<span class="close j_close" title="关闭窗口"></span>
		</div>
		<div class="wrapperContent operatorContent">
			<form id="operatorForm" >
				<table class="personalList">
					<tr>
						<td>
							<label><font class="txtColor">* </font>集团名称：</label>
							<span id="span_operCName"></span>
						</td>
					</tr>
					<tr>
						<td>
							<label><font class="txtColor">* </font>操作员姓名：</label>
							<span id="span_operName"></span>
						</td>
					</tr>
					<tr>
						<td>
							<label><font class="txtColor">* </font>联系电话：</label>
							<span id="span_operMobile"></span>
						</td>
					</tr>
					<tr>
						<td>
							<label>地址：</label>
							<input type="text" id="txt_operAddress" name="txt_operAddress" class="text_mouseOut j_operatorData j_onInputBlur"  msg="地址最大长度是100个汉字或字符！" max="100"  who="validateLength" parent="operatorDataWrapper"   />
						</td>
					</tr>
					<tr>
						<td>
							<label>E-MAIL：</label>
							<input type="text" name="txt_operEmail" id="txt_operEmail" class="text_mouseOut j_operatorData j_onInputBlur"  parent="operatorDataWrapper" msg="您输入的邮箱格式不正确！" max = "100"  who="email"  />
						</td>
					</tr>
				</table>
				<input type="submit" value="" id="operatorDataSave" class="personalButton j_save" />
			</form>
		</div>
	</div><!--操作员资料框end-->
	
	<!-- 新增终端 -->
	<div id="cTerminalWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle cTerminalTitle">
			<span class="close j_close" title="关闭窗口"></span>
		</div>
		<div class="wrapperContent cTerminalContent">
			<form id="cTerminalForm" >
				<table class="cTerminalList">
					<tr>
						<td>
							<label><font class="txtColor">* </font>定位器号码：</label>
							<input type="text" name="c_tmobile" id="c_tmobile"  class="text_mouseOut j_corpData j_onInputBlur" max="11" who="cMobile" msg="定位器号码格式不正确！"  parent="cTerminalWrapper" />
						</td>
					</tr>
					<tr>
						<td>
							<label><font class="txtColor"></font>短信接收号码：</label>
							<input type="text" name="c_umobile" id="c_umobile"  class="text_mouseOut j_corpData j_onInputBlur" max="11" who="uMobile" msg="短信接收号码格式不正确！"  parent="cTerminalWrapper" />
						</td>
					</tr>
					<tr>
						<td>
							<label>车牌号码：</label>
							<input type="text" id="c_cnum" name="c_cnum" class="text_mouseOut j_corpData j_onInputBlur"  msg="车牌号最大长度是20个汉字或字符！" max="20"  who="validateLength" parent="cTerminalWrapper"   />
						</td>
					</tr>
					<!--<tr>
						<td>
							<label>开始时间：</label>
							<input type="text" name="c_begintime" id="c_begintime"  class="time" />
						</td>
					</tr>
					<tr>
						<td>
							<label>结束时间：</label>
							<input type="text" name="c_endtime" id="c_endtime"  class="time" />
						</td>
					</tr>
					
					<tr>
						<td>
							<label>车辆类型：</label>
							<select id="c_type" name="c_type"  class="c_select">
								<option value="1">小汽车</option>
								<option value="2">小货车</option>
								<option value="3">大巴车</option>
								<option value="4">摩托车</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label>车辆颜色：</label>
							<select id="c_color" name="c_color" class="c_select" >
								<option value="1">黑色</option>
								<option value="2">白色</option>
								<option value="3">银色</option>
								<option value="4">红色</option>
								<option value="5">黄色</option>
								<option value="6">灰色</option>
								<option value="7">其他</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label>车辆品牌：</label>
							<input type="text" id="c_brand" name="c_brand" class="text_mouseOut j_corpData j_onInputBlur"  msg="车辆品牌最大长度是20个汉字或字符！" max="20"  who="validateLength" parent="cTerminalWrapper"   />
						</td>
					</tr>-->
				</table>
				<input type="hidden" id="hidGroupId"  value="" />
				<input type="hidden" id="hidTMobile"  value="" />
				<input type="submit" value="" id="cTerminalSave" class="personalButton j_save" />
			</form>
		</div>
	</div>
	<!-- 编辑终端 -->
	<!--<div id="cTerminalEditWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle cTerminalEditTitle">
			<span class="close j_close" title="关闭窗口"></span>
		</div>
		<div class="wrapperContent cTerminalEditContent">
			<form id="cTerminalEditForm" >
				<table class="cTerminalList">
					<tr>
						<td>
							<label>终端手机号：</label>
							<span class="j_tmobile"></span>
						</td>
					</tr>
					<tr>
						<td>
							<label>车主手机号：</label>
							<span class="j_umobile"></span>
						</td>
					</tr>
					<tr>
						<td>
							<label>开始时间：</label>
							<input type="text" id="c_editbegintime"  class="time j_cterminalEdit" />
						</td>
					</tr>
					<tr>
						<td>
							<label>结束时间：</label>
							<input type="text" id="c_editendtime"  class="time j_cterminalEdit" />
						</td>
					</tr>
					<tr>
						<td>
							<label>车牌号码：</label>
							<input type="text" id="c_editcnum" class="text_mouseOut j_cterminalEdit j_onInputBlur"  msg="车牌号最大长度是20个汉字或字符！" max="20"  who="validateLength" parent="cTerminalWrapper"   />
						</td>
					</tr>
					<tr>
						<td>
							<label>车辆品牌：</label>
							<input type="text" id="c_editcbrand" class="text_mouseOut j_cterminalEdit j_onInputBlur"  msg="车辆品牌最大长度是20个汉字或字符！" max="20"  who="validateLength" parent="cTerminalWrapper"   />
						</td>
					</tr>
					<tr>
						<td>
							<label>车辆类型：</label>
							<select id="c_editctype" class="j_cterminalEdit c_select">
								<option value="1">小汽车</option>
								<option value="2">小货车</option>
								<option value="3">大巴车</option>
								<option value="4">摩托车</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label>车辆颜色：</label>
							<select id="c_editccolor" class="j_cterminalEdit c_select" >
								<option value="1">黑色</option>
								<option value="2">白色</option>
								<option value="3">银色</option>
								<option value="4">红色</option>
								<option value="5">黄色</option>
								<option value="6">灰色</option>
								<option value="7">其他</option>
							</select>
						</td>
					</tr>
				</table>
				<input type="hidden" id="hidTid"  value="" />
				<input type="submit" value="" id="cTerminalEditSave" class="personalButton j_save" />
			</form>
		</div>
	</div>
	-->
	<!-- 统计 -->
	<div id="staticsWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle staticsTitle">
			<span class="close j_close" title="关闭窗口" who="statics"></span>
		</div>
		<div class="wrapperContent staticsTitleContent">
			<table class="staticsCondition">
				<tr>
					<td>
						查询时间：<input type="text" id="staticsStartTime"  class="time" />
						至 <input type="text" id="staticsEndTime"  class="time" />
					</td>
					<td><span id="statics_searchBtn" class="staticsBtn j_tBtnhover" title="搜索"></span></td>
				</tr>
			</table>
			<table class="dataTable staticsTable"  cellspacing="0" border="1" borderColor="red" align="center">
				<tbody>
					<tr id="staticsTableHeader">
						<th>定位器</th>
						<th>移动告警</th>
						<!--<th>SOS告警</th>-->
						<th>震动告警</th>
						<th>通讯异常</th>
						<th>电量告警</th>
					</tr>
				</tbody>
			</table>
			<!-- 分页 -->
			<div id="staticsPage" class="hide">
				<span id="staticsPrevBtn" class="prevBtn j_pBtnHover"></span>
				<span id="staticsPageNums" class="pageNums"><label id="staticsCurrentPage"></label>/<label id="staticsPageCount"></label></span>
				<span id="staticsNextBtn" class="nextBtn j_pBtnHover"></span>
			</div>
		</div>
	</div>
	<div id="createGroupWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle createGroupTitle">
			<span class="close j_close" title="关闭窗口"></span>
		</div>
		<div class="createGroupContent wrapperContent">
			<table class="createGTable">
				<tr>
					<td>
						分组名称：<input type="text" id="txt_groupName" class="text_mouseOut j_onInputBlur"   />
					</td>
					<td>
						<input type="button" class="createGroupButton j_save" id="createGroupSave" value="" />
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- 文件上传 -->
	<div id="fileUploadDialog" title="批量文件上传" class="hide">
		<input type="hidden" id="hidGid" />
		<input type="hidden" id="hidGName" />
		<iframe scrolling="auto" width=580 height=460 frameborder=0 src="" id="fileUploadIframe" name="fileUploadIframe"></iframe>
	</div>
	<!-- 告警查询 -->
	<div id="eventSearchWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle eventSearchTitle">
			<span class="close j_close" title="关闭窗口" who="eventSearch"></span>
		</div>
		<div class="wrapperContent eventSearchContent">
			<table class="eventSearchCondition">
				<tr>
					<td>
						查询时间：<input type="text" id="eventSearchStartTime"  class="time" />
						至 <input type="text" id="eventSearchEndTime"  class="time" />
					</td>
					<td>
						<span class="eventSearchPos">
							<span class="timeTip">告警类型:</span>
							<select class="cEventType" id="eventSearchCategory">
								<option value="-1">全部</option>
								<!--<option value="5">SOS</option>-->
								<option value="2">电量告警</option>
								<option value="6">通讯异常</option>
								<option value="3">震动</option>
								<option value="4">移动</option>
							</select>
						</span>
					</td>
					<td><span id="eventSearch_searchBtn" class="eventBtn j_tBtnhover" title="搜索"></span></td>
				</tr>
			</table>
			<table class="dataTable eventSearchTable"  cellspacing="0" border="1" borderColor="red" align="center">
				<tbody>
					<tr id="eventSearchTableHeader">
						<th class="eventAlias">定位器</th>
						<th class="eventTime">时间</th>
						<th class="eventType">告警类型</th>
						<th class="eventLocation">位置详情</th>
						<th class="eventLocation">备注</th>
					</tr>
				</tbody>
			</table>
			<!-- 分页 -->
			<div id="eventSearchPage" class="hide">
				<span id="eventSearchPrevBtn" class="prevBtn j_pBtnHover"></span>
				<span id="eventSearchPageNums" class="pageNums"><label id="eventSearchCurrentPage"></label>/<label id="eventSearchPageCount"></label></span>
				<span id="eventSearchNextBtn" class="nextBtn j_pBtnHover"></span>
			</div>
		</div>
	</div>
	<!-- 里程 统计-->
	<div id="mileageWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle mileageTitle">
			<span class="close j_close" title="关闭窗口" who="mileage"></span>
		</div>
		<div class="wrapperContent mileageContent">
			<table class="mileageCondition">
				<tr>
					<td>
						查询时间：<input type="text" id="mileageStartTime"  class="time" />
						至 <input type="text" id="mileageEndTime"  class="time" />
					</td>
					<td><span id="mileage_searchBtn" class="eventBtn j_tBtnhover" title="搜索"></span></td>
				</tr>
			</table>
			<table class="dataTable mileageTable"  cellspacing="0" border="1" borderColor="red" align="center">
				<tbody>
					<tr id="mileageTableHeader">
						<th class="mileageAlias">定位器</th>
						<th class="mileageDist">里程（公里）</th>
					</tr>
				</tbody>
			</table>
			<!-- 分页 -->
			<div id="mileagePage" class="hide">
				<span id="mileagePrevBtn" class="prevBtn j_pBtnHover"></span>
				<span id="mileagePageNums" class="pageNums"><label id="mileageCurrentPage"></label>/<label id="mileagePageCount"></label></span>
				<span id="mileageNextBtn" class="nextBtn j_pBtnHover"></span>
			</div>
		</div>
	</div>
	<!-- 批量删除数据回显 -->
	<div class="hide" id="batchDeleteDialog">
		<table class="dataTable batchDeleteTable">
			<thead>
				<tr>
					<th colspan="3" class="j_batchDeleteHead"></th>
				</tr>
				<tr>
					<td>车牌号</td>
					<td>定位器号码</td>
					<td>状态</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<input type="button" class="operationBtn j_batchDelete" value="批量删除"  />
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<!--统计 列表-->
	<ul id="countSecondList" class="hide j_countNavItem countUlIetm">
		<li>
			<a href="#" id="statics" class="statics j_click"></a>
		</li>
		<li>
			<a href="#" id="mileage" class="mileage j_click"></a>
		</li>
	</ul>
</div>
