<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动卫士--移动版下载</title>
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery_cookie.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/definitions.js"></script>
		<script type="text/javascript" src="/static/js/download.js"></script>

		<link type="text/css" href="/static/css/client.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/download.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
	</head>
<body id="downloadBody">
	<center>
		<div class="downloadBox_monitor">
		<!--togglebox-->
			<div class="innerBox">
				<div class="Tabbox " style="display: block;">
					<!--<div class="h250 mt20 mb20">
						<div class="fl tc w200"><img src="../static/images/client/phone1.png">
						</div>
						<div class="fl w340 pl40 pt30">
							<h1 class="f40 lh35 h40 mb10">移动卫士--手机移动版<font class="f25 ml20 ftx60">iPhone版</font>
							<div class="dBut">
								<span><a href="#" target="_blank">监控端</a></span>
								<span><a href="#" target="_blank">被监控端</a></span>
							</div>
						</div>
					</div>-->
					<div class="spline mt20 mb20"></div>
					<div class="h250 mt20 mb20">
						<div class="fl tc w200"><img src="../static/images/client/phone2.png">
						</div>
						<div class="fl w340 pl40 pt30 h173">
							<h1 class="f40 lh35 h40 mb10">移动卫士--手机移动版<font class="f25 ml20 ftx60">Android版</font>
							</h1>
							<div class="dBut">
								<span><a href="/download?category=3" target="_blank">监控端</a></span>
								<span><a href="/download?category=4" target="_blank">被监控端</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</center>
</body>
</html>