<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动卫士--客户端下载</title>
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/download.css" rel="stylesheet" />
		
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery_cookie.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/definitions.js"></script>
		
		<script type="text/javascript" src="/static/js/download_ajt.js"></script>
	</head>
	
	<body>
		<center>
			<div class="content androidContent hide">
				<!--android下载说明-->
				<div class="softInfo">
					<div class="infoSign infoL">
						<img src="/static/images/acb_downloadLogo.png"  width="96" alt="移动卫士" />
					</div>
					<div class="infoText infoL android_ajtDownload">
						<ul>
							<li>
								<h1>移动卫士安卓版</h1>
							</li>
							<li>
								类别：生活
							</li>
							<li>
								大小：5.41MB
							</li>
							<li>
								开发商：<a href="http://dbjtech.com/" target="_blank">珠海德百祺科技有限公司</a>
							</li>
							<li>
								<a href="/download?category=3" target="_blank" title="立即下载" class="infoBtn btn_weixin">立即下载</a>
							</li>
						</ul>
					</div>
					<div class="infoGrCode infoL">
						<img src="/static/images/download_ajt.png" alt="移动卫士二维码" />
						<!--<span class="barCode">
							二维码扫描软件下载：
							<a href="http://www.lingdong.mobi/" target="_blank">快拍</a>
						</span>-->
					</div>
				</div>
				<!--android描述-->
				<div class="softDesc">
					<h1>详细描述:</h1>
					<!--文字说明-->
					<div>
						<p class="descProfess">
							移动卫士是一项保障用户安全的服务业务，主要包括的功能有：实时定位、轨迹查询、告警查询、设防/撤防、定位器设置、短信设置等。
							用户可以登录客户端随时查看定位器所在位置以及轨迹路线，同时用户还可以远程对定位器进行设防/撤防操作以保证用户的人身或财产安全；另外用户可通过手机发送短信指令到平台来查询定位器的当前位置以及对定位器设防撤防，并且还可以查询用户定位器的电量。
						</p>
						<br/>
						<p class="">主要内容：</p>
						<ol class="descText">
							<li>实时定位：通过短信和网络都可以实时定位到定位器的位置。</li>
							<li>轨迹查询：用户查询指定时间段内定位器的路线行踪信息， 在平台页面上通过点线的形式显示出来的行踪轨迹图， 该功能便于查看定位器的活动范围和路线轨迹。</li>
							<li>设防/撤防：定位器处于设防状态时，若定位器发生震动、移动，定位器将会发起震动、移动告警。</li>
							<li>定位器设置：设定定位器的客户端通知。</li>
							<li>短信告警设置：用户选择是否接受告警和提醒信息。</li>
							<li>告警查询：用户在平台上查询定位器指定时间段内的非法移动、低电、进出围栏等告警信息。得到查询结果之后，用户点击位置可以查看具体的位置信息。</li>
							<li>个人信息设置：用户可以对个人的信息如:手机号、用户姓名及密码等进行修改设置。</li>
						</ol>
					</div>
					<!--图片展示-->
					<div class="descImg">
						<ul>
							<li><img src="/static/images/android/acb_login.png" /></li>
							<li><img src="/static/images/android/acb_realtime.png" /></li>
							<li><img src="/static/images/android/acb_track.png" /></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content iosContent hide">
				<!--ios下载说明-->
				<div class="softInfo">
					<div class="infoSign infoL">
						<img src="/static/images/acb_downloadLogo.png"  width="96" alt="移动卫士" />
					</div>
					<div class="infoText infoL">
						<ul>
							<li>
								<h1>移动卫士iOS版</h1>
							</li>
							<li>
								类别：生活
							</li>
							<li>
								大小：5.41MB
							</li>
							<li>
								开发商：<a href="http://dbjtech.com/" target="_blank">珠海德百祺科技有限公司</a>
							</li>
							<li>
								固件要求：与 iPhone、iPod touch、iPad 兼容。需要 iOS5.0 或更高版本。
							</li>
							<li>
								<label class="iosDownloadLabel">下载地址：</label>
								<ul class="iosDownloadul">
									<li>
										<a href="#" target="_blank" title="苹果官方商店" class="infoBtn btn_weixin">苹果官方商店</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="infoGrCode infoL">
						<img src="/static/images/download_ajt.png" alt="移动卫士二维码" />
						<!--<span class="barCode">
							二维码扫描软件下载：
							<a href="http://www.lingdong.mobi/" target="_blank">快拍</a>
						</span>-->
					</div>
				</div>
				<!--ios描述-->
				<div class="softDesc">
					<h1>详细描述:</h1>
					<!--文字说明-->
					<div>
						<p class="descProfess">
							移动卫士是一项保障用户安全的服务业务，主要包括的功能有：实时定位、轨迹查询、告警查询、设防/撤防、定位器设置、短信设置等。
							用户可以登录客户端随时查看定位器所在位置以及轨迹路线，同时用户还可以远程对定位器进行设防/撤防操作以保证用户的人身或财产安全；另外用户可通过手机发送短信指令到平台来查询定位器的当前位置以及对定位器设防撤防，并且还可以查询用户定位器的电量。
						</p>
						<br/>
						<p class="">主要内容：</p>
						<ol class="descText">
							<li>实时定位：通过短信和网络都可以实时定位到定位器的位置。</li>
							<li>轨迹查询：用户查询指定时间段内定位器的路线行踪信息， 在平台页面上通过点线的形式显示出来的行踪轨迹图， 该功能便于查看定位器的活动范围和路线轨迹。</li>
							<li>设防/撤防：定位器处于设防状态时，若定位器发生震动、移动，定位器将会发起震动、移动告警。</li>
							<li>定位器设置：设定定位器的客户端通知。</li>
							<li>短信告警设置：用户选择是否接受告警和提醒信息。</li>
							<li>告警查询：用户在平台上查询定位器指定时间段内的非法移动、低电、进出围栏等告警信息。得到查询结果之后，用户点击位置可以查看具体的位置信息。</li>
							<li>个人信息设置：用户可以对个人的信息如:手机号、用户姓名及密码等进行修改设置。</li>
						</ol>
					</div>
					<!--图片展示-->
					<div class="descImg">
						<ul>
							<li><img src="/static/images/ios/acb_menu.png" /></li>
							<li><img src="/static/images/ios/acb_realtime.png" /></li>
							<li><img src="/static/images/ios/acb_track.png" /></li>
						</ul>
					</div>
				</div>
			</div>
		</center>
	</body>
</html>