<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>盛宇百祺定位系统软件V2.4-错误页</title>
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
	</head>
	<body class="errorBody">
		<p class="error">
			{{message}}
		</p>
		<p>
			请登录官网：<a href='{{home_url}}' >{{home_url}}</a>，查看详情。
		</P>
	</body>
</html>
