{% extends "base.html" %}
{% block include %}
<script type="text/javascript" src="{{static_url('js/WdatePicker.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/event.js')}}"></script>
{% end %}
{% block title %}移动车卫士-告警查询{% end %}
{% block body %}
<body class="eventbody j_body" alias={{alias}}>
	<!--查询条件-->
	<div class="eventHeader">
		<div class="eventTitle">
			<!--时间选择-->
			<span class="eventPos">
				<span class="timeTip">查询日期:</span>
				<input type="text" class="time" id="eventStartTime" />
				<span class="">至</span>
				<input type="text" class="time" id="eventEndTime" />			
			</span>
			<span class="eventPos">
				<span class="timeTip">告警类型:</span>
				<select class="cEventType" id="category">
					<option value="-1">全部</option>
					<!--<option value="5">SOS</option>-->
					<option value="2">电量告警</option>
					<option value="6">通讯异常</option>
					<option value="3">震动</option>
					<option value="4">移动</option>
				</select>
			</span>
			<!--按钮-->
			<span id="eventSearch" class="eventBtn j_tBtnhover" title="搜索">
			</span>
		</div>
	</div>
	<!--查询结果显示-->
	<div id="eventResult">
		<table class="dataTable" align="center" border="1" cellspacing="0">
			<tbody>
				<tr id="eventTableHeader">
					<th class="eventTime">时间</th>
					<th class="eventType">告警类型</th>
					<th class="eventLocation">位置详情</th>
					<th class="eventLocation">备注</th>
				</tr>
			</tbody>
		</table>
		<!-- 分页 -->
		<div id="pagerContainer" class="hide">
			<span id="prevPage" class="prevBtn j_pBtnHover"></span>
			<span id="pageNums"><label id="currentPage"></label>/<label id="pageCount"></label></span>
			<span id="nextPage" class="nextBtn j_pBtnHover"></span>
		</div>
	</div>
	<!--地图显示-->
	<div class="eventMapContent hide wrapper">
		<div class="j_draggable eventDragTitle">
			<div class="eventMapClose j_close" id="mapClose" title="关闭窗口"></div>
		</div>
		<div id="mapObj" style="width:390px; height:340px; min-height: 0px"></div> 
	</div>
	<div id="jNotifyMessage"></div> <!--消息提示框-->
	<div id="maskLayer" class="hide"></div><!--页面遮罩-->
	<input type="hidden" id="map_type" value="{{map_type}}" />
	<!-- 业务变更 -->
	<div id="businessWrapper" class="wrapper hide j_drag">
		<div class="wrapperTitle businessTitle">
		</div>
		<div class="businessContent">
			<div class="businessText">
				您的移动车卫士业务发生变更，请重新登录平台。
			</div>
			<div class="msgLine businessLine"></div>
			<a id="businessBtn" class="businessBtn"></a>
		</div>
	</div>
</body>	
{% end %}