<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jnotify.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/definitions.js"></script>
		<script type="text/javascript" src="/static/js/initialize_common.js"></script>
		<script type="text/javascript" src="../static/js/formValidator-4.1.1.js"></script>
		<script type="text/javascript" src="../static/js/formValidatorRegex.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jnotify.js"></script>
		<script type="text/javascript" src="../static/js/feedback.js"></script>
		<title>移动卫士--意见反馈</title>
	</head>
	<body class="commonBody">
		<div class="fbtable">
			<form id="feedbackForm" >
				<table id="suggestions">
					<tr>
						<td colspan="2">
							<h1>意见反馈</h1>
							<span class="fb_title">您好，欢迎提出宝贵意见和建议，您留下的每个意见都会帮助我们提高服务。</span>
						</td>
					</tr>
					<tr>
						<td class="tdLeft">联系人：</td>
						<td>
							<input type="text" id="contact" class="fb_textbox j_feedback" title="请输入联系人姓名" />
						</td>
					</tr>
					<tr>
						<td class="tdLeft">Email：</td>
						<td><input type="text" id="email" class="fb_textbox j_feedback"  title="请输入Email地址" /></td>
					</tr>
					<tr>
						<td class="tdLeft">手机号：</td>
						<td><input type="text" id="feedback_mobile" class="fb_textbox j_feedback"  title="请输入手机号" /></td>
					</tr>
					<tr>
						<td class="tdLeft">反馈内容：</td>
						<td>
							<textarea class="feed_con j_feedback" title="请输入反馈内容" rows="" cols="" id="content" name="content"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="submit" id="btnSubmit" title="提交意见"  value="" class="fbSubmit" />
							<input type="submit" id="btnCancle" title="取消" value="" class="fbqx" />
						</td>
					</tr>
					<!--<tr>
						<td colspan="2" align="center" height="30px">
							关注<a href="http://e.weibo.com/wxcszs?ref=http%3A%2F%2Fweibo.com%2F1726980212%2Fmyfollow" targe="_blank" title="中山无线城市微博">中山无线城市微博</a>
						</td>
					</tr>-->
					<tr>
						<td><p></p></td>
					</tr>
				</table>
			</form>
		</div> 
		<div id="jNotifyMessage" class="hide"></div>
		
	</body>
</html>
