<html ng-app="myApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>意见反馈</title>

	<script src="/static/js/angular.min.js"></script>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.main-container{padding:5px; width:100%;}
		label{white-space:nowrap; text-align: right;}
		.panel-heading{font-weight: bold; font-size: 16px;}
		.panel-body{padding-right:15px;}
		.alert{padding:5px;margin-bottom:0;}
		.required-star{color:red;}
	</style>
	<script>
	var app = angular.module('myApp', [])
	app.config(function($locationProvider,$httpProvider){
		$locationProvider.html5Mode(true).hashPrefix('!')
		delete $httpProvider.defaults.headers.common['X-Requested-With']
	})
	function myController($scope,$location,$http,$window) {
		var query = $location.search()
		$scope.query = query
		$scope.feedback = {category:'4'}
		$scope.submit = function(){
			var config = {headers:{'Content-Type':'application/json; charset=UTF-8'}}
			config.url = '/feedback'
			config.method = 'POST'
			config.data = $scope.feedback
			config.data.email = config.data.email || '' 
			$scope.feedback_backup = angular.copy($scope.feedback)
			$http(config).success(function(rs){
				console.log(arguments)
				$scope.error = '感谢您的宝贵意见'
				setInterval(function(){WeixinJSBridge.call('closeWindow')},2000)
			}).error(function(rs){
				console.log(arguments)
				$scope.error = '提交失败，请稍后再试'
			})
		}
		$scope.close = function(){

		}
		$scope.unchange = function(){
			return angular.toJson($scope.feedback_backup) == angular.toJson($scope.feedback)
		}
	}
	</script>
</head>
<body ng-controller="myController">
<div class="main-container">
<div class="panel panel-default">
	<div class="panel-heading">
		意见反馈
	</div>
	<div class="panel-body">
		<div class="col-xs-12" style="margin-bottom: 10px;">
			您好，欢迎提出宝贵意见和建议，您留下的每个意见都会帮助我们提高服务。
		</div>
		<form class="form-horizontal" role="form" name="ff" novalidate>
			<div class="form-group" ng-class="{'has-error':ff.contact.$invalid&&ff.contact.$dirty}">
				<label for="i0" class="col-xs-3 control-label">联系人<span class='required-star'>*</span></label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="i0" placeholder="联系人" ng-model="feedback.contact" name="contact" ng-maxlength=20 required/>
					<p class="alert alert-danger" ng-show="ff.contact.$error.required&&ff.contact.$dirty">请输入联系人名字</p>
					<p class="alert alert-danger" ng-show="ff.contact.$error.maxlength">联系人名字不能超过20个字</p>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error':ff.email.$invalid}">
				<label for="i1" class="col-xs-3 control-label">邮箱</label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="i1" placeholder="邮箱" ng-model="feedback.email" name="email" ng-pattern="/^\w+((-\w+)|(\.\w+))*@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/">
					<p class="alert alert-danger" ng-show="ff.email.$error.pattern">请输入合法的邮箱</p>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error':ff.mobile.$invalid&&ff.mobile.$dirty}">
				<label for="i2" class="col-xs-3 control-label">手机号<span class='required-star'>*</span></label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="i2" placeholder="手机号" ng-model="feedback.mobile" name="mobile" ng-pattern="/^1[3458][0-9]{9}$/" required>
					<p class="alert alert-danger" ng-show="ff.mobile.$error.required&&ff.mobile.$dirty">请输入手机号码</p>
					<p class="alert alert-danger" ng-show="ff.mobile.$error.pattern">请输入合法的手机号码</p>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error':ff.content.$invalid&&ff.content.$dirty}">
				<label for="i3" class="col-xs-3 control-label">反馈内容<span class='required-star'>*</span></label>
				<div class="col-xs-9">
					<textarea class="form-control" id="i3" placeholder="反馈内容" rows="3" ng-model="feedback.content" name="content" ng-minlength=10 required></textarea>
					<p class="alert alert-danger" ng-show="ff.content.$error.required&&ff.content.$dirty">请输入反馈内容</p>
					<p class="alert alert-danger" ng-show="ff.content.$error.minlength">反馈内容不能少于10个字</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-5">
					<button class="btn btn-primary col-xs-12" ng-click="submit()" ng-disabled="ff.$invalid||unchange()">提交</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<span ng-show="error" ng-bind="error"></span>
				</div>
			</div>
		</form>
	</div>
</div>

</div>
</body>
</html>
