{% extends "base.html" %}
{% block include %}
		<script type="text/javascript" src="../static/js/formValidator-4.1.1.js"></script>
		<script type="text/javascript" src="../static/js/formValidatorRegex.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jnotify.js"></script>
		<script type="text/javascript" src="../static/js/feedback.js"></script>
		<title>移动车卫士--意见反馈</title>
{% end %}
{% block body %}
	<body class="commonBody">
		<div class="fbtable">
			<form id="feedbackForm" >
				<table id="suggestions">
					<tr>
						<td colspan="2">
							<h1>意见反馈</h1>
							<span class="fb_title">您好，欢迎提出宝贵意见和建议，您留下的每个意见都会帮助我们提高服务。</span>
						</td>
					</tr>
					<tr>
						<td class="tdLeft">联系人：</td>
						<td>
							<input type="text" id="contact" class="fb_textbox j_feedback" title="请输入联系人姓名" />
						</td>
					</tr>
					<tr>
						<td class="tdLeft">Email：</td>
						<td><input type="text" id="email" class="fb_textbox j_feedback"  title="请输入Email地址" /></td>
					</tr>
					<tr>
						<td class="tdLeft">反馈内容：</td>
						<td>
							<textarea class="feed_con j_feedback" title="请输入反馈内容" rows="" cols="" id="content" name="content"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="submit" id="btnSubmit" title="提交意见"  value="" class="fbSubmit" />
							<input type="submit" id="btnCancle" title="取消" value="" class="fbqx" />
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center" height="30px">
							关注<a href="http://e.weibo.com/wxcszs?ref=http%3A%2F%2Fweibo.com%2F1726980212%2Fmyfollow" targe="_blank" title="中山无线城市微博">中山无线城市微博</a>
						</td>
					</tr>
					<tr>
						<td><p></p></td>
					</tr>
				</table>
			</form>
		</div> 
		<div id="jNotifyMessage" class="hide"></div>
		
	</body>
{% end %}
