<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jnotify.js"></script>
		<script type="text/javascript" src="/static/js/initialize_common.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/fileupload.js"></script>
		<title>文件上传</title>
	</head>
	<body style="background-color: #FFF;">
		{% if status is None %}
		<form id="fileUploadForm" name="fileUploadForm" method="POST" target="fileUploadIframe"  enctype="multipart/form-data" action="/batch/import">
			<p class="uploadTip">
				请选择后缀名为xls或xlsx的Excel文件
			</p>
			<input type="hidden" id="gid" name="gid" value="" />
			<div class="file-box">				
				<input type='text' name='txtFile' id='txtFile' class='txtFile' />  
				<input type='button' class='btnFileUpload' id="btnFileUpload" value='浏览...' />
				<input type="file" name="upload_file" class="file" id="upload_file" size="28" onchange="document.getElementById('txtFile').value=this.value" />
				<input type="submit" href="#" title="开始上传" class="btnFileUpload j_startUpload hide" value="开始上传" />
			</div>
			<p class="errorMsg j_uploadError">
			</p>
		</form>
		{% elif status == 0 %}
			<table class="dataTable excelInfoTable" id="fileUploadTable">
				<thead>
					<tr class="batchThead"><th colspan="3" class="j_thead"></th></tr>
					<tr class="theadTitle"><td>定位器号码</td><td>车主号码</td><td>状态</td></tr>
				</thead>
				{% for r in res %}
					{% if r.status == 1 %}
						<tr class="j_notActived" tmobile="{{r.tmobile}}" umobile="{{r.umobile}}">
							<td>{{r.tmobile}}</td>
							<td>{{r.umobile}}</td>
							<td class="fileStatus1">等待激活</td>
						</tr>
					{% elif r.status == 2 %}
						<tr>
							<td>{{r.tmobile}}</td>
							<td>{{r.umobile}}</td>
							<td tmobile="{{r.tmobile}}" class="fileStatus2">定位器号码已存在</td>
						</tr>
					{% elif r.status == 3 %}
						<tr>
							<td>{{r.tmobile}}</td>
							<td>{{r.umobile}}</td>
							<td tmobile="{{r.tmobile}}" class="fileStatus3">手机号码格式错误</td>
						</tr>
					{% elif r.status == 4 %}
						<tr>
							<td>{{r.tmobile}}</td>
							<td>{{r.umobile}}</td>
							<td tmobile="{{r.tmobile}}" class="fileStatus3">非白名单号码</td>
						</tr>
					{% end %}
				{% end %}
				<tfoot class="tfootCss">
					<tr rowspan="2">
						<td colspan="3" align="right">
							<input type="button" class="activeBtn j_active" value="批量激活" />
						</td>
					</tr>
				</tfoot>
			</table>
			<div id="jNotifyMessage"></div> <!--消息提示框-->
		{% else %}
			<span class="txtColor">{{message}}</span>
		{% end %}
	</body>
</html>