<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<title>移动车卫士-友情链接</title>
		<link type="text/css" href="static_url('css/friendlink.css')}}" rel="stylesheet" />
	</head>
	<body>
		<!--title-->
		<div class="fl_title"></div>
		<!--content-->
		<div class="fl_content">
			<!--content title-->
			<div class="fl_content_title">
				友情链接
			</div>
			<!--content text-->
			<div class="fl_content_main">
				<!--fl list-->
				<ul class="fl_flList">
					<li>
						<a href="http://gd.10086.cn/zhongshan/" target="_blank" title="中山分公司_广东移动" class="fl_gdzsyd fl_listIcon"></a>
					</li>
					<li>
						<a href="http://www.25pp.com/" target="_blank" title="iPhone游戏" class="fl_25pp fl_listIcon"></a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
