<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>定位仪Beta版本集团用户帮助</title>
		<link type="text/css" href="/static/css/reset-min.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/help-css.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/accordian.pack.js"></script>	
	</head>
	<body onload="new Accordian('basic-accordian',1,'header_highlight');">
		<h1 class="header">
			<em class="headerTxt">定位仪Beta版本集团用户帮助手册</em>
		</h1>
		<div id="basic-accordian">
			<div id="menus">
				<div><img src="/static/images/logo.png" /></div>
				<div id="test1-header" class="accordion_headings header_highlight"><a class="navItem" href="#">1.平台登录</a></div>
				<div id="test2-header" class="accordion_headings"><a href="#" class="navItem">2.集团管理</a></div>
				<div id="test3-header" class="accordion_headings"><a href="#" class="navItem">3.分组管理</a></div>
				<div id="test4-header" class="accordion_headings"><a href="#" class="navItem">4.定位器管理</a></div>
				<div id="test5-header" class="accordion_headings"><a href="#" class="navItem">5.实时定位</a></div>
				<div id="test6-header" class="accordion_headings"><a href="#" class="navItem">6.轨迹查询</a></div>
				<div id="test7-header" class="accordion_headings"><a href="#" class="navItem">7.告警查询</a></div>
				<div id="test8-header" class="accordion_headings"><a href="#" class="navItem">8.设防/撤防</a></div>
				<div id="test9-header" class="accordion_headings"><a href="#" class="navItem">9.定位器设置</a></div>
				<div id="test10-header" class="accordion_headings"><a href="#" class="navItem">10.短信设置</a></div>
				<div id="test11-header" class="accordion_headings"><a href="#" class="navItem">11.个人信息设置</a></div>
				<div id="test12-header" class="accordion_headings"><a href="#" class="navItem">12.路况信息查询</a></div>
			</div>
			<div id="mainContent">
				<div id="test1-content">
					<div class="accordion_child">
                        <ol>
                            <li class="cHrLine cLinePos">
                                <h3>登录定位仪Beta版本平台（www.ydcws.com）</h3>
								<div>输入正确的用户名、密码及验证码进行登录。</div>
						        <img src="/static/images/corpHelpImg/login.png" alt="登录定位仪Beta版本平台" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test2-content">
					<div class="accordion_child">
						<ul>
							<li>
								<strong class="bigFont">集团管理：</strong>指用户可以对集团名称进行重命名。
							</li>
						</ul>
                        <ol>
                            <li>
                                <h3 class="ctitle">集团右键菜单示例：</h3>
						        <img src="/static/images/corpHelpImg/corp.png" alt="集团右键菜单" />
                            </li>
                            <li>
                                <h3 class="ctitle">重命名集团示例：</h3>
						        <img src="/static/images/corpHelpImg/renameCorp.png" alt="重命名集团" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test3-content">
					<div class="accordion_child">
						<ul>
							<li>
								<strong class="bigFont">分组管理：</strong>指用户可以对集团下的分组进行重命名、添加定位器、删除分组。
							</li>
							<li>
                                <p>
                                    <strong class="bigFont">新建分组：</strong>
										用户需要在集团上添加分组，选中集团名称右击，选中新建分组菜单。
                                </p>
                            </li>
							<li>
                                <p>
                                    <strong class="bigFont">重命名组：</strong>
										用户可以对分组进行重命名，右击要重命名的组，选中重命名组菜单。
                                </p>
                            </li>
							<li>
                                <p>
                                    <strong class="bigFont">删除分组：</strong>
										用户可以对删除分组，右击要删除的组名，选中删除分组菜单。
                                </p>
                            </li>
						</ul>
                        <ol>
							<li class="cHrLine cLinePos">
						        <h3 class="ctitle">新建分组示例：</h3>
						        <img src="/static/images/corpHelpImg/createGroup.png" alt="新建分组" />
                            </li>
							 <!--<li>
                                <h3 class="ctitle">重命名分组示例：</h3>
						        <img src="/static/images/corpHelpImg/renameGroup.png" alt="重命名分组" />
                            </li>-->
							<li class="cHrLine cLinePos">
						        <h3 class="ctitle">删除分组示例：</h3>
						        <img src="/static/images/corpHelpImg/deleteGroup.png" alt="删除分组" />
								<img src="/static/images/corpHelpImg/deleteGroup1.png" alt="删除分组" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test4-content">
					<div class="accordion_child">
						<ul>
							<li>
								<strong class="bigFont">定位器管理：</strong>指用户可以对集团下的定位器进行操作：添加定位器、删除定位器。
							</li>
							<li>
								<strong class="bigFont">添加定位器：</strong>选中要添加定位器所在的组右击选中"添加定位器"菜单。
							</li>
							<li>
								<strong class="bigFont">删除定位器：</strong>选中要删除的定位器右击选中"删除定位器"菜单。
							</li>
						</ul>
                        <ol>
                            <li>
                                <h3 class="ctitle">添加定位器示例：</h3>
						        <img src="/static/images/corpHelpImg/createTerminal.png" alt="添加定位器" />
						        <img src="/static/images/corpHelpImg/createTerminal1.png" alt="添加定位器" />
                            </li>
							 <li>
                                <h3 class="ctitle">删除定位器示例：</h3>
						        <img src="/static/images/corpHelpImg/deleteTerminal.png" alt="删除定位器" />
						        <img src="/static/images/corpHelpImg/deleteTerminal1.png" alt="删除定位器" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test5-content">
					<div class="accordion_child">
						<ul>
							<li>
								<strong class="bigFont">实时定位：</strong>指车主对车辆当前位置信息的查询。
                                该操作支持平台查询和短信查询两种方式。
							</li>
						</ul>
                        <ol>
                            <li>
                                <p>
                                    <strong class="bigFont">短信查询：</strong>
									<em class="fontRed">
										车主编辑短信 "DW" 发送到定位器手机号，查询车辆当前位置。
									</em>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong class="bigFont">平台查询：</strong>
                                    车主通过登陆平台，点击“实时定位”，
                                    系统将查询当前车辆的位置信息，上报到平台并显示。
                                </p>
                                <h3 class="ctitle">实时定位示例：</h3>
						        <img class="cHrLine cImgPos" src="/static/images/corpHelpImg/current1.png" alt="实时定位中" />
                                <img src="/static/images/corpHelpImg/current2.png" alt="实时定位显示" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test6-content">
					<div class="accordion_child">
						<p>
							<strong class="bigFont">轨迹查询：</strong>
                            车主查询指定时间段内车辆的路线行踪信息，
                            在平台页面上通过点线的形式显示出来的行踪轨迹图，
							该功能便于查看车辆的活动范围和路线轨迹。
                        </p>
						<h3 class="ctitle">轨迹查询示例：</h3>
						<img class="cImgPos" src="/static/images/corpHelpImg/track1.png" alt="轨迹查询" />
						<img class="cImgPos" src="/static/images/corpHelpImg/track2.png" alt="轨迹查询" />
					</div>
				</div>
				<div id="test7-content">
					<div class="accordion_child">
                        <p>
                            <strong class="bigFont">告警统计：</strong>
                           车主在平台上查询车辆指定时间段内的电量告警、通讯异常、移动告警、震动告警的次数。
                        </p>
                        <ol>
                            <li>
                                <h3 class="ctitle">告警统计-&gt;选择查询条件示例：</h3>
						        <img src="/static/images/corpHelpImg/event1.png" alt="告警统计条件" />
                            </li>
							<li class="cHrLine cLinePos">
						        <h3 class="ctitle">告警统计-&gt;告警统计结果：</h3>
						        <img src="/static/images/corpHelpImg/event2.png" alt="告警统计结果" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test8-content">
					<div class="accordion_child">
						<p>
                            <strong class="bigFont">设防/撤防：</strong>
							定位器设防时将开启非法移动功能，当定位器撤防时，自动关闭功能。
                        </p>
                        <h3 class="ctitle">设防/撤防示例：</h3>
                        <img src="/static/images/corpHelpImg/defend.png" alt="设防/撤防" />
						<p>
							<strong class="bigFont">短信设防/撤防：</strong>
						</p>
						<div class="fontRed">
							车主编辑短信 "SF" 发送到定位器手机号，远程对车辆进行设防。
						</div>
						<div class="fontRed">
							车主编辑短信 "CF" 发送到定位器手机号，远程对车辆进行撤防。
						</div>
					</div>
				</div>
				<div id="test9-content">
					<div class="accordion_child">
                        <ol>
                            <li class="cHrLine cLinePos">
                                <strong class="bigFont">定位器参数设置：</strong>
								设定定位器的各类参数，例如：车主手机号、振动报警频率，上报频率等。
                                <h3 class="ctitle">定位器参数设置示例：</h3>
                                <img src="/static/images/corpHelpImg/terminal1.png" alt="定位器参数设置" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test10-content">
					<div class="accordion_child">
                        <ol>
                            <li class="cHrLine cLinePos">
								<strong class="bigFont">短信告警设置：</strong>
								车主选择是否接受告警和提醒信息。
                                <h3 class="ctitle">短信告警设置示例：</h3>
                                <img src="/static/images/corpHelpImg/terminal2.png" alt="短信告警设置" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test11-content">
					<div class="accordion_child">
						<p>
                            <strong class="bigFont">个人信息设置：</strong>
                            车主可以对个人的信息如:手机号、邮箱及密码等进行修改设置。
						</p>
						<h3 class="ctitle">个人信息示例：</h3>
						<img class="cImgPos" src="/static/images/corpHelpImg/personal.png" alt="个人信息设置" />
						<h3 class="ctitle">修改密码示例：</h3>
						<img class="cImgPos" src="/static/images/corpHelpImg/pwd.png" alt="修改密码" />
					</div>
				</div>
				
				<div id="test12-content">
					<div class="accordion_child">
						<p>
                            <strong class="bigFont">路况信息查询：</strong>
                            车主可以通过平台的路况按钮查看当前的路况情况。
                        </p>
						<h3 class="ctitle">路况信息示例：</h3>
						<img class="cImgPos" src="/static/images/corpHelpImg/route.png" alt="路况信息查询" />
						<div class="fontRed">
							红色表示拥挤路段、
							黄色表示缓行路段、
							绿色表示畅通路段。
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
