<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="-1" />

		<title>移动卫士--集团用户帮助</title>
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link type="text/css" href="/static/css/help-css.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.fullPage.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/examples.css" />
		<script src="/static/js/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.fullPage.js"></script>
	</head>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#fullpage').fullpage({
					sectionsColor: ['#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3','#4BBFC3'],
					anchors: ['p1', 'p2', 'p3', 'p4', 'p5','p6', 'p7', 'p8', 'p9', 'p10', 'p11', 'p12', 'p13', 'p14', 'p15', 'p16', 'p17'],
					menu: '#menu',
					continuousVertical: true
				});
			});
		</script>
	<body>
		<h1 class="header">
			<em class="headerTxt">
				移动卫士用户帮助手册				
				<span class="helpTitleLink">
					<a href="/helper" title="个人版帮助">个人版</a>
					&nbsp;/
					<label class="helpCurrentTitle">集团版</label>
				</span>
			</em>
		</h1>
		<div class="helpLogo"><img src="/static/images/ydlogo.png" width="180px" /></div>
		<ul id="menu">
			<li id="firstP1" data-menuanchor="p1" class="active"><a href="#p1" title="登录">登录</a></li>
			<li data-menuanchor="p2"><a href="#p2" title="集团管理">集团管理</a></li>
			<li data-menuanchor="p3"><a href="#p3" title="分组管理">分组管理</a></li>
			<li data-menuanchor="p4"><a href="#p4" title="定位器管理">定位器管理</a></li>
			<li data-menuanchor="p5"><a href="#p5" title="实时定位">实时定位</a></li>
			<li data-menuanchor="p6"><a href="#p6" title="轨迹查询">轨迹查询</a></li>
			<li data-menuanchor="p7"><a href="#p7" title="告警查询">告警查询</a></li>
			<li data-menuanchor="p8"><a href="#p8" title="电子围栏">电子围栏</a></li>
			<li data-menuanchor="p9"><a href="#p9" title="里程统计">里程统计</a></li>
			<li data-menuanchor="p10"><a href="#p10" title="设防/撤防">设防/撤防</a></li>
			<li data-menuanchor="p11"><a href="#p11" title="保养提醒">保养提醒</a></li>
			<li data-menuanchor="p12"><a href="#p12" title="通知管理">通知管理</a></li>	
			<li data-menuanchor="p13"><a href="#p13" title="操作员管理">操作员管理</a></li>		
			<li data-menuanchor="p14"><a href="#p14" title="定位器参数设置">定位器参数设置</a></li>
			<li data-menuanchor="p15"><a href="#p15" title="短信设置">短信设置</a></li>
			<li data-menuanchor="p16"><a href="#p16" title="集团资料设置">集团资料设置</a></li>
			<li data-menuanchor="p17"><a href="#p17" title="修改密码">修改密码</a></li>
		</ul>
		<div id="fullpage">
			<div class="section" id="section0">
				<h1>登录移动卫士平台（www.ydcws.com）</h1>
				<p>输入正确的用户名、密码及验证码进行登录。</p>
				
				<img src="/static/images/corpHelpImg/login.png" alt="登录移动卫士平台" />
			</div>
			<div class="section">
				<h1>集团管理：指用户可以对集团名称进行重命名。</h1>
				
				<img class="cHrLine cImgPos" src="/static/images/corpHelpImg/corp.png" alt="集团右键菜单" />
			</div>
			<div class="section">
				<div class="slide">
					<div class="intro">
						<h1>分组管理：指用户可以对集团下的分组进行重命名、添加定位器、删除分组。</h1>
						<p>新建分组：用户需要在集团上添加分组，选中集团名称右击，选中新建分组菜单。</p>
						
						<img class="cHrLine cImgPos" src="/static/images/corpHelpImg/createGroup.png" alt="新建分组" />
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<p>重命名组：用户可以对分组进行重命名，右击要重命名的组，选中重命名组菜单。</p>
						
						<img src="/static/images/corpHelpImg/renameGroup.png" alt="重命名组" />
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<p>删除分组：用户可以对分组进行重命名，右击要重命名的组，选中重命名组菜单。</p>
						
						<img src="/static/images/corpHelpImg/deleteGroup.png" alt="删除分组" />
					</div>
				</div>
			</div>
			<div class="section">
				<div class="slide">
					<div class="intro">
						<h1>定位器管理：指用户可以对集团下的定位器进行操作：添加定位器、删除定位器。</h1>
						<p>添加定位器：选中要添加定位器所在的组右击选中。</p>
						
						<img class="cHrLine cImgPos" src="/static/images/corpHelpImg/createTerminal.png" alt="添加定位器" />
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<p>定位器管理-&gt;删除定位器：选中要删除的定位器右击选中"删除定位器"菜单。</p>
						
						<img src="/static/images/corpHelpImg/deleteTerminal.png" alt="删除定位器" />
					</div>
				</div>
			</div>
			<div class="section">
				<div class="slide">
					<div class="intro">
						<h1>实时定位：指用户对定位器当前位置信息的查询。</h1>
						<p>短信查询：用户编辑短信 "DW" 发送到定位器手机号，查询定位器当前位置。</p>
						<p>平台查询：用户点击“实时定位”，系统将查询当前定位器的位置信息，上报到平台并显示。</p>
						
						<img class="cHrLine cImgPos" src="/static/images/corpHelpImg/current1.png" alt="实时定位中" />
					   
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<h1>实时定位示例</h1>
						
						<img src="/static/images/corpHelpImg/current2.png" alt="实时定位显示" />
					</div>
				</div>
			</div>
			<div class="section">
				<div class="slide">
					<div class="intro">
						<h1>轨迹查询</h1>
						
						<p>用户查询指定时间段内定位器的路线行踪信息，</p>
						<p>在平台页面上通过点线的形式显示出来的行踪轨迹图，</p>
						<p>该功能便于查看定位器的活动范围和路线轨迹。</p>
						
						<img class="cImgPos" src="/static/images/corpHelpImg/track1.png" alt="轨迹查询" />
					   
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<h1>轨迹查询示例</h1>
						
						<img class="cImgPos" src="/static/images/corpHelpImg/track2.png" alt="轨迹查询" />
					</div>
				</div>
			</div>
			<div class="section">
				<div class="slide">
					<div class="intro">
						<h1>告警查询</h1>
						<p>用户在平台上查询定位器指定时间段内的电量告警、通讯异常、移动告警、震动告警等信息。</p>
						<p>得到查询结果之后，用户点击位置可以查看具体的位置信息。</p>
						
						<img src="/static/images/corpHelpImg/event1.png" alt="告警查询条件" />
					   
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<h1>告警查询示例</h1>
						
						<img src="/static/images/corpHelpImg/event2.png" alt="告警查询结果" />
					</div>
				</div>
			</div>
			<div class="section">
				<div class="slide">
					<div class="intro">
						<h1>电子围栏</h1>
						<p> 用户在平台上画半径大于500米的圆形围栏，当定位器进入该区域内定位器将发生告警。</p>
						
						<img src="/static/images/corpHelpImg/region.png" alt="围栏列表" />
					   
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<h1>电子围栏-&gt;新建围栏</h1>
						
						<img src="/static/images/corpHelpImg/addRegion.png" alt="新建围栏" />
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<h1>电子围栏-&gt;删除围栏</h1>
						
						<img src="/static/images/corpHelpImg/deleteRegion.png" alt="删除围栏" />
					</div>
				</div>
			</div>
			<div class="section">
				<h1>里程统计：用户可以查看某段时间内某个定位器的里程数。</h1>
				
				<img src="/static/images/corpHelpImg/mileage.png" alt="在线统计" />
			</div>
			<div class="section">
				<h1>设防/撤防</h1>
				<p>定位器设防时将开启非法移动功能，当定位器撤防时，自动关闭功能。</p>
				<h2>短信设防/撤防</h2>
				<p class="fontRed">用户编辑短信 "SF" 发送到定位器手机号，远程对定位器进行设防。</p>
				<p class="fontRed">用户编辑短信 "CF" 发送到定位器手机号，远程对定位器进行撤防。</p>
				
				<img src="/static/images/corpHelpImg/defend.png" alt="设防/撤防" />
			</div>
			<div class="section">
				<h1>保养提醒</h1>
				<p>提醒用户在相应的里程数时对车辆进行保养的提醒设置。</p>
				
				<img src="/static/images/corpHelpImg/mileageWarranty.png" alt="保养提醒" />
			</div>
			<div class="section">
				<div class="slide">
					<div class="intro">
						<h1>通知管理</h1>
						<p> 用户可对选中的终端用户发布通知及进行通知的查询管理。</p>
						
						<img src="/static/images/corpHelpImg/notifyManage.png" alt="发布通知" />
					   
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<h1>通知管理-&gt;通知查询</h1>
						
						<img src="/static/images/corpHelpImg/notifySearch.png" alt="通知查询" />
					</div>
				</div>
			</div>
			<div class="section">
				<div class="slide">
					<div class="intro">
						<h1>操作员管理</h1>
						<p> 用户可新建操作员用户，方便管理账号。</p>
						
						<img src="/static/images/corpHelpImg/operatorAdd.png" alt="新增操作员" />
					   
					</div>
				</div>
				<div class="slide">
					<div class="intro">
						<h1>操作员管理-&gt;查询操作员</h1>
						
						<img src="/static/images/corpHelpImg/operatorManage.png" alt="操作员管理" />
					</div>
				</div>
			</div>
			<div class="section">
				<h1>定位器参数设置</h1>
				<p>设定定位器的各类参数，例如：用户手机号、客户端通知、定位器名称、定位器图标等。</p>
				
				<img src="/static/images/corpHelpImg/terminal1.png" alt="定位器参数设置" />
			</div>
			<div class="section">
				<h1>短信告警设置：</h1>
				<p>用户选择是否接受告警和提醒信息。</p>
				
				<img src="/static/images/corpHelpImg/terminal2.png" alt="短信告警设置" />
			</div>
			<div class="section">
				<h1>集团资料设置</h1>
				<p>用户可以对集团的信息如:集团名称、集团联系人、地址、邮箱及密码等进行修改设置。</p>
				
				<img class="cImgPos" src="/static/images/corpHelpImg/personal.png" alt="个人信息设置" />
			</div>
			<div class="section">
				<h1>修改密码</h1>
				<p>用户可以对个人登录密码修改设置。</p>
				
				<img class="cImgPos" src="/static/images/helpImg/pwd.png" alt="修改密码" />
			</div>
		</div>	
	</body>
</html>
