<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动车卫士用户帮助</title>
		<link type="text/css" href="/static/css/reset-min.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/help-css.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/accordian.pack.js"></script>	
	</head>
	<body onload="new Accordian('basic-accordian',1,'header_highlight');">
		<h1 class="header">
			<em class="headerTxt">移动车卫士用户帮助手册</em>
		</h1>
		<div id="basic-accordian">
			<div id="menus">
				<div><img src="/static/images/logo.png" /></div>
				<div id="test1-header" class="accordion_headings header_highlight"><a class="navItem" href="#">1.平台登录</a></div>
				<div id="test2-header" class="accordion_headings"><a href="#" class="navItem">2.实时定位</a></div>
				<div id="test3-header" class="accordion_headings"><a href="#" class="navItem">3.轨迹查询</a></div>
				<div id="test4-header" class="accordion_headings"><a href="#" class="navItem">4.告警查询</a></div>
				<div id="test5-header" class="accordion_headings"><a href="#" class="navItem">5.设防/撤防</a></div>
				<div id="test6-header" class="accordion_headings"><a href="#" class="navItem">6.终端设置</a></div>
				<div id="test7-header" class="accordion_headings"><a href="#" class="navItem">7.短信设置</a></div>
				<div id="test8-header" class="accordion_headings"><a href="#" class="navItem">8.个人信息设置</a></div>
				<div id="test9-header" class="accordion_headings"><a href="#" class="navItem">9.路况信息查询</a></div>
			</div>
			<div id="mainContent">
				<div id="test1-content">
					<div class="accordion_child">
                        <ol>
                            <li class="cHrLine cLinePos">
                                <h3>登录移动车卫士平台（www.ichebao.net）</h3>
								<div>输入正确的用户名、密码及验证码进行登录。</div>
						        <img src="/static/images/helpImg/login.png" alt="登录移动车卫士平台" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test2-content">
					<div class="accordion_child">
						<ul>
							<li>
								<strong class="bigFont">实时定位：</strong>指车主对车辆当前位置信息的查询。
                                该操作支持平台查询和短信查询两种方式。
							</li>
						</ul>
                        <ol>
                            <li>
                                <p>
                                    <strong class="bigFont">短信查询：</strong>
									<em class="fontRed">
										车主编辑短信 "DW" 发送到终端手机号，查询车辆当前位置。
									</em>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong class="bigFont">平台查询：</strong>
                                    车主通过登陆平台，点击“实时定位”，
                                    系统将查询当前车辆的位置信息，上报到平台并显示。
                                </p>
                                <h3 class="ctitle">实时定位示例：</h3>
						        <img class="cHrLine cImgPos" src="/static/images/helpImg/current1.png" alt="实时定位中" />
                                <img src="/static/images/helpImg/current2.png" alt="实时定位显示" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test3-content">
					<div class="accordion_child">
						<p>
							<strong class="bigFont">轨迹查询：</strong>
                            车主查询指定时间段内车辆的路线行踪信息，
                            在平台页面上通过点线的形式显示出来的行踪轨迹图，
							该功能便于查看车辆的活动范围和路线轨迹。
                        </p>
						<h3 class="ctitle">轨迹查询示例：</h3>
						<img class="cImgPos" src="/static/images/helpImg/track1.png" alt="轨迹查询" />
						<img class="cImgPos" src="/static/images/helpImg/track2.png" alt="轨迹查询" />
					</div>
				</div>
				<div id="test4-content">
					<div class="accordion_child">
                        <p>
                            <strong class="bigFont">告警查询：</strong>
                            车主在平台上查询车辆指定时间段内的非法移动、低电、SOS告警等信息。
                        </p>
                        <p>得到查询结果之后，车主点击位置可以查看具体的位置信息。</p>
                        <ol>
                            <li>
                                <h3 class="ctitle">告警查询-&gt;选择查询条件示例：</h3>
						        <img src="/static/images/helpImg/event1.png" alt="告警查询条件" />
                            </li>
							<li class="cHrLine cLinePos">
						        <h3 class="ctitle">告警查询-&gt;SOS告警查询结果：</h3>
						        <img src="/static/images/helpImg/event2.png" alt="告警查询结果" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test5-content">
					<div class="accordion_child">
						<p>
                            <strong class="bigFont">设防/撤防：</strong>
							终端设防时将开启非法移动功能，当终端撤防时，自动关闭功能。
                        </p>
                        <h3 class="ctitle">设防/撤防示例：</h3>
                        <img src="/static/images/helpImg/defend.png" alt="设防/撤防" />
						<p>
							<strong class="bigFont">短信设防/撤防：</strong>
						</p>
						<div class="fontRed">
							车主编辑短信 "SF" 发送到终端手机号，远程对车辆进行设防。
						</div>
						<div class="fontRed">
							车主编辑短信 "CF" 发送到终端手机号，远程对车辆进行撤防。
						</div>
					</div>
				</div>
				<div id="test6-content">
					<div class="accordion_child">
                        <ol>
                            <li class="cHrLine cLinePos">
                                <h2>终端参数设置</h2>
                                <ul>
                                    <li>设定终端的各类参数，例如：车主手机号、振动报警频率，上报频率等。</li>
                                </ul>
                                <h3 class="ctitle">终端参数设置示例：</h3>
                                <img src="/static/images/helpImg/terminal1.png" alt="终端参数设置" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test7-content">
					<div class="accordion_child">
                        <ol>
                            <li class="cHrLine cLinePos">
                                <h2>短信告警设置</h2>
                                <ul>
                                    <li>车主选择是否接受告警和提醒信息。</li>
                                </ul>
                                <h3 class="ctitle">短信告警设置示例：</h3>
                                <img src="/static/images/helpImg/terminal2.png" alt="短信告警设置" />
                            </li>
                        </ol>
					</div>
				</div>
				<div id="test8-content">
					<div class="accordion_child">
						<p>
                            <strong class="bigFont">个人信息设置：</strong>
                            车主可以对个人的信息如:手机号、邮箱及密码等进行修改设置。
						</p>
						<img class="cImgPos" src="/static/images/helpImg/personal.png" alt="个人信息设置" />
						<img class="cImgPos" src="/static/images/helpImg/pwd.png" alt="修改密码" />
					</div>
				</div>
				
				<div id="test9-content">
					<div class="accordion_child">
						<p>
                            <strong class="bigFont">路况信息查询：</strong>
                            车主可以通过平台的路况按钮查看当前的路况情况。
                        </p>
						<img class="cImgPos" src="/static/images/helpImg/route.png" alt="路况信息查询" />
						<div class="fontRed">
							红色表示拥挤路段、
							黄色表示缓行路段、
							绿色表示畅通路段。
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
