{% extends "base.html" %}
{% block include %}
<script src="/static/js/formValidator-4.1.1.js" type="text/javascript"></script>
<script src="/static/js/formValidatorRegex.js" type="text/javascript"></script>
<script src="/static/js/WdatePicker.js" type="text/javascript"></script>
<script src="/static/js/terminal.js" type="text/javascript"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
<script src="/static/js/current.js" type="text/javascript"></script>
<script src="/static/js/track.js" type="text/javascript"></script>
{% end %}
{% block body %}
<body class="j_body">
	<!--导航标题-->
	<div class="navi">
		<!--logo, 主功能菜单-->
		<div class="menumList">
			<div id="logo">
				<img src="../static/images/logo.png" alt="爱车保" />
			</div>
			<div class="mnNav">
				<ul class="menuNav">
					<li><a href="#" id="realtime" class="j_click"><img src="../static/images/menu1.png" alt="实时定位" /></a></li>
					<li><a href="#" id="track"class="j_click"><img src="../static/images/menu2.png" alt="轨迹查询" /></a></li>
					<li><a href="/event" id="warnEvent" target="_blank" class="j_click"><img src="../static/images/menu3.png" alt="报警查询" /></a></li>
					<li><a href="#" id="defend" class="j_click"><img src="../static/images/menu4.png" alt="设防/撤防" /></a></li>
					<li><a href="#" id="terminal" class="j_click"><img src="../static/images/menu5.png" alt="终端设置" /></a></li>
					<!--<li><a href="#" id="reboot" class="j_click"><img src="../static/images/menu6.png" alt="远程重启" /></a></li>-->
				</ul>
				<div class="navSelf">
					<ul class="selfList">
						<li id="power" title="">10%</li>
						<li id="activeNav"><a href="#" id="personalData" class="j_click">我的资料</a></li>
						<li><a href="#" id="changePwd" class="j_click">修改密码</a></li>
						<li><a href="#" id="logout" onclick="dlf.fn_exit()">退出</a></li>
					</ul>
					<p class="userMsg" id="uName">欢迎您，{{name}}</p>
				</div>
			</div>
		</div>
		<div class="carContainer">
			<div class="" id="carLineState" >车辆列表</div>
			<ul id="carList" class="dropdown-options">
			{% for car in cars %}
				{% if car.login == 1 %}
					<li tlid="{{car.id}}" tid="{{car.tid}}" cLogin="{{car.login}}" actiontrack="no" class="carlogin" title="在线车辆">
				{% else %}
					<li tlid="{{car.id}}" tid="{{car.tid}}" cLogin="{{car.login}}" actiontrack="no" class="carlogout" title="离线车辆">
				{% end  %}
				{{cars[0].alias}}
				</li>
			{% end %}
			</ul>
			<a id="carSet" href="#" class="dropdown mini-dropdown">
				{% if cars %}
						{% if cars[0].login == 1 %}
							<span class="dropdown-input carlogin" id="currentCar" title="在线" >
						{% else %}
							<span class="dropdown-input carlogout" id="currentCar" title="离线">
						{% end %}
						{{cars[0].alias}}
						</span>
				{% end %}
				<span class="dropdown-icon">&nbsp;</span>
			</a>
			<div class="terminalInfo">
				报警状态：<label id="eventStatus">无报警</label>
				终端状态：<label id="defendStatus">未设防</label>
			</div>			
			<!--轨迹查询条件-->
			<div class="trackHeader hide" id="trackHeader">
				<!--时间选择-->
				<span class="trackPos">
					<span class="timeTip">时间范围:</span>
					<span class="trackTime">
						<input type="text" class="time" id="trackBeginTime" />
						至
						<input type="text" class="time" id="trackEndTime" />
					</span>
				</span>
				<!--按钮-->
				<span class="trackBtn">
					<span id="trackSearch" class="tSearch"></span>
					<span id="tPlay" class="tPlay hide j_tBtnhover"></span>
					<span id="tPause" class="tPause hide j_tBtnhover"></span>
				</span>
				<span id="trackSpeed" class="trackSpeed hide">
					<span>播放速度：</span>
					<span id="trackSlide" title="一般速度"></span>
				</span>
			</div>
		</div>
	</div>
	<!--车辆列表、地图、当前车辆信息-->
	<div class="main">
		<div class="content" id="mainContent">
			<!--地图-->
			<div id="mapObj"></div> 
			<!--当前车辆信息-->
			<!--<div class="carInfo" id="carInfo">
				<div class="infoWidth" id="infoTitle">
					<img id="infoStatus" class="j_click" src="../static/images/bt_bottom.png" />
				</div>
				<table class="infoList" id="infoList">
					<tr>
						<td>终端号码：<label id="terminalId"></label></td>
						<td>报警状态：<label id="eventStatus">无报警</label></td>
						<td>终端状态：<label id="defendStatus">未设防</label></td>
					</tr>
					<tr>
						<td>车辆当前速度：<label id="carSpeed">0</label>km/h</td>
						<td>方向角：<label id="carDegree"></label></td>
						<td>经纬度：<label id="carLngLat"></label></td>
					</tr>
					<tr>
						<td>定位时间：<label id="timesTamp"></label></td>
						<td>定位类型：<label id="carLocType"></label></td>
						<td colspan="3">车辆当前位置：<label id="carAddress"></label></td>
						<input type="hidden" id="lockStatus" />  
					</tr>
				</table>
			</div>
			-->
		</div>
	</div>
	<div id="maskLayer" class="hide"></div>
	<!--copy right-->
	<div></div>
	<!--辅助元素begin-->
	{% include dialogs.html %}
	<!--辅助元素end-->
</body>
{% end %}
