{% extends "base.html" %}
{% block include %}
<script type="text/javascript" src="/static/js/formValidator-4.1.1.js"></script>
<script type="text/javascript" src="/static/js/formValidatorRegex.js"></script>
<script type="text/javascript" src="/static/js/WdatePicker.js"></script>
<script type="text/javascript" src="/static/js/terminal.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/current.js"></script>
<script type="text/javascript" src="/static/js/track.js"></script>
{% end %}
{% block body %}
<body class="j_body">
	<!-- top -->
	<div id="top">
		<!-- todo logo -->
		<div id="logo">
			<img src="../static/images/logo.png" alt="爱车保" />
		</div>
		<div id="banner">
			<div id="bnnWord"></div>
			<div id="bnnIcon"></div>
			<div class="welcome">
				欢迎您，{{name}}
			</div>
		</div>
	</div>
	<!-- main  -->
	<div id="main">
		<!-- carInfo -->
		<div id="left">
			<div id="cars">
				<div class="title clTitle">我的爱车</div>
				<ul id="carList">
				{% for car in cars %}
					<li>
						<a href="#" title="{{car.alias}}" class="car1" tlid="{{car.id}}" keys_num="{{car.keys_num}}" cellid_status="{{car.cellid_status}}" tid="{{car.tid}}" cLogin="{{car.login}}" actiontrack="no" ></a>
						<span>{{car.alias}}</span>
						{% if car.login == 1 %} 
								<font class="carlogin">(在线)</font>
						{% else %}
								<font class="carlogout">(离线)</font>
						{% end %}
					</li>
				{% end  %}
				</ul>
			</div>
			<div id="carInfo">
				<div class="title ciTitle">车辆信息</div>
				<ul id="cInfo">
					<li id="speed"></li>
					<li id="degree"></li>
					<li id="lng"></li>
					<li id="lat"></li>
					<li id="type"></li>
					<li id="address"></li>
				</li>
			</div>
			<div id="terminalInfo">
				<div class="title tiTitle">终端状态</div>
				<!--<table id="tInfo" width="247">
					<tr>
						<td class="td_left">设防状态：</td>
						<td id="defend_status" class="td_center"></td>
						<td><div id="d_img"></div></td>
					</tr>
					<tr>
						<td class="td_left">剩余电量：</td>
						<td id="power" class="td_center"></td>
						<td><div id="p_img"></div></td>
					</tr>
					<tr><td class="td_left">GSM 信号：</td><td id="GSM" class="td_center"></td><td><div id="gsm_img"></div></td></tr>
					<tr><td class="td_left">GPS 信号：</td><td id="GPS" class="td_center"></td><td><div id="gps_img"></div></td></tr>
				</table>
				-->
				<ul id="tInfo">
					<li id="defendStatus">
						<span id="defend_word"></span>
						<span class="d_img"><img id="defend_status"></img></span>
					</li>
					<li id="power"></li>
					<li id="GSM"></li>
					<li id="gps">
						<span id="g_word"></span>
						<span class="g_img"><img id="GPS"></img></span>
					</li>
				</ul>
			</div>
			<div class="updateTime"></div>
		</div>
		<!-- menu and map-->
		<div id="right">
			<div id="navi">
				<ul class="menu">
					<li><a href="#" id="realtime" class="realtime j_click" t title="实时定位"></a></li>
					<li><a href="#" id="track" class="track j_click"  title="轨迹查询"></a></li>
					<li><a href="/event" id="warnEvent" target="_blank" class="event j_click" title="报警查询"></a></li>
					<li><a href="#" id="defend" class="defend j_click"  title="设防/撤防"></a></li>
					<li><a href="#" id="terminal" class="terminal j_click" title="终端设置"></a></li>
				</ul>
				<ul class="selfList">
					<li><a href="#" id="personalData" class="j_click" title="我的资料">我的资料</a></li>
					<li><a href="#" id="changePwd" class="j_click" title="修改密码">修改密码</a></li>
					<li><a href="#" id="logout" onclick="dlf.fn_exit()" title="退出">退出</a></li>
				</ul>
			</div>
			<!--轨迹查询条件-->
			<div class="trackHeader hide" id="trackHeader">
				<!--时间选择-->
				<span class="trackPos">
					<span class="timeTip">时间范围:</span>
					<span class="trackTime">
						<input type="text" class="time" id="trackBeginTime" />
						至
						<input type="text" class="time" id="trackEndTime" />
					</span>
				</span>
				<!--按钮-->
				<span class="trackBtn">
					<span id="trackSearch" class="tSearch"></span>
					<span id="tPlay" class="tPlay hide j_tBtnhover"></span>
					<span id="tPause" class="tPause hide j_tBtnhover"></span>
				</span>
				<span id="trackSpeed" class="trackSpeed hide">
					<span>播放速度：</span>
					<span id="trackSlide" title="一般速度"></span>
				</span>
			</div>
			
			<div id="mapObj"></div>
		</div> 
	</div>
	<div id="maskLayer" class="hide"></div>
	<!--copy right-->
	<div></div>
	<!--辅助元素begin-->
	{% include dialogs.html %}
	<!--辅助元素end-->
</body>
{% end %}