{% extends "base.html" %}
{% block include %}	
<script type="text/javascript" src="/static/js/WdatePicker.js"></script>
<script type="text/javascript" src="/static/js/formValidator-4.1.1.js"></script>		
<script type="text/javascript" src="/static/js/jquery_cookie.js"></script>
<script type="text/javascript" src="/static/js/formValidatorRegex.js"></script>
<script type="text/javascript" src="/static/js/corp_terminal.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/current.js"></script>
<script type="text/javascript" src="/static/js/track.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.jstree.js"></script>
<script type="text/javascript" src="/static/js/corp_main.js"></script>
<script type="text/javascript" src="/static/js/operator.js"></script>
<script type="text/javascript" src="/static/js/searchRecord.js"></script>
<script type="text/javascript" src="/static/js/fileupload.js"></script>
{% end %}
{% block body %}
<body class="j_body mainBody">
	{% if status == 0 %}
	<!-- top -->
	<div id="top">
		{% if bizcode == 'ydxf' %}
			<div id="ads" class="adsYDXF" title="移动车卫士"></div>
		{% else %}		
			<div id="ads" title="移动车卫士"></div>
		{% end %}	
		<div class="welcome" title="{{name}}">
			<span id="spanWelcome">欢迎您，{{name if len(name)<=4 else name[:4]+"..."}}</span>
		</div>
	</div>
	<div id="corpMain">
		<div id="corpLeft" class="j_corpLeft">
			<div class="corpLeft corpLeftTree j_corpCarInfo">
				<div class="corpCarSearch">
					<input type="text" id="txtautoComplete" class="searchText" />
					<a href="#" id="autoSearch" class="autoSearch" title="搜索"></a>
				</div>
				<div id="corpTree" class="corpTree j_carList">
					<div class="j_terminal loadTree">
						正在加载数据...<img src="/static/images/blue-wait.gif" />
					</div>
				</div>
			</div>
			<div id="terminalInfo" class="corpCarInfo">
				<div class="staticsBox">
					<table>
						<tr>
							<td><label class="carCount"></label></td>
							<td><label class="onlineCount"></label></td>
							<td><label class="offlineCount"></label></td>
						</tr>
					</table>
				</div>
				<ul id="tInfo">
					<li id="defendStatus">
						<span class="tInfoWord">设防状态：</span><span class="fontColor" id="defendContent"></span>
					</li>
					<li id="power">
						<span class="tInfoWord">剩余电量：</span><span class="fontColor" id="powerContent"></span>
					</li>
					<li id="gsm">
						<span class="tInfoWord"><label>GSM</label>信号：</span><span class="fontColor" id="gsmContent"></span>
					</li>
					<li id="gps">
						<span class="tInfoWord"><label>GPS</label>信号：</span><span class="fontColor" id="gpsContent"></span>
					</li>
					<li id="tmobile">
						<span class="tInfoWord">定位器号码：</span><span class="fontColor" id="tmobileContent"></span>
					</li>
				</ul>
			</div>
			<div class="updateTime j_updateTime">
				<span class="tInfoWord">更新时间：</span>
				<span class="fontColor" id="locationTime"></span>
			</div>
		</div>
		<div id="corpRight">
			<div id="navi">
				<ul class="menu">
					<!--<li><a href="#" id="realtime" class="realtime j_click"></a></li>
					<li><a href="#" id="track" class="track j_click"></a></li>
					<li><a href="#" id="defend" class="defend j_click"></a></li>
					<li><a href="#" id="corpTerminal" class="corpTerminal j_click"></a></li>-->
					<li><a href="#" id="eventSearch" class="eventSearch j_click"></a></li>
					<li><a href="#" id="recordCount" class="recordCount j_countRecord"></a></li>
					{% if user_type != 'operator' %}
					<li><a href="#" id="operator" class="operator j_click"></a></li>
					{% end %}
				</ul>
				<ul class="selfList">
					<li><a class="help" title="显示帮助文档" href="/helper?user_type=enterprise" target="_blank">帮助</a></li>
					{% if user_type != 'operator' %}
					<li><a href="#" id="corpData" class="j_click" title="集团资料">集团资料</a></li>
					{% else %}
					<li><a href="#" id="operatorData" class="j_click" title="操作员资料">个人资料</a></li>
					{% end %}
					<li><a href="#" id="changePwd" class="j_click" title="修改密码">修改密码</a></li>
					<li><a href="#" id="logout" onclick="dlf.fn_exit()" title="退出">退出</a></li>
				</ul>
			</div>
			<div class="trackHeader hide" id="trackHeader">
				<span class="trackPos">
					<span id="trackTerminalAlias"> 
						定位器名称：
						<label id="trackTerminalAliasLabel"></label>
					</span>
					<span class="timeTip">时间范围:</span>
					<span class="trackTime">
						<input type="text" class="time" id="trackBeginTime" />
						至
						<input type="text" class="time" id="trackEndTime" />
					</span>
					<input type="checkbox" id="ceillid_flag" title="是否显示基站定位" /><label for="ceillid_flag">显示基站定位</label>
				</span>
				<span class="trackBtn">
					<span id="trackSearch" class="tSearch"></span>
					<span id="tPlay" class="tPlay hide j_trackBtnhover"></span>
					<span id="tPause" class="tPause hide j_trackBtnhover"></span>
				</span>
				<span id="trackClose" class="tClose"></span>
				<span id="trackSpeed" class="trackSpeed hide">
					<span>播放速度：</span>
					<span id="trackSlide" title="比较快"></span>
				</span>
			</div>
			
			<div id="mapObj" class="corpMapObj"></div>
		</div> 
	</div>
	<div id="maskLayer" class="hide"></div>
	{% if map_type == '2' %}
	<div id="mapTileLayer" >
		<ul>
			<li id="layerForTraffic">实时路况</li>
			<li id="layerForSatellite">卫星地图</li>
		</ul>
	</div>
	{% end %}
	{% elif status == 201 %}
		<div id="errormsg"></div>
	{% end %}
	{% include dialogs.html %}
	<input type="hidden" id="user_type" value="{{user_type}}" />
	<input type="hidden" id="map_type" value="{{map_type}}" />
</body>
{% end %}