{% extends "base.html" %}
{% block include %}	
<script type="text/javascript" src="/static/js/WdatePicker.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/formValidator-4.1.1.js?v={{static_hash}}"></script>		
<script type="text/javascript" src="/static/js/jquery_cookie.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/formValidatorRegex.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/corp_terminal.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/main.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/current.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/jquery.jstree.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/corp_main.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/operator.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/passenger.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/routeline.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/searchRecord.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/fileupload.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/highcharts.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/corp_region.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/notifymanage.js?v={{static_hash}}"></script>
<script type="text/javascript" src="/static/js/single_point.js?v={{static_hash}}"></script>
<!--
<script type="text/javascript" src="/static/js/track.js"></script><script type="text/javascript" src="/static/js/announcement.js"></script>-->
{% end %}
{% block body %}
<body class="j_body mainBody" userType="{{user_type}}" mapType="{{map_type}}" umobile="{{umobile}}">
	{% if status == 0 %}
	<!-- top -->
	<div id="top">
		<!--<div class="announcementPanel">
			<img src="../static/images/gif-0297.gif" />
			<span type="text" class="announcement" id="announcement" ></span>
		</div>-->
		{% if bizcode == 'ydxf' %}
			<div id="ads" class="adsYDXF"></div>
		{% elif bizcode == 'znbc' %}
			<div id="ads" class="adsZNBC"></div>
		{% else %}		
			<div id="ads"></div>
		{% end %}
	</div>
	<div id="corpMain">
		<div id="corpLeft" class="j_corpLeft">
			<div class="corpLeft corpLeftTree j_corpCarInfo">
				<div class="corpCarSearch">
					<input type="text" id="txtautoComplete" class="searchText" />
					<a href="#" id="autoSearch" class="autoSearch" title="搜索"></a>
				</div>
				<div id="corpTree" class="corpTree j_carList">
					<div class="j_terminal loadTree">
						正在加载数据...<img src="/static/images/blue-wait.gif" />
					</div>
				</div>
			</div>
			<div id="terminalInfo" class="corpCarInfo">
				<div class="staticsBox">
					<table>
						<tr>
							<td><label id="carCount"></label></td>
							<td><label id="onlineCount"></label></td>
							<td><label id="offlineCount"></label></td>
						</tr>
					</table>
				</div>
				<ul id="tInfo">
					<li id="defendStatus">
						<span class="tInfoWord">设防状态：</span><span class="fontColor" id="defendContent"></span>
					</li>
					<li id="power">
						<span class="tInfoWord">剩余电量：</span><span class="fontColor" id="powerContent"></span>
					</li>
					<li id="gsm">
						<span class="tInfoWord"><label>GSM</label>信号：</span><span class="fontColor" id="gsmContent"></span>
					</li>
					<li id="gps">
						<span class="tInfoWord"><label>GPS</label>信号：</span><span class="fontColor" id="gpsContent"></span>
					</li>
					<li id="tmobile">
						<span class="tInfoWord">定位器号码：</span><span class="fontColor" id="tmobileContent"></span>
					</li>
				</ul>
			</div>
			<div class="updateTime j_updateTime">
				<span class="tInfoWord">更新时间：</span>
				<span class="fontColor" id="locationTime"></span>
			</div>
			<div id="serviceHotline">客服电话：400-863-0388</div>
		</div>
		<div id="corpRight">
			<div id="navi">
				<ul class="menu">
					<!--<li><a href="#" id="realtime" class="realtime j_click"></a></li>
					<li><a href="#" id="track" class="track j_click"></a></li>
					<li><a href="#" id="defend" class="defend j_click"></a></li>
					<li><a href="#" id="corpTerminal" class="corpTerminal j_click"></a></li>-->
					<li><a href="#" id="home" class="menuHover home j_click">定位器位置</a></li>
					<li><a href="#" id="corpRegion" class="region j_click">电子围栏</a></li>
					<li>
						<a href="#" id="mileageSet_setting" class="mileageSet_setting j_click">单程起点</a>
					</li>
					<li><a href="#" id="eventSearch" class="eventSearch j_click">告警查询</a></li>
					<!-- 统计 -->
					<li>
						<a href="#" id="recordCount" class="recordCount j_countRecord">统计报表</a>
						<ul id="countSecondList" class="hide j_countNavItem countUlIetm">
							<!--<li>
								<a href="#" id="onlineStatics" class="onlineStatics j_click"></a>
							</li>-->
							<li>
								<a href="#" id="mileage" class="mileage j_click">里程统计</a>
							</li>
						</ul>
					</li>
					<!-- 通知管理 -->
					<li>
						<a href="#" id="notifyManage" class="notifyManage j_notifyManage">通知管理</a>
						<ul id="notifyManageList" class="hide j_notifyManageNavItem countUlIetm">
							<li>
								<a href="#" id="notifyManage_add" class="notifyManage_add j_click">发布通知</a>
							</li>
							<li>
								<a href="#" id="notifyManage_search" class="notifyManage_search j_click">通知查询</a>
							</li>
						</ul>
					</li>
					<!-- 设置 -->
					<li>
						<a href="#" id="userProfileManage" class="userProfileManage j_userProfileManage">设置</a>
						<ul id="userProfileManageList" class="hide j_userProfileManageNavItem countUlIetm">
							<li><a href="#" id="corpSMSOption" class="corpSMSOption j_click">短信设置</a></li>
							<!--<li>
								<a href="#" id="notifyManage_add" class="notifyManage_add j_click"></a>
							</li>
							<li>
								<a href="#" id="notifyManage_search" class="notifyManage_search j_click"></a>
							</li>-->
							{% if user_type != 'operator' %}
							<li><a href="#" id="operator" class="operator j_click">操作员管理</a></li>
							{% end %}
							{% if user_type != 'operator' %}
								<li>
									<a href="#" id="corpData" class="j_click">集团资料</a>
								</li>
							{% else %}
								<li>
									<a href="#" id="operatorData" class="j_click">个人资料</a>
								</li>
							{% end %}
							<li>
								<a href="#" id="changePwd" class="j_click">修改密码</a>
							</li>
						</ul>
					</li>
					<!--<li><a href="#" id="corpSMSOption" class="corpSMSOption j_click"></a></li>-->
					
					<!--<li><a href="#" id="mileage" class="mileage j_click"></a></li>-->
					
					<!--<li><a href="#" id="smallTools" class="smallTools j_click"></a></li>-->
					<!--znbc-->
					{% if bizcode == 'znbc' %}
					<li><a href="#" id="passenger" class="passenger j_click">乘客管理</a></li>
					<li><a href="#" id="infoPush" class="infoPush j_click"></a></li>
					<li><a href="#" id="routeLine" class="routeLine j_click">线路管理</a></li>
					{% end %}
				</ul>
				<ul class="selfList">
					<li>
						<a title="" href="#" id="userName" title="{{name}}" class="j_welcome">欢迎您，
						{% if len(name)<=4 %}
							{{name.replace("<", "&lt;").replace(">", "&gt;")}}
						{% else %}
							{{name[:4].replace("<", "&lt;").replace(">", "&gt;") + "..."}}
						{% end %}
						</a>
						<ul id="otherList" class="hide j_welcomeNavItem countUlIetm">
							<li><a class="help j_click" id="help" href="/helper?user_type=enterprise" target="_blank">帮助</a></li>
							<li><a href="#" class="j_click" id="logout">退出</a></li>
						</ul>
					</li>					
				</ul>
			</div>
			<div class="mapContainer">
				<div class="j_draggable mapDragTitle hide">
					<div id="mapConTitle"></div>
					<div class="eventMapClose" id="mapClose" title="关闭窗口"></div>
				</div>
				<div id="mapObj" class="corpMapObj"></div>
				<!--单程详情-->
				<div id="singleControl_panel" class="hide">
					<!--按钮-->
					<span class="singleSlideBtn">
						<a id="singlePrev" class="tPrev j_singleBtnhover"></a>
						<a id="singlePlay" class="tPlay j_singleBtnhover"></a>
						<a id="singlePause" class="tPause hide j_singleBtnhover"></a>
						<a id="singleNext" class="tNext j_singleBtnhover"></a>
					</span>
					<span id="singleSpeed">
						<span>播放速度：</span>
						<span id="singleSlide" title="比较快"></span>
					</span>
				</div>
			</div>
		</div> 
	</div>
	<div id="maskLayer" class="hide"></div>
	<div id="loadingMsg" class="hide"></div>
	<input type="hidden" id="hidBizCode" value="{{bizcode}}" />
	<input type="hidden" id="hidumobile" value="{{umobile}}" />
	<input type="hidden" id="push_id" value="{{wspush['id']}}" />
	<input type="hidden" id="push_key" value="{{wspush['key']}}" />
	
	
	{% elif status == 201 %}
		<div id="errormsg"></div>
	{% end %}
	{% include dialogs.html %}
	<script type="text/javascript" src="/static/js/judge_logo.js?v={{static_hash}}"></script>
</body>
{% end %}
