{% extends "base.html" %}
{% block include %}
	<script type="text/javascript" src="/static/js/WdatePicker.js?v={{static_hash}}"></script>
	<script type="text/javascript" src="/static/js/formValidator-4.1.1.js?v={{static_hash}}"></script>		
	<script type="text/javascript" src="/static/js/jquery_cookie.js?v={{static_hash}}"></script>
	<script type="text/javascript" src="/static/js/formValidatorRegex.js?v={{static_hash}}"></script>
	<script type="text/javascript" src="/static/js/terminal.js?v={{static_hash}}"></script>
	<script type="text/javascript" src="/static/js/main.js?v={{static_hash}}"></script>
	<script type="text/javascript" src="/static/js/current.js?v={{static_hash}}"></script>
	<script type="text/javascript" src="/static/js/searchRecord.js?v={{static_hash}}"></script>
	<script type="text/javascript" src="/static/js/region.js?v={{static_hash}}"></script>
	<!--<script type="text/javascript" src="/static/js/track.js"></script>
	<script type="text/javascript" src="/static/js/announcement.js"></script>-->
{% end %}
{% block body %}
<body class="j_body mainBody" userType="{{user_type}}" mapType="{{map_type}}" umobile="{{umobile}}">
	{% if status == 0 %}
	<!-- top -->
	<div id="top">
		<!--<div class="announcementPanel">
			<img src="../static/images/gif-0297.gif" />
			<span type="text" class="announcement" id="announcement" ></span>
		</div>-->
		<!--<div id="logo">
			<img src="../static/images/logo.png" alt="移动车卫士" />
		</div>-->
		<div id="ads"></div>
		<div id="topProfile">
			<div id="serviceHotline">客服电话：400-863-0388</div>
			<div class="welcome" title="{{name}}">
				<span id="spanWelcome">欢迎您，
					{% if len(name)<=4 %}
						{{name.replace("<", "&lt;").replace(">", "&gt;")}}
					{% else %}
						{{name[:4].replace("<", "&lt;").replace(">", "&gt;") + "..."}}
					{% end %}
				</span>
			</div>
		</div>
	</div>
	<!-- main  -->
	<div id="main">
		<!-- carInfo -->
		<div id="left">
			<div id="cars">
				<div class="carsTitle"></div>
				<ul id="carList" class="j_carList">
				
				</ul>
			</div>
			<div id="carInfo">
				<div class="carsInfoTitle"></div>
				<table id="cInfo">
					<tr><td class="tLeft">速度：   </td><td><label  id="speed"></label></td></tr>
					<tr><td class="tLeft">方向：   </td><td><label  id="degree"></label></td></tr>
					<tr><td class="tLeft">经度：   </td><td><label  id="lng"></label></td></tr>
					<tr><td class="tLeft">纬度：   </td><td><label  id="lat"></label></td></tr>
					<tr><td class="tLeft">类型：   </td><td><label  id="type"></label></td></tr>
					<tr><td class="tLeft">位置：   </td><td><label  id="address"></label></td></tr>
				</table>
			</div>
			<div id="terminalInfo">
				<div class="terminalInfoTitle"></div>
				<ul id="tInfo">
					<li id="defendStatus">
						<span class="tInfoWord">设防状态：</span><span class="fontColor" id="defendContent"></span>
					</li>
					<li id="power">
						<span class="tInfoWord">剩余电量：</span><span class="fontColor" id="powerContent"></span>
					</li>
					<li id="gsm">
						<span class="tInfoWord"><label>GSM</label>信号：</span><span class="fontColor" id="gsmContent"></span>
					</li>
					<li id="gps">
						<span class="tInfoWord"><label>GPS</label>信号：</span><span class="fontColor" id="gpsContent"></span>
					</li>
					<li id="tmobile">
						<span class="tInfoWord">定位器号码：</span><span class="fontColor" id="tmobileContent"></span>
					</li>
				</ul>
			</div>
			<div class="updateTime j_updateTime">
				<span class="tInfoWord">更新时间：</span>
				<span class="fontColor" id="locationTime"></span>
			</div>
		</div>
		<!-- menu and map-->
		<div id="right">
			<div id="navi">
				<ul class="menu">
					<li><a href="#" id="realtime" class="realtime j_click"></a></li>
					<li><a href="#" id="track" class="track j_click"></a></li>
					<li><a href="#" id="eventSearch" class="eventSearch j_click"></a></li>
					<li><a href="#" id="region" class="region j_click"></a></li>
					<li><a href="#" id="defend" class="defend j_click"></a></li>
					<li><a href="#" id="terminal" class="terminal j_click"></a></li>
					<!--<li><a href="#" id="smsOption" class="smsOption j_click"></a></li>-->
				</ul>
				<ul class="selfList">
					<li><a class="help" title="显示帮助文档" href="/helper" target="_blank">帮助</a></li>
					<li><a href="#" id="personalData" class="j_click" title="个人资料">个人资料</a></li>
					<li><a href="#" id="changePwd" class="j_click" title="修改密码">修改密码</a></li>
					<li><a href="#" id="logout" onclick="dlf.fn_exit()" title="退出">退出</a></li>
				</ul>
			</div>
			<div class="mapContainer">
				<div class="j_draggable mapDragTitle hide">
					<div class="eventMapClose j_close" id="mapClose" title="关闭窗口"></div>
				</div>
				<!--轨迹查询条件-->
				<div class="trackHeader hide" id="trackHeader">
					<!--时间选择-->
					<span class="trackPos">
						<span class="timeTip">时间范围:</span>
						<span class="trackTime">
							<input type="text" class="time" id="trackBeginTime" />
							至
							<input type="text" class="time" id="trackEndTime" />
						</span>
						<input type="checkbox" id="ceillid_flag" title="是否显示基站定位" /><label for="ceillid_flag">显示基站定位</label>
					</span>
					<!--按钮-->
					<span class="trackBtn">
						<a id="trackSearch" class="tSearch"></a>
						<a id="tPrev" class="tPrev hide j_trackBtnhover"></a>
						<a id="tPlay" class="tPlay hide j_trackBtnhover"></a>
						<a id="tPause" class="tPause hide j_trackBtnhover"></a>
						<a id="tNext" class="tNext hide j_trackBtnhover"></a>
					</span>
					<!--关闭按钮-->
					<a id="trackClose" class="tClose"></a>
					<span id="trackSpeed" class="trackSpeed hide">
						<span>播放速度：</span>
						<span id="trackSlide" title="比较快"></span>
					</span>
				</div>
				<div id="mapObj" class="corpMapObj"></div>
			</div>
		</div> 
	</div>
	<div id="maskLayer" class="hide"></div>
	{% elif status == 201 %}
		<div id="errormsg"></div>
	{% end %}
	<!--辅助元素begin-->
	{% include dialogs.html %}
	<!--辅助元素end-->
	<input type="hidden" id="user_type" value="{{user_type}}" />
	<input type="hidden" id="map_type" value="{{map_type}}" />
	
	<script type="text/javascript" src="/static/js/judge_logo.js?v={{static_hash}}"></script>
</body>
{% end %}