<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动车卫士-ios下载</title>
		<link type="text/css" href="/static/css/download.css" rel="stylesheet" />
		<script src="/static/js/jquery-1.7.1.min.js"></script>
	</head>
	
	<body>
		<center>
			<div class="content iosContent">
				<!--ios下载说明-->
				<div class="softInfo">
					<div class="infoSign infoL">
						<img src="/static/images/acb_downloadLogo.png"  width="96" alt="移动车卫士" />
					</div>
					<div class="infoText infoL">
						<ul>
							<li>
								<h1>移动车卫士IOS版</h1>
							</li>
							<li>
								类别：生活
							</li>
							<li>
								大小：5.41MB
							</li>
							<li>
								开发商：珠海德百祺科技有限公司
							</li>
							<li>
								固件要求：与 iPhone、iPod touch、iPad 兼容。需要 iOS5.0 或更高版本。
							</li>
							<li>
								<label class="iosDownloadLabel">下载地址：</label>
								<ul class="iosDownloadul">
									<li>
										<a href="https://itunes.apple.com/us/app/yi-dong-che-wei-shi/id587253267?ls=1&mt=8" target="_blank" title="苹果官方商店">苹果官方商店</a>
									</li>
									<li>
										<a href="http://app.tongbu.com/587253267_yidongcheweishi.html" target="_blank" title="同步推">同步推</a>
									</li>
									<li>
										<a href="http://www.25pp.com/ipad/soft/info_791011.html" target="_blank" title="PP助手">PP助手</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<!--下载地址-->
					<!--<div class="iosDownLoadUrl infoL">
						<label class="iosDownloadLabel">下载地址：</label>
						<ul>
							<li>
								<a href="https://itunes.apple.com/us/app/yi-dong-che-wei-shi/id587253267?ls=1&mt=8" target="_blank" title="苹果官方商店">苹果官方商店</a>
							</li>
							<li>
								<a href="http://app.tongbu.com/10000632_yidongcheweishi.html" target="_blank" title="同步推">同步推</a>
							</li>
							<li>
								<a href="#" title="PP助手">PP助手</a>
							</li>
						</ul>
					</div>-->
				</div>
				<!--ios描述-->
				<div class="softDesc">
					<h1>详细描述:</h1>
					<!--文字说明-->
					<div>
						<p class="descProfess">
							移动车卫士是一项保障车主的车辆安全的服务业务。可以防止车辆丢失，同时可以帮助车主找到车辆的位置和曾经走过的路线轨迹。
							车主将移动车卫士定位器放入车内，同时携带移动车卫士挂件，还可以利用挂件进行危急求助，车主可通过短信、Web等方式查询车辆位置及远程设防/撤防定位器。
						</p>
						<br/>
						<p class="">主要内容：</p>
						<ul class="descText">
							<li>1、实时定位：通过短信和网络都可以实时定位到车辆的位置。</li>
							<li>2、轨迹查询：车主查询指定时间段内车辆的路线行踪信息， 在平台页面上通过点线的形式显示出来的行踪轨迹图， 该功能便于查看车辆的活动范围和路线轨迹。</li>
							<li>3、设防/撤防：定位器设防时将开启非法移动功能，当定位器撤防时，自动关闭功能。</li>
							<li>4、定位器参数：设定定位器的各类参数，例如：客户端通知等。</li>
							<li>5、短信告警设置：车主选择是否接受告警和提醒信息。</li>
							<li>6、告警查询：车主在平台上查询车辆指定时间段内的非法移动、低电、SOS告警等信息。得到查询结果之后，车主点击位置可以查看具体的位置信息。</li>
							<li>7、个人信息设置：车主可以对个人的信息如:手机号、邮箱及密码等进行修改设置。</li>
						</ul>
					</div>
					<!--图片展示-->
					<div class="descImg">
						<ul>
							<li><img src="/static/images/ios/acb_menu.png" /></li>
							<li><img src="/static/images/ios/acb_realtime.png" /></li>
							<li><img src="/static/images/ios/acb_track.png" /></li>
						</ul>
					</div>
				</div>
			</div>
		</center>
	</body>
</html>