<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>移动卫士--使用手册下载</title>
		<link type="text/css" href="/static/css/download.css" rel="stylesheet" />
	</head>
<body class="mt100">
	<center>
		<span class="downloadTip fontRed"> * 请根据您定位器型号下载对应的使用手册。</span>
		<table class="downloadTable">
			<tr>
				<th colspan="3">
					移动卫士使用手册
				</th>
			</tr>
			<tr>
				<td>
					<img src="../static/images/ZJ100.png" height="100px" alt="ZJ100移动卫士使用手册" />
				</td>
				<td>
					ZJ100 移动卫士使用手册
				</td>
				<td>
					<a href="/download/manual?category=1">下载</a>
				</td>
			</tr>
			<tr>
				<td>
					<img src="../static/images/ZJ200.png" height="100px"  alt="ZJ200移动卫士使用手册" />
				</td>
				<td>
					ZJ200 移动卫士使用手册
				</td>
				<td>
					<a href="/download/manual?category=2">下载</a>
				</td>
			</tr>
		</table>
	</center>
</body>
</html>