<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jnotify.js"></script>		
		<script type="text/javascript" src="/static/js/jquery_cookie.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/initialize_common.js"></script>
		<script type="text/javascript" src="/static/js/definitions.js"></script>
		<script type="text/javascript" src="/static/js/login.js"></script>
		<title>移动卫士--找回密码</title>
	</head>
	<body class="bdpwd">
		<div id="password">
			<div class="newRegBox_top"></div>
			<div id="pwdBox">
				<!--<p>如果您已有移动卫士账号，请 <a href="/index">点此登录</a></p>-->
				<div class="pwdTitle">
					<img align="middle" src="/static/images/getpassword.gif" title="找回密码" />
					找回密码
				</div>
				<div class="newRegBox_line"></div>
				<div class="pwdCnt">
					<table id="tab_pwd">
						<tr>
							<td class="pwdTips" colspan="2">请输入集团联系人手机号码，我们将把新生成的密码发送到您的手机上。</td>
						</tr>
						<tr class="pwdBackTrPanel">
							<td>集团联系人手机号码：
								<span class="txtColor">*</span>
								<input type="text" id="mobile" name="mobile" maxlength="11" onKeyUp="this.value=this.value.replace(/\D/g,'')"  />
								<input type="button" class="commit"  id="btnGetPwd" value="找回密码"  />
							</td>
							<td width="87" align="left">
								<span id="flashTimeText" class="txtColor"></span>
								<span id="seconds" class="hide txtColor">s</span>
								<input type="hidden" id="userRoleType" value="{{user_type}}" />
							</td>
						</tr>
					</table>					
					<div id="jNotifyMessage"></div> <!--消息提示框-->
					<div id="maskLayer" class="hide"></div><!--页面遮罩-->
					<span class="txtColor">
						{% if message %}
							{{ message }}
						{% end %}
					</span>
				</div>
			</div>
			<div class="newRegBox_buttom"></div>
		</div>
	</body>
</html>