<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link type="text/css" href="static_url('css/css.css')}}" rel="stylesheet" />
		<link type="text/css" href="static_url('css/jquery-ui-1.8.18.custom.css')}}" rel="stylesheet" />
		<script type="text/javascript" src="static_url('js/jquery-1.7.1.min.js')}}"></script>
		<script type="text/javascript" src="static_url('js/jquery-ui-1.8.18.custom.min.js')}}"></script>
		<script type="text/javascript" src="static_url('js/jquery.jnotify.js')}}"></script>		
		<script type="text/javascript" src="static_url('js/jquery_cookie.js')}}"></script>
		<script type="text/javascript" src="static_url('js/json2.js')}}"></script>
		<script type="text/javascript" src="static_url('js/initialize_common.js')}}"></script>
		<script type="text/javascript" src="static_url('js/definitions.js')}}"></script>
		<script type="text/javascript" src="static_url('js/forget_password.js')}}"></script>
		<title>移动卫士--找回密码</title>
	</head>
	<body class="bdpwd">
		<div id="password">
			<div class="newRegBox_top"></div>
			<div id="pwdBox">
				<!--<p>如果您已有移动卫士账号，请 <a href="/index">点此登录</a></p>-->
				<div class="pwdTitle">
					<img align="middle" src="static_url('images/getpassword.gif')}}" title="找回密码" />
					找回密码
				</div>
				<div class="newRegBox_line"></div>
				<div class="pwdCnt">
					<table id="tab_pwd">
						<tr>
							<td class="pwdTips" colspan="2">请输入用户手机号码，我们将把新生成的密码发送到您的手机上。</td>
						</tr>
						<tr class="pwdBackTrPanel">
							<td class="pwdTable_tip">
								<span class="txtColor">*</span>
								用户手机号码：
							</td>
							<td>
								<input type="text" id="mobile" name="mobile" maxlength="11" onKeyUp="this.value=this.value.replace(/\D/g,'')" placeholder="请输入手机号" autocomplete="off" />
								<input type="button" class="commit" id="btnGetCaptcha" value="获取验证码" />
							</td>
						</tr>
						<tr class="pwdBackTrPanel">
							<td class="pwdTable_tip">
								<span class="txtColor">*</span>
								验证码：
							</td>
							<td>
								<input type="text" id="pwd_captcha" name="captcha" maxlength="4" placeholder="请输入验证码" autocomplete="off" />
							</td>
						</tr>
						<tr class="pwdBackTrPanel">
							<td class="pwdTable_tip">
							</td>
							<td>
								<input type="button" class="commit"  id="btnGetPwd" value="找回密码"  />
								<span>
									<span id="flashTimeText" class="txtColor"></span>
									<span id="seconds" class="hide txtColor">s</span>
									<input type="hidden" id="userRoleType" value="{{user_type}}" />
								</span>
							</td>
						</tr>
					</table>					
					<div id="jNotifyMessage"></div> <!--消息提示框-->
					<div id="maskLayer" class="hide"></div><!--页面遮罩-->
					<span class="txtColor">
						{% if message %}
							{{ message }}
						{% end %}
					</span>
				</div>
			</div>
			<div class="newRegBox_buttom"></div>
		</div>
	</body>
</html>