<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link type="text/css" href="/static/css/register.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/formValidator-4.1.1.js"></script>
		<script type="text/javascript" src="/static/js/formValidatorRegex.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jnotify.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/initialize_common.js"></script>
		<script type="text/javascript" src="/static/js/register.js"></script>
		<title>移动车卫士--注册</title>
	</head>
	<body>
		<div class="container">
			<!-- header 
			<div class="header">
				<div style="float:left;" class="logo">
					<h1>
						<a href="#">
							平安宝贝LOGO
						</a>
					</h1>
				</div>
			</div>-->
			<!-- center -->
			<div class="center">
				<div class="box yhzc">
					<div class="title">
						<h2>移动车卫士用户注册</h2>
					</div>
					<div class="content">
						<div class="tsP yyzh j_tips">
							<span class="warn"></span>
							<span class="text">请确保您的移动车卫士定位器处于开机状态。</span>
						</div>
						<div id="registerPanel" class="tabC3 reg">
							<div class="tab_c3">
								<div class="nrpart">
									<div class="tableC" style="padding-left:0;">
										<form id="registerForm" method="post" action="/register">
											<table>
												<tbody>
													<tr>
														<th><span class="ico_xh"></span>用户手机号：</th>
														<td class="widthCss">
															<div class="srP">
																<input type="text" class="inputC j_input" value="" name="txt_umobile" id="txt_umobile" maxlength="11" />
															</div>
														</td>
													</tr>
													<tr>
														<th><span class="ico_xh"></span>定位器手机号：</th>
														<td class="widthCss">
															<div class="srP">
																<input type="text" class="inputC j_input" value="" name="txt_tmobile" id="txt_tmobile" maxlength="11" />
															</div>
														</td>
													</tr>
													<tr class="yzm">
														<th><span class="ico_xh"></span>验证码：</th>
														<td>
															<div class="srP">
																<input type="text" class="inputC j_input" name="captcha" id="captcha" maxlength="4" />
															</div>
															<div class="pic_yzm">
																<input type="button" class="captchaBtn" value="获取验证码" id="btnCaptcha" />
															</div>
															<span class="flashTimePanel">
																<span id="flashTimeText" class="txtColor"></span>
																<span id="seconds" class="hide txtColor">s</span>
															</span>
														</td>
													</tr>
													<tr>
														<th>&nbsp;</th>
														<td class="widthCss">
															<div class="tytk">
																<input type="checkbox" class="checkboxC" id="serviceTerms" name="serviceTerms"  checked="checked" />
															勾选此项，我们将认可您已阅读并同意遵守
																
																<a href="/servicesterms" target="/servicesTerms.html" title="服务条款">服务条款</a>
															</div>
														</td>
													</tr>
													<tr>
														<th>&nbsp;</th>
														<td>
															<input type="submit" class="btn_ljzc2" value="" id="btn_register">
														</td>
													</tr>
												</tbody>
											</table>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div id="register_success" class="hide">
							注册信息已提交成功，请稍后注意查收短信。
							<br/>
							<br/>
							<span class="j_interval">5</span>秒后将自动跳回登录。<a href="/login" >立即登录</a>
						</div>
					</div>
					<div class="bottom"></div>
				</div>
			</div>
			<div id="jNotifyMessage" class="hide"></div> <!--消息提示框-->
			<!-- footer -->
			<div class="footer2">
			</div>
		</div>
	</body>
</html>
