<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link type="text/css" href="/static/css/register.css" rel="stylesheet" />
		<script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="/static/js/formValidator-4.1.1.js" type="text/javascript"></script>
		<script src="/static/js/formValidatorRegex.js" type="text/javascript"></script>
		<script src="/static/js/jquery.jnotify.js" type="text/javascript"></script>
		<script src="/static/js/register.js" type="text/javascript"></script>
		<script src="/static/js/initialize.js" type="text/javascript"></script>
		<title>车联网--注册</title>
	</head>
	<body>
		<!--标题-->
		<div>
			
		</div>
		<!--注册失败的消息-->
		<span class="blank"></span>
		<!--内容-->
		<div id="content">
			<form action="/register" method="post" id="registerForm">
				<table width="500" cellspacing="0" cellpadding="0" border="0" align="center" class="conTable">
					<tr>
						<td class="tdItem">
							用户名：
							<span class="signColor">*</span>
						</td>
						<td class="tdText">
							<input type="text" id="uid" name="uid" maxlength="11" />
						</td>
						<td class="tdTip">
							<span id="uidTip" class="signColor"></span>
						</td>
					</tr>
					<tr>
						<td class="tdItem">
							用户手机号：
							<span class="signColor">*</span>
						</td>
						<td class="tdText">
							<input type="text" id="mobile" name="mobile" maxlength="11" />
						</td>
						<td class="tdTip">
							<span id="mobileTip" class="signColor"></span>
						</td>
					</tr>
					<tr>
						<td class="tdItem">
							密码：
							<span class="signColor">*</span>
						</td>
						<td class="tdText">
							<input type="password" id="password" name="password" maxlength="16" />
						</td>
						<td class="tdTip">
							<span id="passwordTip" class="signColor"></span>
						</td>
					</tr>
					<tr>
						<td class="tdItem">
							确认密码：
							<span class="signColor">*</span>
						</td>
						<td class="tdText">
							<input type="password" id="pwd2" name="pwd2" maxlength="16" />
						</td>
						<td class="tdTip">
							<span id="pwd2Tip" class="signColor"></span>
						</td>
					</tr>
					<tr>
						<td class="tdItem">
							用户邮箱：
							<span class="signColor">*</span>
						</td>
						<td class="tdText">
							<input type="text" id="email" name="email" />
						</td>
						<td class="tdTip">
							<span id="emailTip" class="signColor"></span>
						</td>
					</tr>
					<tr>
						<td class="tdItem">用户姓名：</td>
						<td class="tdText">
							<input type="text" id="name" name="name" maxlength="11" />
						</td>
					</tr>
					<tr>
						<td class="tdItem">用户住址：</td>
						<td class="tdText">
							<input type="text" id="address" name="address" />
						</td>
					</tr>
					<tr>
						<td class="tdItem">
							终端序列号：
						</td>
						<td class="tdText">
							<input type="text" id="tid" name="tid" maxlength="18" />
						</td>
						<td class="tdTip">
							<span id="tidTip" class="signColor"></span>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="tdCenter">
							<input type="submit" value="提交" class="registerButton" id="regSubmit" />
							<input type="reset" value="重置" class="registerButton" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>
