<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<title>移动卫士--服务条款</title>
	</head>
	<body class="commonBody">
		<div class="services">
				<p id="serviceTitle">
					中国移动通信集团移动卫士业务个人客户服务协议
				</p>
				<p class="serviceHeader"><!-- 标题-->	
					为明确双方的权利和义务，规范双方业务行为，甲方(客户)、乙方(中国移动通信集团)本着平等互利的原则，就移动卫士业务服务相关事宜达成本协议。
				</p>
				<!-- option 1 -->
				<p>
					第一条 定义
				</p>
				<dl>
					<dd>						下列用语在本协议中的含义为：“移动卫士”是指通过中国移动网络、GPS网络、定位器和客户手机终端为用户提供实时定位、轨迹回放、设防\撤防、智能告警等基于位置服务的业务。其中“移动卫士”业务分为“轨迹版”和“位置版”两个版本，“轨迹版”功能包括：实时定位、轨迹回放、设防\撤防、智能告警；“位置版”功能包括：实时定位、设防\撤防、智能告警。具体功能以乙方业务平台公告为准。
					</dd>
				</dl>
				<!-- option 2 -->
				<p>
					第二条 乙方权利、义务
				</p>
				<dl>
					<dt class="headdl">一、权利</dt>
					<dd>
						<ul>
							<li>
								（一）乙方有权根据甲方申请情况，决定是否受理甲方的申请。
							</li>
							<li>
								（二）乙方有权制定服务条款，并在移动卫士手机客户端同步进行公布。
							</li>
							<li>
								（三）乙方具有对业务系统进行升级、改造的权利。
							</li>
							<li>
								（四）甲方手机话费连续60天欠费或不按时交纳移动卫士的功能费，不遵守乙方有关业务规定或存在恶意操作、诋毁、损害乙方声誉、从事违反国家法律法规活动等情况的，乙方有权单方终止对甲方提供移动卫士业务服务，并保留追究甲方责任的权利。
							</li>
							<li>
								（五）乙方根据甲方的移动卫士业务指令办理业务,对所有使用甲方手机号、追踪器的号码进行的操作均视为甲方所为，该操作所产生的电子信息记录均为乙方处理移动卫士业务的有效凭据。
							</li>
							<li>
								（六）乙方因以下情况没有正确执行甲方提交的移动卫士业务指令，不承担任何责任。
								<ul class="childrenUl">
									<li>
										1．乙方接收到的指令信息不明、存在乱码、不完整追踪器的号码等。
									</li>
									<li>
										2．甲方手机话费余额连续60天欠费、信用额度不足或未按时交纳移动卫士的功能费。
									</li>
									<li>
										3．甲方手机号被依法冻结或乙方收到国家有关部门发文要求停止为甲方提供服务。
									</li>
									<li>
										4．甲方未能按照乙方的有关业务规定正确操作。
									</li>
									<li>
										5. 甲方的行为出于欺诈或其他非法目的。
									</li>
									<li>
										6. 乙方遇到不可抗力及其它不可归因于乙方的情况时。
									</li>
								</ul>
							</li>
							<li>
								（七）移动卫士的定位功能使用会受到多重外界因素影响，如定位器关机、无信号、卫星信号较弱等因素。乙方不承诺移动卫士定位器每次都可以定位成功。如果定位不成功，乙方只负责协助排查原因，并不承担由于定位不成功或者定位误差造成的其他损失及后果的责任。
							</li>
							<li>
								（八）若发生可能导致移动卫士业务数据泄漏的事件，为保障甲方手机信息、定位器信息和资金的安全，乙方有权暂停业务处理。乙方应通过适当方式告知甲方。
							</li>
							<li>
								（九）协议终止或服务有效期内中止时，乙方不退回甲方已支付的有关费用；但甲方申请注销业务后，涉及追踪器剩余功能费用给予退回。
							</li>
							<!--<li>
								（十）不得使用移动车卫士业务妨碍社会治安，禁止通过移动车卫士业务窥探、盗窃他人位置隐私等从事非法活动。 
							</li>
							<li>
								（十一）若发生可能导致移动车卫士业务数据泄漏的事件，为保障甲方手机信息、定位器信息和资金的安全，乙方有权将暂停业务处理。乙方应通过适当方式告知甲方。
							</li>
							<li>
								（十二）协议终止或服务有效期内中止时，乙方不退回甲方已支付的有关费用；但甲方申请注销业务后，涉及定位器的功能费用给予退回。 
							</li>-->
						</ul>
					
					</dd>
					<dt class="headdl">二、义务</dt>
					<dd>
						<ul>
							<li>
								（一）在乙方系统正常运行情况下，乙方负责及时准确地处理甲方发送的移动卫士业务指令，并及时向甲方提供实时定位、轨迹回放、设防\撤防、智能告警、紧急求助等服务。
							</li>
							<li>
								（二）乙方对于移动卫士业务所使用的相关软件的合法性承担责任。
							</li>
							<li>
								（三）乙方负责向甲方提供移动卫士业务咨询服务，并在乙方手机客户端公布功能介绍、热点解答、交易规则等内容。
							</li>
							<li>
								（四）乙方在法律法规许可和甲方授权的范围内使用甲方的资料和定位记录。乙方对甲方提供的申请资料和其他信息有保密的义务，但法律法规另有规定的除外。
							</li>
							<li>
								（五）若因乙方人为操作原因导致甲方收不到预警信息而损失的，在经鉴定明确属于乙方责任的前提下，乙方承担赔偿损失的范围以不超过月业务功能费20倍为限，对于超出范围以外的损失，乙方无需承担赔偿责任。若因甲方原因导致收不到预警信息而造成损失的，一切责任及后果由甲方自行承担。本合同另有约定的，以约定为准。
							</li>
						</ul>
					</dd>
				</dl>
				<!-- option 3 -->
				<p>
					第三条 甲方权利、义务
				</p>
				<dl>
					<dt class="headdl">一、权利</dt>
					<dd>
						<ul>
							<li>
								（一）甲方自愿申请开通中国移动通信集团移动卫士业务，经乙方同意后，甲方将有权享受移动卫士业务的服务。
							</li>
							<li>
								（二）甲方在申请开通中国移动通信集团移动卫士业务期内有权办理移动卫士业务注销手续。
							</li>
							<li>
								（三）甲方对乙方移动卫士业务服务如有疑问、建议或意见时，可拨打电话“10086”或到乙方各营业网点进行咨询。
							</li>
						</ul>
					</dd>
					<dt class="headdl">二、义务</dt>
					<dd>
						<ul>
							<li>
								（一）甲方办理移动卫士业务手续，应提供需绑定的手机号和定位器的号码凭证资料，填写相关申请表，并签名确认。甲方向乙方提供的业务申请表是本协议不可分割的组成部分。甲方应保证所填写的申请表和所提供的资料真实、准确、完整，对于因甲方提供信息不真实或不完整所造成的损失由甲方承担。
							</li>
							<li>
								（二）甲方按移动卫士业务指令办理业务,对所有使用甲方手机号、定位器的号码进行的操作均视为甲方所为，发送信息不明、存在乱码、不完整id码，所造成的后果由甲方承担。
							</li>
							<li>
								（三）甲方未按乙方相关业务指引操作，所造成的损失，由甲方承担。
							</li>
							<li>
								（四）甲方订购业务功能时，应该认真核对需绑定的手机号、定位器号码等信息是否正确，因甲方未认真核对信息而造成的一切损失，乙方不承担责任。因不可抗力或其他非乙方原因（如：客户提交的手机号有误或无效，手机关机、欠费、没有信号等）造成不能接收预警信息的一切后果，乙方不承担责任。
							</li>
							<li>
								（五）甲方在使用移动卫士业务服务过程中，所提供的申请信息如有更改，应及时办理有关手续，办妥上述手续之前所产生的一切后果由甲方承担。
							</li>
							<li>
								（六）甲方应保证使用移动卫士业务定位成功后严格遵守相关法律法规。
							</li>
							<li>
								（七）甲方不得以与第三方发生纠纷为理由拒绝支付应付乙方的款项。
							</li>
							<li>
								（八）甲方不得有意诋毁、损害乙方声誉或恶意攻击乙方移动卫士业务系统。
							</li>
							<li>
								（九）甲方办理移动卫士业务时，如其使用的服务功能涉及到乙方其他业务规定或规则的需同时遵守。
							</li>
							<li>
								（十）移动卫士的功能只能用于业务允许范围内，甲方不得随意改装移动卫士定位器或者利用移动卫士业务从事违法活动，由此引起的任何法律责任由甲方自行承担，造成乙方损失的，甲方应予以赔偿。
							</li>
							<li>
								（十一）不得使用移动卫士业务妨碍社会治安，禁止通过移动卫士业务窥探、盗窃他人位置隐私等非法活动。
							</li>
						</ul>
					</dd>
				</dl>
				<!-- option 4 -->
				<p>
					第四条 法律适用条款
				</p>
				<dl>
					<dt class="headdl"></dt>
					<dd>
						本协议的成立、生效、履行和解释，均适用中华人民共和国法律；
						本协议是甲方的其他既有协议和约定的补充而非替代文件，如本协议与其他既有协议和约定有冲突，涉及移动卫士业务内容的，应以本协议为准。

					</dd>
				</dl>
				<!-- option 5 -->
				<p>
					第五条 协议的中止和终止
				</p>
				<dl>
					<dt class="headdl"></dt>
					<dd>
						（一）甲方移动卫士业务注销手续办理完毕，本协议即为终止。
					</dd>
					<dt class="headdl"></dt>
					<dd>
						（二）在甲方违反本协议规定或其他乙方业务规定的情况下，乙方有权中止或终止本协议。协议终止并不意味着终止前所发生的未完成交易的撤销，也不能消除因终止前的交易所带来的任何法律后果。
					</dd>
				</dl>
				<!-- option 6 -->
				<p>
					第六条 协议的效力和生效
				</p>
				<dl>
					<dt class="headdl">
					</dt>
					<dd>		
						本协议一式两份，双方各保留一份，双方签名后起生效，具有同等法律效力。对本协议未尽事宜，双方协商解决。
					</dd>
				</dl>
				<!-- option 7 -->
				<p>
					第七条 争议解决
				</p>
				<dl>
					<dt class="headdl">
					</dt>
					<dd>		
						因履行本协议产生争议的，双方应协商解决。协商不成的，交有相关管辖权的人民法院诉讼解决。
					</dd>
				</dl>
				<dl id="dlCss">
					<dt class="headdl">		
						甲方：（签名或单位盖章）
					</dt>
					<dt class="headdl">		
						甲方移动号码：
					</dt>
				</dl>
				<dl class="dlCss">
					<dt class="headdl">		
						乙方：（服务厅印章）
					</dt>
					<dt class="headdl">		
						签署日期：
					</dt>
				</dl>
		</div>

	</body>
</html>
