<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
		<title>移动车卫士--服务条款</title>
	</head>
	<body class="commonBody">
		<div class="services">
				<p id="serviceTitle">
					移动车卫士服务条款
				</p>
				<!-- option 1 -->
				<p>
					<label class="headline">1.</label>
					条款须知：	
				</p>
				<dl>
					<dt class="headdl">1.1</dt>
					<dd>
						重要须知：移动车卫士在此特别提醒，用户（您）欲访问和使用移动车卫士平台，必须事先认真阅读本服务条款中各条款， 包括免除或者限制移动车卫士的免责条款及对用户的权利限制。请您审阅并接受或不接受本服务条款（未成年人审阅时应得到法定监护人的陪同）。如您不同意本服务条款及/或随时对其的修改，您应不使用或主动取消移动车卫士提供的服务。您的使用行为将被视为您对本服务条款全部的完全接受，包括接受移动车卫士对服务条款随时所做的任何修改。
					</dd>
					<dt class="headdl">1.2</dt>
					<dd>
						这些条款可由移动车卫士随时更新，且毋须另行通知。移动车卫士服务条款(以下简称“服务条款”)一旦发生变更, 移动车卫士将在网页上公布修改内容。修改后的服务一旦在网页上公布即有效代替原来的服务条款。您可随时登陆移动车卫士查阅最新版服务条款。
					</dd>
					<dt class="headdl">1.3</dt>
					<dd>
						移动车卫士业务是由移动车卫士终端与业务平台组成，为用户提供实时定位、轨迹回放、设防\撤防、智能告警、紧急求助、路况查询等基于位置服务的功能，本服务条款适用于移动车卫士终端和业务平台服务，您应遵守本服务条款及移动车卫士随时公布的与该服务相关的服务条款、指引或规则等。前述所有的指引和规则，均构成本服务条款的一部分。除非本服务条款另有其他明示规定，新推出的产品或服务、增加或强化目前本服务的任何新功能，均受到本服务条款之规范。
					</dd>
				</dl>
				<!-- option 2 -->
				<p>
					<label class="headline">2.</label>
					用户使用规则：
				</p>
				<dl>
					<dt class="headdl">2.1</dt>
					<dd>
						用户必须购买移动车卫士终端，并且开通移动车卫士业务服务。移动车卫士涉及电信增值业务服务的，我们建议您与您的电信增值服务提供商确认相关的费用问题，自行负担第三方（包括但不限于电信或移动通信提供商）收取的通讯费、信息费等有关费用。
					</dd>
					<dt class="headdl">2.2</dt>
					<dd>
						不得使用移动车卫士业务妨碍社会治安，禁止通过移动车卫士业务窥探、盗窃他人位置隐私等从事非法活动。
					</dd>
				</dl>
				<!-- option 3 -->
				<p>
					<label class="headline">3.</label>
					服务风险及免责声明：
				</p>
				<dl>
					<dt class="headdl">3.1</dt>
					<dd>
						移动车卫士终端设备和其他无线设备相同，使用无线电信号、无线和地面网络。鉴于此，本设备不能保证在任何情况下都能接通。因此，不应仅仅依赖本设备作为首要的/唯一的/有效的联系方式（如紧急求助、急救、GPS定位）。紧急求助和即时定位功能也许并不适用于所有的地区、蜂窝式陆地通讯网络，或者在使用某些网络服务和/或使用某些设备功能时。另外，在使用紧急求助及即时定位等功能时请确保：设备软、硬件均可正常使用、未遭人为破坏；信号或网络通讯良好；终端处于开机、有电、SIM卡未欠费的等诸如以上但不仅限于以上的情况。即便在上述情况下，本公司对可能出现的不可抗力/突发事件/他方伤害等造成的损失不承担相应法律责任。 
					</dd>
					<dt class="headdl">3.2</dt>
					<dd>
						用户须明白，本服务涉及到互联网及移动通讯等服务，可能会受到各个环节不稳定因素的影响。因此服务存在因上述不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机、GSM网络、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。开通服务的用户须承担以上风险，本公司对服务之及时性、安全性、准确性不作担保。
					</dd>
				</dl>
				<!-- option 4 -->
				<p>
					<label class="headline">4.</label>
					服务变更、中断或终止及服务条款的修改：
				</p>
				<dl>
					<dt class="headdl">4.1</dt>
					<dd>
						本服务的所有权和运作权、一切解释权归移动车卫士。移动车卫士提供的服务将按照其发布的章程、服务条款和操作规则严格执行。
					</dd>
					<dt class="headdl">4.2</dt>
					<dd>
						本公司有权在必要时修改服务条款，服务条款一旦发生变动，将会在相关页面上公布修改后的服务条款。如果不同意所改动的内容，用户应主动取消此项服务。如果用户继续使用服务，则视为接受服务条款的变动。　
					</dd>
				</dl>
				<!-- option 5 -->
				<p>
					<label class="headline">5.</label>
					隐私权保护：
				</p>
				<dl>
					<dt class="headdl">5.1</dt>
					<dd>
						移动车卫士重视对用户隐私的保护，保护隐私是移动车卫士的一项基本政策。您提供的登记资料及移动车卫士保留的有关您的若干其他个人资料将受到中国有关隐私的法律保护。
					</dd>
					<dt class="headdl">5.2</dt>
					<dd>
						移动车卫士对用户所提供的资料进行严格的管理及保护，我们将使用相应的技术，防止您的个人资料丢失、被盗用或遭篡改，在未得到您的许可之前，我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。
					</dd>
				</dl>
				<!-- option 6 -->
				<p>
					<label class="headline">6.</label>
					信息内容的所有权：
				</p>
				<dl>
					<dt class="headdl">
					</dt>
					<dd>
						本公司定义的信息内容包括：文字、软件、声音、相片、录像、图表；网页；所有这些内容受版权、商标权、和其它知识产权和所有权法律的保护。所以，用户只能在本公司和相关权利人授权下才能使用这些内容，而不能擅自使用、抄袭、复制、修改、编撰这些内容、或创造与内容有关的衍生产品。
					</dd>
				</dl>
				<!-- option 7 -->
				<p>
					<label class="headline">7.</label>
					法律：
				</p>
				<dl>
					<dt class="headdl">
					</dt>
					<dd>
						本服务条款要与国家相关法律、法规一致，如发生服务条款与相关法律、法规条款有相抵触的内容，抵触部分以法律、法规条款为准。
					</dd>
				</dl>
				<!-- option 8 -->
				<p>
					<label class="headline">8.</label>
					保障：
				</p>
				<dl>
					<dt class="headdl">8.1</dt>
					<dd>
						用户同意保障和维护本公司全体成员的利益，负责支付由用户使用超出服务范围引起的一切费用（包括但不限于：律师费用、违反服务条款的损害补偿费用以及其它第三人使用用户的电脑、帐号和其它知识产权的追索费）。
					</dd>
					<dt class="headdl">8.2</dt>
					<dd>
						用户须对违反国家法律规定及本服务条款所产生的一切后果承担法律责任。
					</dd>
				</dl>
				<!-- option 9 -->
				<p>
					<label class="headline">9.</label>
					其它：
				</p>
				<dl>
					<dt class="headdl">9.1</dt>
					<dd>
						如本服务条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本服务条款的其余条款仍应有效且具有约束力，并且努力使该规定反映之意向具备效力。
					</dd>
					<dt class="headdl">9.2</dt>
					<dd>
						用户对服务之任何部分或本服务条款的任何部分之意见及建议可通过客户服务部门与移动车卫士联系。 移动车卫士保留本服务条款之解释权。
					</dd>
				</dl>
		</div>

	</body>
</html>
