<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>安捷通--手机短信</title>
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
	</head>
	<body id="webBody" style="font-size: 14px;">
		<center>
			
			<table id="webTab">
				<tr>
					<th align="center">
						<h2>安捷通短信指令</h2>
					</th>
				</tr>
				<tr>
					<td>
						1. 定位器激活：(JH)
						<br/>	<p class="orders">用户编辑短信 "JH+空格+定位器手机号"(如：JH 1381234xxxx)，发送到定位器手机号，激活定位器。</p>
					</td>
				</tr>
				<tr>
					<td>
						2. 实时定位：(DW)
						<br/>	<p class="orders">用户编辑短信 "DW" 发送到定位器手机号，查询定位器当前位置。</p>
					</td>
				</tr>
				<tr>
					<td>
						3. 设防：(SF)
						<br/>	<p class="orders">用户编辑短信 "SF" 发送到定位器手机号，远程对定位器进行设防。</p>
					</td>
				</tr>
				<tr>
					<td>
						4. 撤防：(CF)
						<br/>	<p class="orders">用户编辑短信 "CF" 发送到定位器手机号，远程对定位器进行撤防。</p>
					</td>
				</tr>
				<tr>
					<td>
						5. 定位器解绑：(JB)
						<br/>	<p class="orders">用户编辑短信 "JB" 发送到定位器手机号，对定位器进行解绑。</p>
					</td>
				</tr>
				<tr>
					<td>
						6. 电量查询：(DL)
						<br/>	<p class="orders">用户编辑短信 "DL" 发送到定位器手机号，查询定位器剩余电量。</p>
					</td>
				</tr>
				<tr>
					<td>
						7. 查询短信指令：(H)
						<br/>	<p class="orders">用户编辑短信 "H"发送到定位器手机号。</p>
					</td>
				</tr>
				
			</table>
		</center>
	</body>
</html>