<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Refresh" content="5;url=http://192.168.1.4:6500">
		<title>定位仪Beta版本-页面超时</title>
		<link type="text/css" href="/static/css/css.css" rel="stylesheet" />
	</head>
	<body>
		<p class="timeout">
			会话超时，页面将在5秒后跳转...
			<img src="/static/image/blue-wait.gif" />
		</p>
	</body>
</html>
