<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link type="text/css" href="static_url('css/css.css')}}" rel="stylesheet" />
		<link type="text/css" href="static_url('ic/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="static_url('js/jquery-1.7.1.min.js')}}"></script>
		<!--<script type="text/javascript" src="../static/js/formValidator-4.1.1.js"></script>
		<script type="text/javascript" src="../static/js/formValidatorRegex.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jnotify.js"></script>-->
		<script type="text/javascript" src="static_url('js/initialize.js')}}"></script>
		<script type="text/javascript" src="static_url('js/turntopimage.js')}}"></script>
		{% block include %}{% end %}
	</head>
	{% block body %}{% end %}
</html>
