<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>爱车保</title>
	</head>
	<body>
		<img src="http://api.map.baidu.com/staticimage?center={{clon}},{{clat}}&width=320&height=480&zoom=17&markers={{clon}},{{clat}}" /><br/>
		爱车保官网：<a href="{{home_url}}">{{home_url}}</a><br/>
		Android客户端下载：<a href='{{android_download}}'>进入下载</a>
	</body>
</html>
