<!DOCTYPE html> 
<html>   
<head>   
	<title>移动车卫士</title>
	<link rel="stylesheet" type="text/css" href="/static/css/wapimg.css" />
</head> 
<body>   
	<div id="home">    
		<div class="wapimgTitle">     
			移动车卫士
		</div>     
		<div class="panel_map">
			{% if map_type == '1' %}
				<img src="http://api.map.baidu.com/staticimage?center={{clon}},{{clat}}&width=720&height=550&zoom=17&markers={{clon}},{{clat}}" />
			{% else %}
				<img src="http://map.wxcsgd.com:8082/sisserver?config=WMAP&xs={{clon}}&ys={{clat}}&width=720&height=550&maplevel=1&content=map&a_k=36ca6fd5215a6f6897721371ec5f294bab3a64202a7541babb57434e5631ffa2b5639e24f8ce84fc" />
			{% end %}	
		</div>  
		<div class="content">
			<div class="panel_homeUrl">
				移动车卫士官网：<br />
				<a href="{{home_url}}" class="homeUrl">{{home_url}}</a>
			</div>
			<div class="panel_download">
				Android客户端下载：<a href='{{android_download}}' class="download_btn">进入下载</a>
			</div>
			<div class="content_footer">    
				© <script>document.write(new Date().getFullYear());</script> 中国移动通信集团广东有限公司中山分公司  
			</div>
		</div> 
	</div>  
</body> 
</html> 
