<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<title>移动卫士-网页版</title>
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link type="text/css" href="static_url('css/css.css')}}" rel="stylesheet" />
	</head>
	<body id="webBody">
		<center>
			<table>
				<tr>
					<td colspan="4"><h2>各种主流浏览器下载地址:</h2></td>
				</tr>
				<tr>
					<td>
						<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie-MCM?FORM=MDBBDF&PUBL=MSCOM" title="IE"  target="_blank">
							<img src="static_url('images/browser/IE.png')}}" alt="IE" />
							IE
						</a>
					</td>
					<td>
						<a href="http://firefox.com.cn/" title="火狐" target="_blank">
							<img src="static_url('images/browser/firefox.png')}}" alt="火狐" />
							火狐
						</a>
					</td>
					<td>
						<a href="http://www.google.cn/intl/zh-CN/chrome/browser/?hl=zh-CN" title="chrome" target="_blank">
							<img src="static_url('images/browser/chrome.png')}}" alt="chrome" />
							Chrome
						</a>
					</td>
					<td>
						<a href="http://www.apple.com.cn/safari/" title="safari" target="_blank">
							<img src="static_url('images/browser/safari.png')}}" alt="safari" />
							Safari
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="http://www.maxthon.cn/mx3/" title="遨游" target="_blank">
							<img src="static_url('images/browser/maxthon.png')}}" alt="遨游" />
							遨游
						</a>
					</td>
					<td>
						<a href="http://se.360.cn/" title="360浏览器" target="_blank">
							<img src="static_url('images/browser/360.png')}}" alt="360浏览器" />
							360
						</a>
					</td>
					<td>
						<a href="http://www.opera.com/download/" title="opera" target="_blank">
							<img src="static_url('images/browser/opera.png')}}" alt="opera" />
							Opera
						</a>
					</td>
					<td>
						<a href="http://tt.qq.com/" title="腾讯浏览器" target="_blank">
							<img src="static_url('images/browser/TT.png')}}" alt="腾讯浏览器" />
							TT浏览器
						</a>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>