/*! weixin.css - v1 - 2014-3-27*/
@charset "utf-8";
* {
	font-family: Arial, "微软雅黑";
}
.divHeight {
	height: 300px;
}
.colorRed {
	color: red;
}
#content {
	margin-top: 60px;
}
.hide {
	display: none;
}
/* terminal list */
.terminallist_ul {
	list-style: none;
	margin: -10px 0px 50px 0px;
	padding: 0;
	font-size: 18px;
	text-align: center;
	position: relative;
}
.terminallist_ul li {
	float: left;
	margin-right: 18px;
	height: 20px;
}
.defendPanel img {
	position: relative;
	top: 2px;
}
.color_2d9ede {
	color: #2d9ede;
}
.accordionImg, .noLonLatImg {
	border: 1px solid #2d9ede;
	width: 258px;
	height: 258px;
	position: relative;
}
/* bind */
.content_logo {
	width: 260px;
	height: 97px;
}
.content_footerTip {
	margin-top: 10px;
	color: 505050px;
	font-size: 18px;
	text-align: left;
}
.content_footerTip div {
	padding-left: 0px;
}
.footerTip1 {
	margin-bottom: 10px;
}
.bindPanel, .unbindPanel {
	margin: 0 auto;
	text-align: center;
	background-color: #fdfdfd;
}
.bindItemPanel {
	margin: 10px 0;
    padding: 3px;
}
#userMobile, #userPwd, #unbind_userPwd, #unbind_userMobile {
	padding-left: 20px;
	height: 35px;
	font-size: 20px;
}
#unbind_userMobile {
	color: #000000;
}
.inputLabel {
	display: inline-block;
    width: 70px;
}

#userSaveBtn, .eventBtn, #unbind_userSaveBtn, #loadEventDatas {
	-webkit-appearance: none; 
}
/*event*/
.eventbody {
	text-align: center;
}
.dataTable {
	margin-top: 4px;
	width: 100%;
	border-collapse: collapse;
}
.dataTable tr {
	border: 1px solid #c1d2e5;
}
.dataTable td{
	height: 28px;
	text-align: center;
	border: 1px solid #c1d2e5;
	font-size: 14px;
}
#loadDatasTHeader th {
	text-align: center;
	border: 1px solid #c1d2e5;
	font-size: 18px;
	color: #2d9ede;
	padding: 10px;
}
.eventBtn {
	width: 49%;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #2d9ede;
	color: #2d9ede;
	padding: 8px 0px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}
.currentEventBtn {
	background-color: #2d9ede;
	color: #ffffff;
}
#loadEventDatas {
	width: 100%;
	padding: 12px 0px;
	background: #2d9ede;
	border: none;
	color: #ffffff;
	padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}
.eventTime {
	width: 50%;
}
.eventType {
	width: 50%;;
}
#eventSearch_list #terminalList {
	-moz-appearance: none;
}
.tListTip {
    position: relative;
    top: 22px;
    width: 50%;
}
.panelSpace {
	margin: 5px 0px;
	text-align: center;
}
#terminalEventSearch li {
	float: left;
}
#content_error, #unbindContent, #bindContent {
	text-align: center;
	margin-top: 80px;
}
#unbindContent, #bindContent, #loadEventDatasProcess, #loadEventNoDatas, #pageMsg {
	color: #2d9ede;
	font-size: 20px;
}
/* overlay */
.ioverlay {
	background-color: #ccc;
	left: 0;
    opacity: 0.7;
	position: absolute;
	top: 0;	
	width: 100%;
	height: 100%;
	z-index: 10;
}
#pageMsg {
	z-index: 111;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 40%;
	font-size: 20px;
}
.eventContent {
	padding: 0;
}
/*xxx**/
.ui-field-contain {
	border-bottom-width: 0px;
	padding: 0;
}