/*! weixin.css - v1 - 2014-3-27*/
@charset "utf-8";
.divHeight {
	height: 300px;
}
.colorRed {
	color: red;
}
/* terminal list */
.terminallist_ul {
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0;
}
.accordionImg {
	border: 1px solid #3baae3;
}
.teminalListTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 12px 0 10px;
    padding: 5px;
    text-align: center;
}
#accordion .terminalCon_panel {
	padding: 10px 20px
}
/* bind */
.bindPanel {
	margin: 0 auto;
	text-align: center;
}
.bindItemPanel {
	margin: 10px 0;
    padding: 3px;
}
#userMobile, #userPwd {
	padding: 12px;
}
.inputLabel {
	display: inline-block;
    width: 70px;
}

#userSaveBtn, .eventBtn {
	background-color: #0B95CF;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 12px 12px;
    text-align: center;
    width: 310px;
}
/*event*/
.eventbody {
	text-align: center;
}
.dataTable {
	margin-top: 8px;
	width: 340px;
	border-collapse: collapse;
}
.dataTable tr {
	border: 1px solid #c1d2e5;
}
.dataTable td{
	height: 30px;
	text-align: center;
	border: 1px solid #c1d2e5;
}
#loadDatasTHeader th {
	height: 35px;
	text-align: center;
	border: 1px solid #c1d2e5;
}
.eventBtn {
	width: 100px;
}
#eventSearch_list {
	
}
#terminalList {
	height: 38px;
}
.tList_tip {
}
.panelSpace {
	margin: 6px 0px;
	text-align: center;
}
#terminalEventSearch li {
	float: left;
}
#loadEventDatas {
	text-decoration: none;
}
#loadEventDatas:hover {
	text-decoration: underline;
}