<script type="text/javascript" type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<link href="/static/css/jquery-ui.css"rel="stylesheet" type="text/css"/>
<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static/js/submitForm.js"></script>
{% block body %}
{% if error %}
<div class="ui-widget" align="center">
<div class="errorbox ui-state-error ui-corner-all">
<span class="ui-icon ui-icon-alert" style="float: left; margin-left: 1em; margin-right: .5em;"></span>
<strong style="float: left;">操作错误：</strong>
<br />
<br />
{{ message }}。
</div>
<br />
<a class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" 
   href="#" onclick="fn_GoBack();"><span class="ui-button-text">返回</span></a>
</div>
{% end %}
{% end %}
