<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8"/>
    <meta name="MobileOptimized" content="240"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.33,minimum-scale=1.0,maximum-scale=1.0"/>
	
	<title>移动卫士--解除绑定</title>
	
	<link href="/static/css/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/weixin-css.css" rel="stylesheet" type="text/css" />
	
	<script src="/static/js/jquery-2.1.0.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery-ui-1.10.0.custom.js" type="text/javascript"></script>
	<script src="/static/js/json2.js" type="text/javascript"></script>
	
	<script src="/static/js/common.js" type="text/javascript"></script>
	<script src="/static/js/bind.js" type="text/javascript"></script>
	<script type="text/javascript">
		// 去除微信页面下侧按钮
		document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
			WeixinJSBridge.call('hideToolbar');
		});
	</script>
</head>
<body class="unbindPanel">
	<div id="content">
		<div class="content_userMobile bindItemPanel">
			<input type="text" id="unbind_userMobile" value="{{username}}" readonly="true"/>
		</div>
		<div class="content_userPwd bindItemPanel">
			<input type="password" id="unbind_userPwd" value="" placeholder="密码" />
		</div>
		<div class="content_userBtn">
			<input type="button" id="unbind_userSaveBtn" value="解除绑定" />
			<input type="hidden" id="pagetype" value="unbind" />
			<input type="hidden" id="openid" value="{{openid}}" />
		</div>
	</div>
	<div id="unbindContent">
		
	</div>
</body>
</html>
