<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/static/css/validationEngine.jquery.css" type="text/css" charset="utf-8" />
<script src="/static/js/initStyle.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/formValue.js"></script>

{% block body %}
<h3>修改密码</h3>
<form id="formID" method="post" action="" class="passwordForms">
	<table class="">
        {% if not is_self %}
            <tr>
		        <td>选择用户：</td>
		        <td>
                    <select name="id" id="selectUser" class="validate[required],onsubmit" 
                            onfocus="clearSpan();">
			            <option value="">--请选择用户--</option>
                        {% for administrator in administrators %}
                            <option value="{{administrator.id}}">{{administrator.login}}</option>
                        {% end %}
                    </select>
		            {% if is_response %}
			            <span class="error">
				            {{message}}
			            </span>
		            {% end %}
                </td>
            </tr>
        {% else %}
		<tr>
			<td align="right">当前密码：</td>
			<td align="left">
				<input type="password" name="old_password" id="old_password" onfocus="clearSpan();" 
			        class="validate[required],onsubmit" />
			</td>
			<td>
				{% if is_response %}
					<span class="error">{{message}}</span>
				{% end %}
			</td>
		</tr>
        {% end %}
		<tr>
			<td align="right">新密码：</td>
			<td align="left">
                <input type="password" name="new_password" id="new_password" 
                   class="validate[required,funcCall[fn_lengthBetween[new_password]]],onsubmit" 
				   onKeyUp="fn_textKeyUp(this, 'text')" />
            </td>
		</tr>
		<tr>
			<td align="right">确定密码：</td>  
			<td align="left">
                <input type="password" name="new_password2" id="new_password2" 
                   class="validate[required,confirm[new_password]],onsubmit" />
            <td>
		</tr>	
		<tr>
			<td colspan="2" align="right">
                <input class="ui-widget ui-button ui-corner-all ui-state-default" type="submit" value="提交" /> 
                <input class="ui-widget ui-button ui-corner-all ui-state-default" type="reset" value="重置" />
            </td>
		</tr>
	</table>
</form>
{% end %}
