@charset "utf-8";
/**
*acb css v1.0
*2012-07-09 
*/
* {
	outline: none;
}
html, a, input, ul, ol, li, p {
	font-size: 12px;
	font-family: "宋体","Times New Roman","Arial";
	margin: 0;
	padding: 0;
}
ul, ol, li {
	list-style: none;
}
body {
	margin: 0;
	padding: 0;
}
.mainBody {
	float: left;
	min-height: 685px;
}
/*navigation css start*/
#top {
	height: 123px;
	min-width: 1277px;
	float: left;
}
#top img {
	float: left;
}
#logo{
	background-color: white;
	float: left;
	width: 249px;
	height: 123px;
}
#banner {
	background: url('/static/images/banner.png') repeat-x;
	height: 123px;
	float: left;
	min-width: 1028px;
}
.welcome {
	background: url('/static/images/userIcon.png') no-repeat 0px center;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/userIcon.png',sizingMethod='scale');
	padding-left: 60px;
	float: right;
	color: #0aa0fb;
	font-size: 14px;
	margin-top: 70px;
	margin-right: 29px;
	height: 44px;
	width: 137px;
}
#spanWelcome {
	display: inline-block;
	float: left;
	padding-top: 21px;
}
/*
.help {
	background: url('/static/images/helpIcon.png') no-repeat;
	width: 17px;
	height: 14px;
	padding-left: 21px;
	padding-top: 1px;
}*/
/*main content start*/
#main {
	min-width: 1277px;
	min-height: 601px;
	background: #e7eeef;
	float: left;
}
#left, #right {
	float: left;
	min-height: 601px;
	background-color: #e7eeef;
}
#left {
	width: 247px;
	border-right: 1px solid #c5c5c4;
}
#right {
	min-width: 1028px;
}
#left .title {
	font-size: 14px;
	color: #1661c2;
	float: left;
	display: inline-block;
	padding-left: 20px;
	width: 227px;
	font-weight: bold;
}
/*left start*/
#cars {
	margin-top: 2px;
}
#cars, #carInfo, #terminalInfo, .updateTime {
	float: left;
	color: #435871;
}
#carList {
	float: left;
	/*padding: 15px 0px 10px 0px;*/
	width: 247px;
}
#tInfo {
	float: left;
	padding: 10px 10px 10px 20px;
}
#fobList table {
	width: 100%;
	left: -4px;
    position: relative;
}
#fobListLable {
	width: 64px;
	height: auto;
}
#fobList tr {
	line-height: 18px;
	vertical-align: top;
}
#cInfo {
	float: left;
	width: 207px;
	margin: 10px 10px 10px 20px;
	display: inline;
}
#cInfo .tLeft {
	width: 40px;
}
#cInfo tr, #cInfo td {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#cInfo span {
	display: inline-block;
}
#tInfo span {
	display: inline-block;
}
.d_img, .g_img {
    display: inline-block;
    left: 24px;
	_left: 16px;
	*left: 28px;
    position: relative;
    top: 3px;
}
#defend_word, #g_word {
	display: inline-block; 
	width: 140px;
}
#left .carsTitle, .carsInfoTitle, .terminalInfoTitle {
	margin-left: 10px;
	_margin-left: 5px;
	float: left;
	display: inline-block;
}
.carsTitle div, .carsTitle img {
	float: left;
}
.carsTitle, .carsInfoTitle, .terminalInfoTitle {
	background: url('/static/images/acb-leftTitles.png') no-repeat;
	width: 227px;
	height: 34px;
}
.carsTitle {
	background-position: 0px 0px;
}
.carsInfoTitle {
	background-position: 0px -34px;
}
.terminalInfoTitle {
	background-position: 0px -68px;
}
#carInfo .ciTitle, #terminalInfo .tiTitle{
	background: url('/static/images/title2.png') repeat-x;
	height: 25px;
	line-height: 25px;
}
#carList li {
	display: inline;
	margin: 10px 0px 0px 15px;
	padding-bottom: 8px;
	text-align: center;
	float: left;
	width: 103px;
}
#carList li a {
	text-decoration: none;
	float: left;
	display: inline;
}
.carlogout img {
	padding-left: 0px;
	padding-top: 10px;
	border: 0px;
}
#carList li img {
	padding-left: 2px;
	padding-top: 13px;
	border: 0px;
}
.carlogin {
	width: 99px;
	height: 76px;
	background: url('/static/images/carlogoutBg.png') no-repeat 0px 0px;
}
.carlogout {
	width: 99px;
	height: 76px;
	background: url('/static/images/carlogoutBg.png') no-repeat 0px 0px;
}
.carlogin:hover, .carlogout:hover {
	/*border: 2px solid #89c0e2;*/
	width: 99px;
	height: 76px;
	/*color: #435871;*/
}
.currentCar {
	/*border: 2px solid #89c0e2;*/
	background: url('/static/images/carCurrentBg.png') no-repeat 0px 0px;
	width: 99px;
	height: 76px;
	color: #435871;
}
.gray {
	clear: both;
	color: gray;   
	word-break: break-all;
    word-wrap: break-word
}
.green {
	clear: both;
	color: green;
	word-break: break-all;
    word-wrap: break-word
}
#carList span {
	line-height: 22px;
	text-align: left;
	cursor: pointer;
	word-wrap: break-word; 
	word-break: normal; 
}
#cInfo tr {
	line-height: 23px;
	width: 210px;
	vertical-align: top;
}
#tInfo li {
	line-height: 25px;
	width: 210px;
	vertical-align: top;
}
#cInfo label {
	color: #126393;
}
.fontColor {
	color: #126393;
	padding-left: 3px;
}
#defendStatus, #power, #gps{
	background-repeat: no-repeat;
	background-position: 168px center;
}
#pwoerSign {
	height: 10px;
	margin-left: 50px;
    width: 30px;
}
.tInfoWord {   
	text-align: left;
    width: 63px;
}
.tInfoWord label {
	letter-spacing: 2px;
}
#gsm {
	background: url('/static/images/gsm1.png') no-repeat 168px center;
}
.updateTime {
	width: 225px;
	height: 32px;
	line-height: 32px;
	background-color: #fbfcfc;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	float: left;
	padding-left: 20px;
}
/*left end*/
/* right start */
#navi {
	background: url('/static/images/menuBg.png') repeat-x;
	height: 38px;
	min-width: 1028px;
}
.menu, .menu li {
	float: left;
}
#mapObj {
	min-width: 1028px;
	min-height: 566px;
}
.menu a {
	display: inline-block;
	height: 36px;
	width: 104px;
	float: left;
	background: url('/static/images/acb-menus.png') no-repeat;
}
.menu .realtime {
	background-position: 0px 0px;
}
.menu .realtime:hover {
	background-position: 0px -36px;
}
.menu .track {
	background-position: 0px -72px;
}
.menu .track:hover {
	background-position: 0px -108px;
}
.menu .event {
	background-position: 0px -144px;
}
.menu .event:hover {
	background-position: 0px -180px;
}
.menu .defend {
	background-position: 0px -216px;
}
.menu .defend:hover {
	background-position: 0px -252px;
}
.menu .terminal {
	background-position: 0px -288px;
}
.menu .terminal:hover {
	background-position: 0px -324px;
}
.menu .smsOption {
	background-position: 0px -360px;
}
.menu .smsOption:hover {
	background-position: 0px -396px;
}
.selfList {
	float:right;
	margin-right: 20px;
}
.selfList li {
	float: left;
	margin-left: 20px;
	height: 36px;
	line-height: 36px;
}
.selfList a {
	text-decoration: none;
	color: #276dc3;
	font-size: 12px;
}
#logout {
	color: #4c4c4c;
}
/* right end */
.userMsg {
	color: #464646;
    font-size: 12px;
	display: block;
	padding-right: 30px;
}
.fontMic {
	color: #ffffff;
}
/*main content end*/

/*dialogs wrapper start*/
#currentMsg, #defendMsg, #bListR .terminalTdL, .personalList label, .pwdList label, .smsTip {
	color: #126393
}
.timeout {
	text-align: center;
}
.layer {
	background-color: #ccc;
	left: 0;
    opacity: 0.5;
	filter: alpha(opacity=50); /*ie*/
	position: absolute;
	top: 0;	
	width: 100%;
	z-index: 1000;
}
.wrapper {
	height: 335px;
	left: 38%;
	width: 448px;
	position: absolute;
	top: 20%;
	z-index: 1001;
}
.wrapperTitle {
	height: 34px;
	width: 448px;
	background: url('/static/images/acb-dialogTitle.png') no-repeat;
}
.currentTitle {
	background-position: 0px -170px;
}
.defendTitle {
	background-position: 0px -137px;
}
.personalTitle {
	background-position: 0px -102px;
}
.smsTitle {
	background-position: 0px -34px;
	width: 357px;
}
.terminalTitle {
	background-position: 0px 0px;
}
.PWDTitle {
	background-position: 0px -204px;
	width: 336px;
}
.businessTitle {
	background-position: 0px -68px;
}
.smsUploadTitle {
	width: 400px;
	background-position: 0px -238px;
}
.wrapperContent {
	height: 249px;
	background-color: #ffffff;
}
.close {
    background: url("/static/images/close_default.png") no-repeat;
    cursor: pointer;
	display: inline-block;
    height: 17px;
    left: 168px;
    position: relative;
	left: 422px;
	_left: 420px;
	top: 10px;
	*top: 9px;
	_top: 7px; /*ie6*/
    width: 16px;
}
.titleName {
	color: #155493;
	display: inline-block;
	font-size: 16px;
	height: 36px;
    line-height: 36px;
    text-indent: 20px;
	*text-indent: 10px; /*ie6,7*/
    width: 120px
	font-family: '宋体';
	font-weight: bold;
}
.PWDTitle .close {
	left: 308px;
}
	/* realtime/defend dialog */
#currentWrapper, #defendWrapper {
	height: 120px;
	width: 448px;
}
.waitingImg {
	padding-top: 2px; 
	position: relative;
    top: 2px;
}
.currentContent, .defendContent {
	background-color: #ffffff;
	height: 84px;
}
.currentText {
    height: 84px;
    text-align: center;
    width: 262px;
}
#currentMsg {
	font-size: 14px;
	font-style: normal;
    left: 25px;
    position: relative;
    top: 31px;
}
#currentBtn {
	background: url('/static/images/gb.png') no-repeat scroll 0 0 transparent;
}
#currentBtn:hover {
	background: url('/static/images/gb2.png') no-repeat scroll 0 0 transparent;
}
.confirmBtn {
	cursor: pointer;
	display: inline-block;
    height: 34px;
    left: 335px;
    position: absolute;
    top: 62px;
    width: 92px;
}
.defendText {
    height: 84px;
	width: 320px;
	text-align: center;
}
#defendMsg {
    left: -25px;
    line-height:2;
    position: relative;
    top: 21px;
	font-style: normal;
	font-size: 14px;
	color: #317bae;
}
.msgLine {
	background: url('/static/images/msgLine.png') no-repeat;
	width: 1px;
	height: 59px;
	position: absolute;
	top: 45px;
	left: 300px;
}
	/* bussiness change dialog */
#businessWrapper {
	height: 120px;
	width: 456px;
}
.businessContent {
	background-color: #ffffff;
	height: 85px;
	width: 448px;
}
.businessText {
    height: 85px;
	width: 330px;
	text-align: center;
	line-height: 85px;
	font-size: 14px;
	color: #317BAE;
}
#businessBtn {
	background: url("/static/images/qd.png") no-repeat scroll 0 0 transparent;
	width: 63px;
	height: 25px;
	position: absolute;
	top: 62px;
	left: 358px;
}
.businessLine {
	left: 320px;
}
	/* pwd/personal dialog */
#pwdWrapper {
	width: 336px;
	height: 220px;
}
.pwdContent {
	height: 210px;
	padding-top: 10px;
}
.personalContent {
	height: 285px;
	padding-top: 10px;
}
.personalList {
	height: 190px;
	margin-left: 23px;
}
.personalList tr, .pwdList tr {
	height: 27px;
	line-height: 27px;
}
.personalList input {
	width: 310px;
}
.personalList input, .pwdList input {
	padding: 5px;
}
.remark {
	resize: none;
    width: 310px;
	height: 60px;
	font-size: 12px;
	background-color: #F3F9FA;
    border: 1px solid #CDCDCD;
	padding: 5px;
}
.personalList label, .pwdList label {
	display: inline-block;
    float: left;
    margin-right: 20px;
    text-align: right;
    width: 60px;
}
.pwdList {
	height: 144px;
	margin-left: 20px;
}
.pwdList input {
	width: 195px;
}
.personalButton {
	margin-top: 10px;
	margin-left: 329px;
}
.pwdButton {
	margin-top: 10px;
	margin-left: 223px;
}
	/* smsoption dialog */
#smsWrapper {
	width: 448px;
	height: 200px;
}
#smsWrapper #smsContent {
	height: 400px;	/* 400px*/
	width: 357px;
}
.smsList {
	padding: 7px 18px 0px 53px;
	display: inline;
	float: left;
	width: 256px;
	line-height: 37px;
    list-style: none outside none;
}
.smsList li {
	float: left;
	padding: 0px 10px 10px 0px;
	height: 22px;
	line-height: 22px;
	width: 200px;
}
.smsButton {
    left: 243px;
    position: absolute;
    top: 347px;
}
.smsTip {
	display: inline-block;
    line-height: 22px;
    padding: 30px 18px 10px 27px;
    text-align: left;
}
#smsWrapper .close {
	left: 333px;
}
	/* terminal dialog */
#terminalWrapper {
	height: 499px;
}
#terminalWrapper .terminalContent {
	height: 499px;	/* 400px*/
	width: 448px;
}
#terminalWrapper .titleName {
	width: 154px;
}
#terminalList1 {
	width: 390px;
	float: left;
}
.terminalButton {
	height: 31px;
	width: 40px;
}
#terminalList0 {
	padding: 10px 10px 0px 10px;
	display: inline-block;
}
#bListR {
	width: 420px;
	border: 1px;
}
#bListR tr{
	height: 30px;
	line-height: 30px;
}
#bListR, #bListR td{
	margin: 0px;
	padding: 0px;
	text-align: left;
	line-height: 35px;
}
#bListR .terminalTdL {
	width: 87px;
	text-align: right;
}
#t_vibl, #t_freq, #t_vibchk {
	width: 130px;
	margin-left: 10px;
	height: 22px;
	padding-top: 1px;
}
#bListR span {
	display: inline-block;
	width: 250px;
}
#bListR input, #bListR label {
	margin-left: 10px;
	padding: 5px;
}
#trace label, #cellid_status label {
	margin: 0px;
	padding: 0px;
}
.text_mouseOut  {
	background-color: #f3f9fa;
	border: 1px solid #cdcdcd;
	height: 20px;
	line-height: 20px;
	width: 240px;
}
.bListR_text_mouseFocus  {
	border: 1px groove #4773a2;
}
.vibchk {
	width: 40px;
}
#viblTip {
	margin-left: 20px;	
}
.lblVibchk {
	margin-left: 10px;
}
#terminalListTip {
	margin-top: 10px;
	padding: 0px 10px 10px 0px;
	color: #3C7EA6;
	font-weight: bold;
}
#radioTip {
	margin-top: 10px;
	color: gray;
}
#personalSave, #pwdSave, #terminalSave, #smsNoticeSave {
	border: 0px;
	background: url('/static/images/bc.png') no-repeat;
	width: 92px;
	height: 34px;	
}
#tmnTable {
	height: 30px;
	width: 420px;
}
#whitelistPopWrapper {    
	background: url("/static/images/notice.png") no-repeat scroll 0 0 transparent;
    height: 70px;
    position: absolute;
    width: 170px;
    z-index: 10000000;
}
.noticeClose {
	cursor: pointer;
	background: url('/static/images/close.png') no-repeat;
	width: 8px;
	height: 8px;    
	left: 149px;
    position: absolute;
    top: 8px;
}
#whitelistPopWrapper p {
	line-height: 17px;
}
.noticeMsg {
	text-align: left;
	padding-left: 30px;
	padding-top: 16px;
}
.noticeRemeber {
	padding-right: 10px;
	text-align: right;
	color: #13a3f8;
	cursor: pointer;
}
/* dialog end */
/*---- POISearch start ----*/
.POISearchWrapper {
	border: 1px solid #cccccc;
	background-color: #FFF;
	height: 285px;
	right: 10px;
	width: 300px;
	position: absolute;
	top: 210px;
	z-index: 0;
}
.PWrapperTitle {
	background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #DADADA;
    color: #4C4C4C;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding-left: 7px;
	margin: 0px;
}
.POISearchContent {
	height: 242px;
    overflow-y: auto;
    padding-left: 10px;
}
.siv_list {
	margin-top: 10px;
    overflow: hidden;
	width: 253px;
	list-style: none outside none;
}
.siv_list li {
    clear: both;
    float: left;
    line-height: 18px;
    overflow: hidden;
    padding: 2px 0 8px 25px;
    width: 100%;
}
.siv_list .hotel span {
    background-position: -75px -45px;
    left: 2px;
    width: 15px;
	background: url('/static/images/g1.png');
}
.siv_list .food span {
    background-position: 0 -45px;
	background: url('/static/images/g2.png');
}
.siv_list .jiayou span {
    background-position: -50px -45px;
	background: url('/static/images/g3.png');
}
.siv_list .entertain span {
    background-position: -25px -45px;
	background: url('/static/images/g4.png');
}
.siv_list li span {
    float: left;
    height: 14px;
    margin: 0px 0 0 -25px;
    width: 14px;
}
.siv_list li a {
    cursor: pointer;
    float: left;
    margin-right: 12px;
    color: #3D6DCC;
    text-decoration: none;
}
.POISearchWrapper .pClose {
    left: 213px;
    position: relative;
	top: 3px;
	+top: -1px; /*ie7*/
	_top: 3px; /*ie6*/
}
.searchCondition span {
	display: inline-block;
	width: 253px;
	margin-top: 5px;
}
.textbox {
	color: #808080;
}
.searchCondition font {
	color: red;
}
.btnSearch {
	margin-left: 100px;
    width: 60px;
}
/*----- POISearch  end --------*/
/*track ,event css start*/
.hide, .trackBtn .hide {
	display: none;
}
.eventHeader {
	background: url('/static/images/trackBj.png');
	height: 83px;
	line-height: 83px;
	text-align: center;
	font-size: 14px;
	color: #154781;
	margin: 0 auto;
	min-width: 850px;
}
.eventTitle {
	width: 850px;
	margin: 0 auto;
}
.trackHeader {
	background: url('/static/images/menuBg.png') repeat-x;
    height: 36px;
	line-height: 32px;
	float: left;
	min-width: 1028px;
	position: absolute;
	z-index: 1000;
	top: 158px;
}
.trackPos {
	display: inline-block;
    height: 36px;
	line-height: 36px;
    width: 401px;
	float: left;
}
#trackSlide {
    display: inline-block;
    margin-left: 12px;
    width: 82px;
	top: 4px;
}
#trackBeginTime, #trackEndTime {
	width: 147px;
	padding-left: 8px;
	height: 24px;
	font-size: 12px;
	position: relative;
	top: 0px;
	+top: 0px;
	_top: 3px;
	background-position:  right -3px;
}
#eventStartTime, #eventEndTime {
	background-position:  right 0px;
}
.time {
	background: url("/static/images/datePicker.png") no-repeat scroll #FFFFFF;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	width: 185px;
	padding-left: 10px;
	font-size: 14px;
	*position: relative;	/*ie6,7*/
	*top: 1px;
	color: #8a9097;
}
.title_xfont {
    margin: 0 35px;
}
.trackBtn, .tClose {
	display: inline-block;
    position: relative;
    text-align: left;
    top: 5px;
    width: 166px;
	float: left;
	padding-left: 10px;
}
.trackSpeed {
	display: inline-block;
    position: absolute;
	height:34px;
	line-height: 34px;
	_top: 8px;
    text-align: left;
    width: 186px;
}
.trackBtn span, .tClose  {
	cursor: pointer;
	display: inline-block;
	height: 25px;
	padding-left: 10px;
}
.tSearch {
	background: url('/static/images/trackcx1.png') no-repeat;
	width: 63px;
}
.tPlay, .tStop, .tPause, .tClose{
	width: 63px;
}
.tClose {
	background: url('/static/images/close_default.png') no-repeat;
	position: absolute;
	height: 17px;
	width: 16px;
	right: 10px;
	top: 10px;
}
.tPlay {
	background: url('/static/images/bf1.png') no-repeat;
}
.tPause {
	background: url('/static/images/zt1.png') no-repeat;
}
/*track css end*/
/*event css start*/
.eventbody {
	background-color: #fff;
	min-height: 470px;
}
.eventHeader {
	min-width: 0px;
}
.eventMapClose {
    background: url("/static/images/close_default.png") no-repeat;
    height: 20px;
    left: 378px;
    position: relative;
    top: -6px;
    _top: -4px;
    width: 20px;
	cursor: pointer;
}
.eventMapContent {
	background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    height: 323px;
    padding: 11px;
    width: 390px;
}
.eventMapContent h2 {
	margin: 0;
	cursor: move;
}
.eventMapContent  #mapObj {
	min-width: 0px;
}
.eventBtn {
	background: url('/static/images/cx.png') no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 34px;
	margin-left: 30px;
	position: relative;
	top: 14px;
	_top: 27px;
	width: 92px;
}
.dataTable {
	border: 0px;
	margin-top: 8px;
	width: 850px;
}
.dataTable tr {
	border: 1px solid #c1d2e5;
}
.dataTable td{
	border: 0px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #c1d2e5;
}
#eventTableHeader {
	background: url('/static/images/eventTH.png') repeat-x;
	height: 38px;
	border: 1px solid #dce7f2;
}
#eventTableHeader td {
	background-color: #5aabff;
	border: 1px solid #ececec;
	height: 30px;
	color: #FFFFFF;
	text-align: center;
}
.dataTable a,.dataTable a:link{
	color: 	black;
	text-decoration: none;
}
.dataTable a:hover {
	color: #4876FF;
	font-weight: bold;
	text-decoration: underline;
}
#eventTableHeader th {
    font-size: 16px; 
	color: #154781;
	border: 1px solid #dce7f2;
}
.eventTime {
	width: 200px;
}
.eventType {
	width: 150px;
}
.eventLocation {
	width: 500px;
}
.eventPos input {
	display: inline-block;
	position: relative;
	+top: 10px;
	_top: 25px; /*ie6*/
}
.eventPos .cEventType {
	position: relative;
	+top: 1px;
	_top: 20px; /*ie6*/
}
.eventPos span {
	position: relative;
	+top: 3px;
	_top: 20px; /*ie6*/
}
#pagerContainer {
	width: 850px;
	height: 34px;
	line-height: 34px;
	margin:0 auto;
	margin:0 auto;
	text-align: center;
}
#pageNums {
	font-size: 12px;
	margin-left: 30px;
}
.nextBtn, .prevBtn {
	cursor: pointer;
	display: inline-block;
	height: 34px;
	margin-left: 30px;
	position: relative;
	top: 8px;
	width: 92px;
}
.prevBtn {
	background: url('/static/images/prevPage0.png') no-repeat;
}
.nextBtn {
	background: url('/static/images/nextPage0.png') no-repeat;
}
/*event css end*/
/*terminallist */
#terminalListWrapper {
	height: 200px;
	width: 300px;
}
.terminalListContent {
	height: 165px;
	*height: 195px;
	overflow: auto;
}
.olTable {
	margin-top: 10px;
}
.olTable  li {
	list-style: none;
	margin-bottom: 10px;
}
.iInput {
	border: 1px solid #CCCCCC;
    height: 24px;
    line-height: 24px;
}
.tlButton {
	margin-right: 65px;
}
#tlSave {
	float: right;
	width: 60px;
	margin-right: 10px;
}
/*jnotify message*/
#jNotifyMessage {
	filter: alpha(opacity=90);
	float: right;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.9;
	position: absolute;
	text-align: center;
	top: 103px;
    width: 400px;
	z-index: 100001;
}
.jnotify-item {
	display: block;
    height: auto;
    margin: 0 0 5px 0;
    padding: 10px 0;
}
.jnotify-item-close {
	float: right;
	margin-right: 0.5em;
	margin-top: 2px;
}
/*disbaled style*/
.textDisabled {
	background-color: #F2F2F2;
}
/*readonly style*/
.readonly_overlay {
	background-color: #aaa;
	opacity: 0.2;
	filter: alpha(opacity=20);
	padding: 0!important;
	margin: 0!important;
	position: absolute;
	z-index: 1100;
}
.mouseItem {
	background-color: #F0F0F0;
	border: 1px solid #718BB7;
    height: 20px;
	line-height: 20px;
	position: absolute;
    text-align: center;
    width: 60px;
}
.mouseSpan {
	cursor: pointer;
	display: block;
    height: 20px;
    width: 60px;
}
/*marker css start*/
#markerWindowtitle {
	width: 250px;
	font-size: 12px;
}
#markerWindowtitle h4 {
	margin: 0px 0 5px 8px;
	font-size: 12px;
}
#markerWindowtitle ul {
	margin-left: 8px;
}
#markerWindowtitle ul li {
	height: 17px;
	list-style: none;
}
#markerWindowtitle label {
	display: inline-block;
	float: left;
}
#markerWindowtitle .labelRight {
	float: right;
	width: 100px;
	display: inline-block;
	text-align: left;
}
#markerWindowtitle a {
	margin-right: 10px;
}
#markerWindowtitle a:visited {
	color: #0000ff;
}
.lblAddress {
	display: inline-block;
	text-align: left;
	width: 190px;
}
/*marker css end*/
.top10 {
	padding-top: 10px;
}
/* index ads */
#ads {
	width: 799px;
	height: 123px;
	float: left;
}
/* getpassword start */
.bdpwd {
	float: none;
	padding-top: 10px;
	margin: 0px;
	background-color: #FFF;	
}
#password {
	background:#F9F9F9;
	margin: 0 auto;
	padding: 30px 20px;
	width: 960px;
}
#pwdBox {
	background: url('/static/images/reg_bg.gif') repeat scroll 0 0 transparent;
    color: #999999;
    overflow: hidden;
    padding: 5px 0;
    text-align: left;
}
.pwdTitle {
	padding-left:30px;
	color:#367203;
	font-weight:bold;
	font-size:14px;
}
.newRegBox_top {
	background: url('/static/images/reg_top.gif') no-repeat scroll 0 0 transparent;
    height: 11px;
    overflow: hidden;
    width: 100%;
}
.newRegBox_buttom {
    background: url('/static/images/reg_buttom.gif') no-repeat scroll 0 0 transparent;
    height: 12px;
    overflow: hidden;
    width: 100%;
}
.newRegBox_line {
    background: url('/static/images/reg_line.gif') no-repeat scroll 0 0 transparent;
    height: 12px;
    overflow: hidden;
}
.pwdCnt {
	margin-top: 36px;
	text-align: center;
}
.pwdTips {
	background: none repeat scroll 0 0 #FFFF99;
    border: 1px solid #EFAC22;
    height: 30px;
    line-height: 30px;
    margin-left: 235px;
    width: 388px;
	color: #CD0101;
	font-weight: bold;
}
#tab_pwd {
	width: 500px;
	margin: 0 auto;
}
#pwdBox p {
	margin-right:30px;
	text-align: right;
	padding-top: 10px;
	color: #999;
}
#mobile {
	height: 22px;
	line-height: 22px;
	padding-left: 5px;
	width: 120px;
	margin-right: 10px;
}
#btnGetPwd {
	height: 27px;
	width: 60px;
}
/* getpassword end */
.txtColor {
	color: red;
}
.pwdBackTrPanel {
	display: block;
	margin: 15px 0 0 87px;
}
/*service terms start */
.services {
	margin-top: 30px;
	padding: 0 217px;
}
#serviceTitle {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
}
.services dl {
	margin: 10px 0 10px 22px;
	*margin-left: 46px;
	padding: 0;
}
.services dd {
	line-height: 20px;
	margin-left: 32px;
	*position: relative;
	*top: -3px;
}
.headline {
	text-indent: 2em;
	font-size: 14px;
}
.headdl {
	float: left;
}
.subtitle {
	text-indent: 4em;
}
/*service terms end*/

/*feedback start*/
.commonBody {
	padding: 0px;
	margin: 0 auto;
	background-color: #f7f8fb;
	width: 100%;
	min-width: 1038px;
}
.commonBody .top {    
	float: left;
    height: 123px;
	width: 100%;
	background: url("/static/images/banner.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 123px;
    min-width: 791px;
}
.commonBody .banner {
	width: 87%;
}
.fbtable {
	margin-top: 30px;
	float: left;
	width: 100%;
}
#suggestions {
	margin: 0 auto;
	width: 700px;
	clear: both;
	border: 1px solid #DEE2EE;
	background: #FFF;
}
#suggestions #content {
	width: 374px;
	height: 120px;
}
#suggestions h1 {
	color: #5A627A;
	float: left;
	padding-left: 30px;
}
.fb_title {
	color: #FF9C00;
	float: left;
    padding: 26px 0 0 15px;
}
.feed_con {
    border: 1px solid #DDE1EE;
    font-size: 14px;
    height: 100px;
    line-height: 20px;
    padding: 5px;
	background: #FFF;
    width: 580px;
	color: #596B86;
}
.tdLeft { 
	color: #596B86;
    font-size: 14px;
    height: 46px;
    padding-right: 40px;
    text-align: right;
    width: 107px;
}
.fb_textbox { 
	background: #FFF;
	border: 1px solid #DDE1EE;
    color: #596B86;
    float: left;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    margin: 0;
    padding: 0 5px;
    width: 180px;
}
.fbSubmit {
	cursor:pointer;
	margin: 30px 0px;
	border: 0px;
	background: url('/static/images/fbsubmit.png') no-repeat;
	width: 138px;
	height: 39px;
}
.fbqx {
	cursor:pointer;
	border: 0px;
	background: url('/static/images/fbqx.png') no-repeat;
	width: 138px;
	height: 39px;
}
/*feedback end*/

/*checkbox css start*/
.smsList input {
	padding-right: 10px;
}
.smsList label {
	padding-left: 10px;
	display: inline-block;
}
/*checkbox css end*/

/*web css start*/
#webBody {
	margin: 0 auto;
}
#webBody h2 {
	margin-top: 30px;
}
#webTab {
	margin-top: 20px;
}
#webBody a {
	display: inline-block;
	width: 64px;
	height: 64px;
	padding: 6px;
	border: 1px solid #cdcdcd;
	text-align: center;
	font-size: 14px;
	color: #696969;
	text-decoration: none;
	font-weight: bold;
}
#webBody a:hover {
	background-color: #F4F4F4;
}
#webBody img {
	border: 0px;
}
#webBody td {
	padding: 10px 20px 0px 0px;
	text-align: left;
}
.orders {
	line-height: 31px;
	letter-spacing: 2px;
	text-indent: 20px;
}
/*web css end*/