
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>移动车卫士各模块日志监控系统</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	
	<link type="text/css" href="/static/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
	<link href="./static/css/css.css" rel="stylesheet" type="text/css"/>
	<link href="./static/css/dataTables_jui.css" rel="stylesheet" type="text/css"/>
	<link href="./static/css/dataTables_highlight.css" rel="stylesheet" type="text/css"/>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="static/js/jquery-1.6.2.min.js">\x3C/script>')</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
	<script>$.datepicker || document.write('<script src="static/js/jquery-ui-1.8.14.custom.min.js">\x3C/script>')</script>
	
	<script src="./static/js/initialize.js"></script>
	<script src="./static/js/jquery-ui-timepicker-addon-0.5.min.js"></script>
	<script src="./static/js/myDateTime.js"></script>
	<script src="../static/js/jquery_cookie.js"></script>
	<script src="./static/js/json2.js"></script>

  </head>
  
  <body>
	<div class="right_title">
		欢迎您，	<label id="username" class="username">{{username}}</label>|<a id="logout" href="#">退出</a>
	</div>
	<fieldset class="ui-widget ui-widget-content ui-corner-all">
		<legend class="button legend ui-widget ui-state-default ui-corner-all ui-button-text-only legend-button" role="button">
			<span class="ui-button-text legend-text">日志查询</span>
		</legend>
	
		<table id="searchTable" align="center">
			<tr>
				<td align="right" nowrap="nowrap">开始时间：</td>
				<td align="left">
					<input type="text" name="beginDate" id="beginDate" class="tdStyle" onClick="SelectDate(this,'yyyy-MM-dd hh:mm:ss',0,5)" readonly="true" />
				</td>
				<td align="right" nowrap="nowrap">结束时间：</td>
				<td align="left">
					<input type="text" name="endDate" id="endDate" class="tdStyle" onClick="SelectDate(this,'yyyy-MM-dd hh:mm:ss',0,5)" readonly="true" />
				</td>
				<td align="right" nowrap="nowrap">模块：</td>
				<td align="left">
					<select name="plan_id" id="plan_id" class="tdStyle">
						<option value="">--请选择要查询的模块--</option>
						<option value="uweb">1 uweb</option>
						<option value="gf_sender">2 gf_sender</option>
						<option value="lbmp_sender">3 lbmp_sender</option>
						<option value="eventer">4 eventer</option>
						<option value="sms">5 sms</option>
						<option value="androidpush">6 androidpush</option>
						<!-- <option value="celery">7 celery</option> -->
						<option value="siserver">7 siserver</option>
						<option value="gateway">8 gateway</option>
						<!-- <option value="agps">10 agps</option> -->
						<option value="admin">9 admin</option>
					</select>
				</td>
				<td align="right" nowrap="nowrap">错误级别：</td>
				<td align="left">
					<select name="level" id="level_id" class="tdStyle">
						<option value="">--请选择要查询的错误级别--</option>
						<option value="ERROR">ERROR</option>
						<option value="WARN">WARN</option>
						<option value="EXCEPTION">EXCEPTION</option>
					</select>
				</td>
				<td>
					<input id="logSearch" type="button" value="查询"
					class="ui-button ui-widget ui-state-default ui-corner-all"
					role="button" aria-disabled="false" />
				</td>
			</tr>
		</table>
	
	</fieldset>
	
	<h3>查询结果</h3>
	<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"></div>
	<table id="loghistory" class="display">
	<thead>
	<tr>
		<th>时间</th>
		<th>服务名称</th>
		<th>消息类别</th>
		<th>消息内容</th>
		<th>显示详细</th>
		</tr>
	</thead>
	<tbody id="loghistory_tbody">
	
	</tbody>
	</table>
	<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
	<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="loginhistory_paginate">
        <button class="previous ui-button ui-widget ui-state-default ui-corner-all" id="loghistory_previous">上一页</button>
        <span id="loghistory_pagenum">0</span><span>&frasl;</span><span id="loghistory_pagecnt">0</span>
		<button class="next ui-button ui-widget ui-state-default ui-corner-all" id="loghistory_next">下一页</button>
	</div>
</div>
  </body>
</html>
