<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>移动车卫士各模块日志监控系统</title>
	<meta http-equiv="pragma" content="no-cache;charset=UTF-8">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<!--
	<link rel="stylesheet" type="text/css" href="styles.css">
	-->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>-->
	<script>window.jQuery || document.write('<script src="static/js/jquery-1.6.2.min.js">\x3C/script>')</script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>-->
	<script>$.datepicker || document.write('<script src="static/js/jquery-ui-1.8.14.custom.min.js">\x3C/script>')</script>
    <link type="text/css" href="/static/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
    <link href="./static/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../static/js/login.js"></script>
	<script type="text/javascript" src="../static/js/jquery_cookie.js"></script>
    <script type="text/javascript" src="../static/js/jquery-corner.js"></script>
  </head>
  
  <body>
  	<div align="center">
   	   <div id="login" class="ui-widget ui-corner-all cLogin">
			<h1>移动车卫士各模块日志监控系统</h1>	
			<hr />
			<form method="post" action="">
				<table align="center" cellspacing="0" cellpadding="10" width="100%">
				<tr class="input">
					<td width="40%" align="right">用户名：</td>
					<td width="60%" align="left">
						<input id="username" type="text" name="username" 
                           placeholder="请输入用户名"
                           onKeyUp="value=value.replace(/[^\w|chun]/g,'')" />
					</td>
				</tr>
				<tr class="input">
					<td align="right">密码：</td>
					<td align="left">
						<input id="password" type="password" name="password" 
                           placeholder="请输入密码" />
                           <span>
							{% if message %}
								{{ message }}
							{% end %}
						</span>
					</td>
				</tr>
				<tr class="input">
                    <td align="right">验证码：</td>
                    <td align="left">
                      <input id="captcha" type="text" name="captcha" 
                         maxlength="4" value="" onKeyUp="value=value.replace(/[^\w|chun]/g,'')" 
                         placeholder="请输入下面的验证码" autocomplete='off'/>
                      <span class="error">
                        {% if message_captcha %}
                            {{ message_captcha }}
                        {% end %}
                      </span>
                    </td>
				</tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
					  <img alt="验证码图片" id="captchaimg" src="" />&nbsp;
					  <a href="#" style="text-decoration: none;" 
						 onclick="$('#captchaimg').click();">看不清？换一张！</a>
					  <input type="hidden" name="captchahash" id="captchahash" value="" />
					</td>
				</tr>
				<tr>
				  <td></td>
				  <td align="left">
					<button type="submit" class="cbtns">登录</button>
					<button type="reset" class="cbtns">清空</button>
					<button style="display:none;" class="cbtns">清空</button>
				  </td>
				</tr>
			</table>
			</form>
		</div>
  	</div>
  </body>
</html>
